In [ ]:
# This notebook contains the code needed to interact with mySQL database
# ****Sections*****
# 1. Storing the Raw Data, from Quandl or from IB...
# 2. Storing Metadata (Costs data, Buy/Sell stats, Roll dates, Roll data, 
#         ...Historical Contango/Bacwardation statistics
# 3. Creating associated pysystemtrade Data object

In [10]:
# GENERATING and STORING RAW DATA
# Each Raw File will have the following format
# {Datetime, Open,High,Low,Settlement,Volume, Openinterest}
# Note: Quandl does not have consistent column naming across markets!

In [4]:
# Example... (Eurodollar)...
from dbutils.connect import *
import pandas as pd
from os import listdir
from os.path import isfile, join

hist_path = "quandl_history/"
maturity = 'EDOLLAR202003'
suffix = ".csv"
user = "root"
pwd = "admin"
database = "pkdemo"
host = "0.0.0.0"

dbmysql = opendb(username=user,password=pwd, database=database, port=3306, host=host)
dbmysql.connect()

# Load into database table the conents of filename
filename = hist_path + maturity + suffix
table = load_csv(dbmysql, filename,\
                 fields=['date','open','high','low','last','settle','volume'],\
                 fieldnames= ['Date','Open','High','Low','Last','Settle','Volume'],\
                 db_table='eurodollar')

/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'change' at row 1")
  result = self._query(query)
/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'last' at row 1")
  result = self._query(query)

In [7]:
'''from dbutils.connect import *
for row in EDOLLAR202003.select():
    print(row.date, row.high)'''

In [6]:
class Person(Model):
    name = CharField()
    birthday = DateField()
    is_relative = BooleanField()

    class Meta:
        database = dbmysql # This model uses the "people.db" database.

In [8]:
class Pet(Model):
    owner = ForeignKeyField(Person, related_name='pets')
    name = CharField()
    animal_type = CharField()

    class Meta:
        database = dbmysql # this model uses the "people.db" database

In [9]:
dbmysql.create_tables([Person, Pet])

In [10]:
from datetime import date
uncle_bob = Person(name='Bob', birthday=date(1960, 1, 15), is_relative=True)
uncle_bob.save() # bob is now stored in the database
grandma = Person.create(name='Grandma', birthday=date(1935, 3, 1), is_relative=True)
herb = Person.create(name='Herb', birthday=date(1950, 5, 5), is_relative=False)

In [11]:
for person in Person.select():
    print(person.name, person.is_relative)

Bob True
Grandma True
Herb False

In [18]:
from peewee import *
import playhouse
introspector = Introspector.from_database(dbmysql)
models = introspector.generate_models()
print(type(models))

NameError: name 'Introspector' is not defined

In [17]:
from peewee import *
from playhouse import *
help(playhouse)

Help on package playhouse:

NAME
    playhouse

PACKAGE CONTENTS
    apsw_ext
    berkeleydb
    csv_loader
    csv_utils
    dataset
    db_url
    djpeewee
    fields
    flask_utils
    gfk
    hybrid
    kv
    migrate
    pool
    postgres_ext
    read_slave
    reflection
    shortcuts
    signals
    sqlcipher_ext
    sqlite_ext
    sqlite_udf
    sqliteq
    test_utils

FILE
    /home/lope/envs/notebook/lib/python3.5/site-packages/playhouse/__init__.py

In [22]:
print("Pete")

Pete

In [89]:
class EDOLLAR202003(Model):
    date = DateField()
    open = FloatField()
    high = FloatField()
    low = FloatField()
    last = FloatField()
    settle = FloatField()
    volume = IntegerField()
    
    class Meta:
        database = dbmysql # This model uses the "people.db" database.
cur = dbmysql.create_table(EDOLLAR202003, safe=True)

In [34]:
for row in cur:
    print(row)

In [32]:
sq = EDOLLAR202003.select()
for row in sq:
    print(row.date)

In [36]:
print(cur)

<pymysql.cursors.Cursor object at 0x7f73477c5e48>

In [38]:
for row in cur.fetchall():
    print(row)

In [39]:
print(cur)

<pymysql.cursors.Cursor object at 0x7f73477c5e48>

In [58]:
cur2 = dbmysql.execute_sql('select * from EDOLLAR202003')
print("Pete")

Pete

In [49]:
import pandas as pd
df = pd.DataFrame.from_records((cur2, ['date', 'open']))
print(df.head(10))

      0     1
0  None  None
1  date  open

In [74]:
rows = pd.DataFrame(list('select * from person').dicts())
print(rows.tail(5))

AttributeError: 'list' object has no attribute 'dicts'

In [68]:
query = cur2.fetchall()
df = pd.DataFrame(list(query.dicts()))
print(df.tail(5))

AttributeError: 'tuple' object has no attribute 'dicts'

In [81]:
query = Person.select()
df = pd.DataFrame(list(query.dicts()))
df.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>birthday</th>
      <th>id</th>
      <th>is_relative</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1960-01-15</td>
      <td>1</td>
      <td>True</td>
      <td>Bob</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1935-03-01</td>
      <td>2</td>
      <td>True</td>
      <td>Grandma</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1950-05-05</td>
      <td>3</td>
      <td>False</td>
      <td>Herb</td>
    </tr>
  </tbody>
</table>
</div>

In [85]:
myquery = EDOLLAR202003.select()
df = pd.DataFrame(list(myquery.dicts()))
df.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [119]:
help(load_csv)

Help on function load_csv in module playhouse.csv_utils:

load_csv(db_or_model, file_or_name, fields=None, field_names=None, has_header=True, sample_size=10, converter=None, db_table=None, pk_in_csv=False, **reader_kwargs)
    Load the contents of a CSV file into a database and return a model class
    suitable for working with the CSV data.

    :param db_or_model: a peewee Database instance or a Model class.
    :param file_or_name: the filename of the CSV file *or* a file handle.
    :param list fields: A list of peewee Field() instances appropriate to
        the values in the CSV file.
    :param list field_names: A list of names to use for the fields.
    :param bool has_header: Whether the first row of the CSV file is a header.
    :param int sample_size: Number of rows to introspect if fields are not
        defined.
    :param converter: A RowConverter instance to use.
    :param str db_table: Name of table to store data in (if not specified, the
        table name will be derived from the CSV filename).
    :param reader_kwargs: Arbitrary arguments to pass to the CSV reader.

In [83]:
print(type(query), type(myquery))

<class 'peewee.SelectQuery'> <class 'peewee.SelectQuery'>

In [101]:
hist_path = "quandl_history/"
maturity = 'EDOLLAR202003'
suffix = ".csv"
user = "root"
pwd = "admin"
database = "pkdemo"
host = "0.0.0.0"

dbmysql = opendb(username=user,password=pwd, database=database, port=3306, host=host)
dbmysql.connect()

# Load into database table the conents of filename
filename = hist_path + maturity + suffix
table = load_csv(dbmysql, filename,\
                 db_table='eurodollar')
my = load_csv(d)

InternalError: (1054, "Unknown column 'date' in 'field list'")

In [105]:
class edollar(Model):
    date = DateField()
    open = FloatField()
    high = FloatField()
    low = FloatField()
    last = FloatField()
    settle = FloatField()
    volume = FloatField()
    
    class Meta:
        database = dbmysql # This model uses pkdemo

In [106]:
table = load_csv(edollar, filename)

/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'last' doesn't have a default value")
  result = self._query(query)
/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'settle' doesn't have a default value")
  result = self._query(query)

/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'open' doesn't have a default value")
  result = self._query(query)
/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'low' doesn't have a default value")
  result = self._query(query)

In [121]:
class zedollar(Model):
    date = DateField()
    open = FloatField()
    high = FloatField()
    low = FloatField()
    last = FloatField()
    change = FloatField()
    settle = FloatField()
    volume = FloatField()
    openinterest = FloatField()
    
    class Meta:
        database = dbmysql # This model uses pkdemo
table = load_csv(zedollar, filename, field_names=['date','open','high','low','last','change','settle','volume','openinterest'])

/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'last' doesn't have a default value")
  result = self._query(query)
/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'change' doesn't have a default value")
  result = self._query(query)

/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'open' doesn't have a default value")
  result = self._query(query)
/home/lope/envs/notebook/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1364, "Field 'low' doesn't have a default value")
  result = self._query(query)

In [122]:
query = zedollar.select()
df = pd.DataFrame(list(query.dicts()))
df.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>date</th>
      <th>high</th>
      <th>id</th>
      <th>last</th>
      <th>low</th>
      <th>open</th>
      <th>openinterest</th>
      <th>settle</th>
      <th>volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1741</th>
      <td>0.005</td>
      <td>2017-03-14</td>
      <td>97.425</td>
      <td>1742</td>
      <td>97.400</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>274710.0</td>
      <td>97.400</td>
      <td>67693.0</td>
    </tr>
    <tr>
      <th>1742</th>
      <td>0.125</td>
      <td>2017-03-15</td>
      <td>97.550</td>
      <td>1743</td>
      <td>97.545</td>
      <td>97.395</td>
      <td>97.400</td>
      <td>281523.0</td>
      <td>97.525</td>
      <td>150978.0</td>
    </tr>
    <tr>
      <th>1743</th>
      <td>0.005</td>
      <td>2017-03-16</td>
      <td>97.550</td>
      <td>1744</td>
      <td>97.505</td>
      <td>97.490</td>
      <td>97.545</td>
      <td>288710.0</td>
      <td>97.530</td>
      <td>114919.0</td>
    </tr>
    <tr>
      <th>1744</th>
      <td>0.010</td>
      <td>2017-03-17</td>
      <td>97.560</td>
      <td>1745</td>
      <td>97.545</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>289607.0</td>
      <td>97.540</td>
      <td>45036.0</td>
    </tr>
    <tr>
      <th>1745</th>
      <td>0.040</td>
      <td>2017-03-20</td>
      <td>97.590</td>
      <td>1746</td>
      <td>97.590</td>
      <td>97.540</td>
      <td>97.550</td>
      <td>290182.0</td>
      <td>97.580</td>
      <td>54458.0</td>
    </tr>
  </tbody>
</table>
</div>

In [124]:
df.rename(columns={"date":"DATETIME",\
                   "open":"OPEN",\
                   "high":"HIGH",\
                   "low":"LOW",\
                   "settle":"SETTLE",\
                   "volume":"VOLUME",\
    
                   "openinterest":"OPENINTEREST"},
          inplace=True)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>DATETIME</th>
      <th>HIGH</th>
      <th>id</th>
      <th>last</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>OPENINTEREST</th>
      <th>SETTLE</th>
      <th>VOLUME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.000</td>
      <td>2010-04-01</td>
      <td>94.080</td>
      <td>1</td>
      <td>0.000</td>
      <td>94.015</td>
      <td>94.055</td>
      <td>100.0</td>
      <td>94.080</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.000</td>
      <td>2010-04-05</td>
      <td>93.970</td>
      <td>2</td>
      <td>0.000</td>
      <td>93.840</td>
      <td>93.970</td>
      <td>150.0</td>
      <td>93.940</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.000</td>
      <td>2010-04-06</td>
      <td>94.050</td>
      <td>3</td>
      <td>0.000</td>
      <td>94.020</td>
      <td>94.040</td>
      <td>201.0</td>
      <td>94.020</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.000</td>
      <td>2010-04-07</td>
      <td>94.130</td>
      <td>4</td>
      <td>0.000</td>
      <td>94.030</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.130</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.000</td>
      <td>2010-04-08</td>
      <td>94.170</td>
      <td>5</td>
      <td>0.000</td>
      <td>94.090</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.100</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.000</td>
      <td>2010-04-09</td>
      <td>94.100</td>
      <td>6</td>
      <td>0.000</td>
      <td>94.050</td>
      <td>94.050</td>
      <td>254.0</td>
      <td>94.100</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.000</td>
      <td>2010-04-12</td>
      <td>94.195</td>
      <td>7</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>0.000</td>
      <td>304.0</td>
      <td>94.195</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.000</td>
      <td>2010-04-13</td>
      <td>94.275</td>
      <td>8</td>
      <td>0.000</td>
      <td>94.215</td>
      <td>94.245</td>
      <td>304.0</td>
      <td>94.265</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.000</td>
      <td>2010-04-14</td>
      <td>94.235</td>
      <td>9</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>94.235</td>
      <td>354.0</td>
      <td>94.180</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.000</td>
      <td>2010-04-15</td>
      <td>94.190</td>
      <td>10</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>94.150</td>
      <td>404.0</td>
      <td>94.165</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.000</td>
      <td>2010-04-16</td>
      <td>94.230</td>
      <td>11</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.230</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.000</td>
      <td>2010-04-19</td>
      <td>94.200</td>
      <td>12</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.155</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.000</td>
      <td>2010-04-20</td>
      <td>94.190</td>
      <td>13</td>
      <td>0.000</td>
      <td>94.165</td>
      <td>94.165</td>
      <td>429.0</td>
      <td>94.190</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.000</td>
      <td>2010-04-21</td>
      <td>94.290</td>
      <td>14</td>
      <td>0.000</td>
      <td>94.195</td>
      <td>94.195</td>
      <td>427.0</td>
      <td>94.280</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.000</td>
      <td>2010-04-22</td>
      <td>94.275</td>
      <td>15</td>
      <td>0.000</td>
      <td>94.220</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.235</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.000</td>
      <td>2010-04-23</td>
      <td>94.205</td>
      <td>16</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.205</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.000</td>
      <td>2010-04-26</td>
      <td>94.235</td>
      <td>17</td>
      <td>0.000</td>
      <td>94.205</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.210</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.000</td>
      <td>2010-04-27</td>
      <td>94.320</td>
      <td>18</td>
      <td>0.000</td>
      <td>94.245</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.320</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.000</td>
      <td>2010-04-28</td>
      <td>94.260</td>
      <td>19</td>
      <td>0.000</td>
      <td>94.200</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.240</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.000</td>
      <td>2010-04-29</td>
      <td>94.330</td>
      <td>20</td>
      <td>0.000</td>
      <td>94.250</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.330</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.000</td>
      <td>2010-04-30</td>
      <td>94.420</td>
      <td>21</td>
      <td>0.000</td>
      <td>94.300</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.410</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.000</td>
      <td>2010-05-03</td>
      <td>94.370</td>
      <td>22</td>
      <td>0.000</td>
      <td>94.330</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.370</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.000</td>
      <td>2010-05-04</td>
      <td>94.505</td>
      <td>23</td>
      <td>0.000</td>
      <td>94.450</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.505</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.000</td>
      <td>2010-05-05</td>
      <td>94.635</td>
      <td>24</td>
      <td>0.000</td>
      <td>94.565</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.590</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.000</td>
      <td>2010-05-06</td>
      <td>94.940</td>
      <td>25</td>
      <td>0.000</td>
      <td>94.580</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.695</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.000</td>
      <td>2010-05-07</td>
      <td>94.715</td>
      <td>26</td>
      <td>0.000</td>
      <td>94.525</td>
      <td>94.525</td>
      <td>431.0</td>
      <td>94.620</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.000</td>
      <td>2010-05-10</td>
      <td>94.520</td>
      <td>27</td>
      <td>0.000</td>
      <td>94.465</td>
      <td>0.000</td>
      <td>471.0</td>
      <td>94.465</td>
      <td>40.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.000</td>
      <td>2010-05-11</td>
      <td>94.515</td>
      <td>28</td>
      <td>0.000</td>
      <td>94.435</td>
      <td>94.515</td>
      <td>471.0</td>
      <td>94.455</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.000</td>
      <td>2010-05-12</td>
      <td>94.475</td>
      <td>29</td>
      <td>0.000</td>
      <td>94.430</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.430</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.000</td>
      <td>2010-05-13</td>
      <td>94.460</td>
      <td>30</td>
      <td>0.000</td>
      <td>94.420</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.435</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1716</th>
      <td>0.085</td>
      <td>2017-02-06</td>
      <td>97.710</td>
      <td>1717</td>
      <td>97.705</td>
      <td>97.625</td>
      <td>97.630</td>
      <td>310743.0</td>
      <td>97.695</td>
      <td>75657.0</td>
    </tr>
    <tr>
      <th>1717</th>
      <td>0.020</td>
      <td>2017-02-07</td>
      <td>97.745</td>
      <td>1718</td>
      <td>97.710</td>
      <td>97.660</td>
      <td>97.705</td>
      <td>310984.0</td>
      <td>97.715</td>
      <td>95746.0</td>
    </tr>
    <tr>
      <th>1718</th>
      <td>0.055</td>
      <td>2017-02-08</td>
      <td>97.795</td>
      <td>1719</td>
      <td>97.790</td>
      <td>97.695</td>
      <td>97.710</td>
      <td>315508.0</td>
      <td>97.770</td>
      <td>104386.0</td>
    </tr>
    <tr>
      <th>1719</th>
      <td>0.060</td>
      <td>2017-02-09</td>
      <td>97.785</td>
      <td>1720</td>
      <td>97.705</td>
      <td>97.700</td>
      <td>97.780</td>
      <td>300644.0</td>
      <td>97.710</td>
      <td>58974.0</td>
    </tr>
    <tr>
      <th>1720</th>
      <td>0.030</td>
      <td>2017-02-10</td>
      <td>97.710</td>
      <td>1721</td>
      <td>97.685</td>
      <td>97.665</td>
      <td>97.710</td>
      <td>300706.0</td>
      <td>97.680</td>
      <td>69925.0</td>
    </tr>
    <tr>
      <th>1721</th>
      <td>0.030</td>
      <td>2017-02-13</td>
      <td>97.675</td>
      <td>1722</td>
      <td>97.645</td>
      <td>97.635</td>
      <td>97.675</td>
      <td>260276.0</td>
      <td>97.650</td>
      <td>42917.0</td>
    </tr>
    <tr>
      <th>1722</th>
      <td>0.050</td>
      <td>2017-02-14</td>
      <td>97.660</td>
      <td>1723</td>
      <td>97.595</td>
      <td>97.565</td>
      <td>97.645</td>
      <td>256520.0</td>
      <td>97.600</td>
      <td>77882.0</td>
    </tr>
    <tr>
      <th>1723</th>
      <td>0.045</td>
      <td>2017-02-15</td>
      <td>97.600</td>
      <td>1724</td>
      <td>97.570</td>
      <td>97.525</td>
      <td>97.600</td>
      <td>259392.0</td>
      <td>97.555</td>
      <td>76694.0</td>
    </tr>
    <tr>
      <th>1724</th>
      <td>0.065</td>
      <td>2017-02-16</td>
      <td>97.640</td>
      <td>1725</td>
      <td>97.620</td>
      <td>97.560</td>
      <td>97.565</td>
      <td>260481.0</td>
      <td>97.620</td>
      <td>66318.0</td>
    </tr>
    <tr>
      <th>1725</th>
      <td>0.025</td>
      <td>2017-02-17</td>
      <td>97.680</td>
      <td>1726</td>
      <td>97.650</td>
      <td>97.605</td>
      <td>97.620</td>
      <td>264406.0</td>
      <td>97.645</td>
      <td>48567.0</td>
    </tr>
    <tr>
      <th>1726</th>
      <td>0.030</td>
      <td>2017-02-21</td>
      <td>97.655</td>
      <td>1727</td>
      <td>97.610</td>
      <td>97.590</td>
      <td>97.650</td>
      <td>257202.0</td>
      <td>97.615</td>
      <td>43186.0</td>
    </tr>
    <tr>
      <th>1727</th>
      <td>0.025</td>
      <td>2017-02-22</td>
      <td>97.665</td>
      <td>1728</td>
      <td>97.650</td>
      <td>97.585</td>
      <td>97.610</td>
      <td>259636.0</td>
      <td>97.640</td>
      <td>66405.0</td>
    </tr>
    <tr>
      <th>1728</th>
      <td>0.045</td>
      <td>2017-02-23</td>
      <td>97.705</td>
      <td>1729</td>
      <td>97.700</td>
      <td>97.640</td>
      <td>97.650</td>
      <td>261193.0</td>
      <td>97.685</td>
      <td>92130.0</td>
    </tr>
    <tr>
      <th>1729</th>
      <td>0.080</td>
      <td>2017-02-24</td>
      <td>97.770</td>
      <td>1730</td>
      <td>97.755</td>
      <td>97.690</td>
      <td>97.700</td>
      <td>257711.0</td>
      <td>97.765</td>
      <td>63458.0</td>
    </tr>
    <tr>
      <th>1730</th>
      <td>0.080</td>
      <td>2017-02-27</td>
      <td>97.760</td>
      <td>1731</td>
      <td>97.690</td>
      <td>97.685</td>
      <td>97.760</td>
      <td>254837.0</td>
      <td>97.685</td>
      <td>81995.0</td>
    </tr>
    <tr>
      <th>1731</th>
      <td>0.005</td>
      <td>2017-02-28</td>
      <td>97.725</td>
      <td>1732</td>
      <td>97.630</td>
      <td>97.605</td>
      <td>97.690</td>
      <td>265939.0</td>
      <td>97.680</td>
      <td>79446.0</td>
    </tr>
    <tr>
      <th>1732</th>
      <td>0.120</td>
      <td>2017-03-01</td>
      <td>97.625</td>
      <td>1733</td>
      <td>97.565</td>
      <td>97.540</td>
      <td>97.625</td>
      <td>261355.0</td>
      <td>97.560</td>
      <td>85357.0</td>
    </tr>
    <tr>
      <th>1733</th>
      <td>0.050</td>
      <td>2017-03-02</td>
      <td>97.585</td>
      <td>1734</td>
      <td>97.520</td>
      <td>97.490</td>
      <td>97.565</td>
      <td>262005.0</td>
      <td>97.510</td>
      <td>86976.0</td>
    </tr>
    <tr>
      <th>1734</th>
      <td>0.000</td>
      <td>2017-03-03</td>
      <td>97.535</td>
      <td>1735</td>
      <td>97.520</td>
      <td>97.455</td>
      <td>97.515</td>
      <td>269480.0</td>
      <td>97.510</td>
      <td>81760.0</td>
    </tr>
    <tr>
      <th>1735</th>
      <td>0.020</td>
      <td>2017-03-06</td>
      <td>97.555</td>
      <td>1736</td>
      <td>97.525</td>
      <td>97.510</td>
      <td>97.515</td>
      <td>270475.0</td>
      <td>97.530</td>
      <td>56943.0</td>
    </tr>
    <tr>
      <th>1736</th>
      <td>0.015</td>
      <td>2017-03-07</td>
      <td>97.540</td>
      <td>1737</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>97.525</td>
      <td>271379.0</td>
      <td>97.515</td>
      <td>58056.0</td>
    </tr>
    <tr>
      <th>1737</th>
      <td>0.045</td>
      <td>2017-03-08</td>
      <td>97.520</td>
      <td>1738</td>
      <td>97.450</td>
      <td>97.435</td>
      <td>97.505</td>
      <td>293852.0</td>
      <td>97.470</td>
      <td>96110.0</td>
    </tr>
    <tr>
      <th>1738</th>
      <td>0.065</td>
      <td>2017-03-09</td>
      <td>97.460</td>
      <td>1739</td>
      <td>97.390</td>
      <td>97.390</td>
      <td>97.445</td>
      <td>303175.0</td>
      <td>97.405</td>
      <td>70047.0</td>
    </tr>
    <tr>
      <th>1739</th>
      <td>0.010</td>
      <td>2017-03-10</td>
      <td>97.440</td>
      <td>1740</td>
      <td>97.420</td>
      <td>97.375</td>
      <td>97.390</td>
      <td>309815.0</td>
      <td>97.415</td>
      <td>125755.0</td>
    </tr>
    <tr>
      <th>1740</th>
      <td>0.010</td>
      <td>2017-03-13</td>
      <td>97.455</td>
      <td>1741</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>97.425</td>
      <td>270005.0</td>
      <td>97.405</td>
      <td>117029.0</td>
    </tr>
    <tr>
      <th>1741</th>
      <td>0.005</td>
      <td>2017-03-14</td>
      <td>97.425</td>
      <td>1742</td>
      <td>97.400</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>274710.0</td>
      <td>97.400</td>
      <td>67693.0</td>
    </tr>
    <tr>
      <th>1742</th>
      <td>0.125</td>
      <td>2017-03-15</td>
      <td>97.550</td>
      <td>1743</td>
      <td>97.545</td>
      <td>97.395</td>
      <td>97.400</td>
      <td>281523.0</td>
      <td>97.525</td>
      <td>150978.0</td>
    </tr>
    <tr>
      <th>1743</th>
      <td>0.005</td>
      <td>2017-03-16</td>
      <td>97.550</td>
      <td>1744</td>
      <td>97.505</td>
      <td>97.490</td>
      <td>97.545</td>
      <td>288710.0</td>
      <td>97.530</td>
      <td>114919.0</td>
    </tr>
    <tr>
      <th>1744</th>
      <td>0.010</td>
      <td>2017-03-17</td>
      <td>97.560</td>
      <td>1745</td>
      <td>97.545</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>289607.0</td>
      <td>97.540</td>
      <td>45036.0</td>
    </tr>
    <tr>
      <th>1745</th>
      <td>0.040</td>
      <td>2017-03-20</td>
      <td>97.590</td>
      <td>1746</td>
      <td>97.590</td>
      <td>97.540</td>
      <td>97.550</td>
      <td>290182.0</td>
      <td>97.580</td>
      <td>54458.0</td>
    </tr>
  </tbody>
</table>
<p>1746 rows  10 columns</p>
</div>

In [125]:
df.head(6)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>DATETIME</th>
      <th>HIGH</th>
      <th>id</th>
      <th>last</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>OPENINTEREST</th>
      <th>SETTLE</th>
      <th>VOLUME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>2010-04-01</td>
      <td>94.08</td>
      <td>1</td>
      <td>0.0</td>
      <td>94.015</td>
      <td>94.055</td>
      <td>100.0</td>
      <td>94.08</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>2010-04-05</td>
      <td>93.97</td>
      <td>2</td>
      <td>0.0</td>
      <td>93.840</td>
      <td>93.970</td>
      <td>150.0</td>
      <td>93.94</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>2010-04-06</td>
      <td>94.05</td>
      <td>3</td>
      <td>0.0</td>
      <td>94.020</td>
      <td>94.040</td>
      <td>201.0</td>
      <td>94.02</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.0</td>
      <td>2010-04-07</td>
      <td>94.13</td>
      <td>4</td>
      <td>0.0</td>
      <td>94.030</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.13</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.0</td>
      <td>2010-04-08</td>
      <td>94.17</td>
      <td>5</td>
      <td>0.0</td>
      <td>94.090</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.0</td>
      <td>2010-04-09</td>
      <td>94.10</td>
      <td>6</td>
      <td>0.0</td>
      <td>94.050</td>
      <td>94.050</td>
      <td>254.0</td>
      <td>94.10</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

In [126]:
df.set_index('DATETIME',inplace=True)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>HIGH</th>
      <th>id</th>
      <th>last</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>OPENINTEREST</th>
      <th>SETTLE</th>
      <th>VOLUME</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-04-01</th>
      <td>0.000</td>
      <td>94.080</td>
      <td>1</td>
      <td>0.000</td>
      <td>94.015</td>
      <td>94.055</td>
      <td>100.0</td>
      <td>94.080</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-05</th>
      <td>0.000</td>
      <td>93.970</td>
      <td>2</td>
      <td>0.000</td>
      <td>93.840</td>
      <td>93.970</td>
      <td>150.0</td>
      <td>93.940</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-06</th>
      <td>0.000</td>
      <td>94.050</td>
      <td>3</td>
      <td>0.000</td>
      <td>94.020</td>
      <td>94.040</td>
      <td>201.0</td>
      <td>94.020</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>2010-04-07</th>
      <td>0.000</td>
      <td>94.130</td>
      <td>4</td>
      <td>0.000</td>
      <td>94.030</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.130</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-08</th>
      <td>0.000</td>
      <td>94.170</td>
      <td>5</td>
      <td>0.000</td>
      <td>94.090</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.100</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-09</th>
      <td>0.000</td>
      <td>94.100</td>
      <td>6</td>
      <td>0.000</td>
      <td>94.050</td>
      <td>94.050</td>
      <td>254.0</td>
      <td>94.100</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>2010-04-12</th>
      <td>0.000</td>
      <td>94.195</td>
      <td>7</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>0.000</td>
      <td>304.0</td>
      <td>94.195</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-13</th>
      <td>0.000</td>
      <td>94.275</td>
      <td>8</td>
      <td>0.000</td>
      <td>94.215</td>
      <td>94.245</td>
      <td>304.0</td>
      <td>94.265</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-14</th>
      <td>0.000</td>
      <td>94.235</td>
      <td>9</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>94.235</td>
      <td>354.0</td>
      <td>94.180</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-15</th>
      <td>0.000</td>
      <td>94.190</td>
      <td>10</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>94.150</td>
      <td>404.0</td>
      <td>94.165</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-16</th>
      <td>0.000</td>
      <td>94.230</td>
      <td>11</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.230</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>2010-04-19</th>
      <td>0.000</td>
      <td>94.200</td>
      <td>12</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.155</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-20</th>
      <td>0.000</td>
      <td>94.190</td>
      <td>13</td>
      <td>0.000</td>
      <td>94.165</td>
      <td>94.165</td>
      <td>429.0</td>
      <td>94.190</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-21</th>
      <td>0.000</td>
      <td>94.290</td>
      <td>14</td>
      <td>0.000</td>
      <td>94.195</td>
      <td>94.195</td>
      <td>427.0</td>
      <td>94.280</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2010-04-22</th>
      <td>0.000</td>
      <td>94.275</td>
      <td>15</td>
      <td>0.000</td>
      <td>94.220</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.235</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>2010-04-23</th>
      <td>0.000</td>
      <td>94.205</td>
      <td>16</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.205</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>2010-04-26</th>
      <td>0.000</td>
      <td>94.235</td>
      <td>17</td>
      <td>0.000</td>
      <td>94.205</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.210</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-27</th>
      <td>0.000</td>
      <td>94.320</td>
      <td>18</td>
      <td>0.000</td>
      <td>94.245</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.320</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-28</th>
      <td>0.000</td>
      <td>94.260</td>
      <td>19</td>
      <td>0.000</td>
      <td>94.200</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.240</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-29</th>
      <td>0.000</td>
      <td>94.330</td>
      <td>20</td>
      <td>0.000</td>
      <td>94.250</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.330</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-30</th>
      <td>0.000</td>
      <td>94.420</td>
      <td>21</td>
      <td>0.000</td>
      <td>94.300</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.410</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-03</th>
      <td>0.000</td>
      <td>94.370</td>
      <td>22</td>
      <td>0.000</td>
      <td>94.330</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.370</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-04</th>
      <td>0.000</td>
      <td>94.505</td>
      <td>23</td>
      <td>0.000</td>
      <td>94.450</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.505</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-05</th>
      <td>0.000</td>
      <td>94.635</td>
      <td>24</td>
      <td>0.000</td>
      <td>94.565</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.590</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-06</th>
      <td>0.000</td>
      <td>94.940</td>
      <td>25</td>
      <td>0.000</td>
      <td>94.580</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.695</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-07</th>
      <td>0.000</td>
      <td>94.715</td>
      <td>26</td>
      <td>0.000</td>
      <td>94.525</td>
      <td>94.525</td>
      <td>431.0</td>
      <td>94.620</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-10</th>
      <td>0.000</td>
      <td>94.520</td>
      <td>27</td>
      <td>0.000</td>
      <td>94.465</td>
      <td>0.000</td>
      <td>471.0</td>
      <td>94.465</td>
      <td>40.0</td>
    </tr>
    <tr>
      <th>2010-05-11</th>
      <td>0.000</td>
      <td>94.515</td>
      <td>28</td>
      <td>0.000</td>
      <td>94.435</td>
      <td>94.515</td>
      <td>471.0</td>
      <td>94.455</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-12</th>
      <td>0.000</td>
      <td>94.475</td>
      <td>29</td>
      <td>0.000</td>
      <td>94.430</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.430</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>2010-05-13</th>
      <td>0.000</td>
      <td>94.460</td>
      <td>30</td>
      <td>0.000</td>
      <td>94.420</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.435</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-02-06</th>
      <td>0.085</td>
      <td>97.710</td>
      <td>1717</td>
      <td>97.705</td>
      <td>97.625</td>
      <td>97.630</td>
      <td>310743.0</td>
      <td>97.695</td>
      <td>75657.0</td>
    </tr>
    <tr>
      <th>2017-02-07</th>
      <td>0.020</td>
      <td>97.745</td>
      <td>1718</td>
      <td>97.710</td>
      <td>97.660</td>
      <td>97.705</td>
      <td>310984.0</td>
      <td>97.715</td>
      <td>95746.0</td>
    </tr>
    <tr>
      <th>2017-02-08</th>
      <td>0.055</td>
      <td>97.795</td>
      <td>1719</td>
      <td>97.790</td>
      <td>97.695</td>
      <td>97.710</td>
      <td>315508.0</td>
      <td>97.770</td>
      <td>104386.0</td>
    </tr>
    <tr>
      <th>2017-02-09</th>
      <td>0.060</td>
      <td>97.785</td>
      <td>1720</td>
      <td>97.705</td>
      <td>97.700</td>
      <td>97.780</td>
      <td>300644.0</td>
      <td>97.710</td>
      <td>58974.0</td>
    </tr>
    <tr>
      <th>2017-02-10</th>
      <td>0.030</td>
      <td>97.710</td>
      <td>1721</td>
      <td>97.685</td>
      <td>97.665</td>
      <td>97.710</td>
      <td>300706.0</td>
      <td>97.680</td>
      <td>69925.0</td>
    </tr>
    <tr>
      <th>2017-02-13</th>
      <td>0.030</td>
      <td>97.675</td>
      <td>1722</td>
      <td>97.645</td>
      <td>97.635</td>
      <td>97.675</td>
      <td>260276.0</td>
      <td>97.650</td>
      <td>42917.0</td>
    </tr>
    <tr>
      <th>2017-02-14</th>
      <td>0.050</td>
      <td>97.660</td>
      <td>1723</td>
      <td>97.595</td>
      <td>97.565</td>
      <td>97.645</td>
      <td>256520.0</td>
      <td>97.600</td>
      <td>77882.0</td>
    </tr>
    <tr>
      <th>2017-02-15</th>
      <td>0.045</td>
      <td>97.600</td>
      <td>1724</td>
      <td>97.570</td>
      <td>97.525</td>
      <td>97.600</td>
      <td>259392.0</td>
      <td>97.555</td>
      <td>76694.0</td>
    </tr>
    <tr>
      <th>2017-02-16</th>
      <td>0.065</td>
      <td>97.640</td>
      <td>1725</td>
      <td>97.620</td>
      <td>97.560</td>
      <td>97.565</td>
      <td>260481.0</td>
      <td>97.620</td>
      <td>66318.0</td>
    </tr>
    <tr>
      <th>2017-02-17</th>
      <td>0.025</td>
      <td>97.680</td>
      <td>1726</td>
      <td>97.650</td>
      <td>97.605</td>
      <td>97.620</td>
      <td>264406.0</td>
      <td>97.645</td>
      <td>48567.0</td>
    </tr>
    <tr>
      <th>2017-02-21</th>
      <td>0.030</td>
      <td>97.655</td>
      <td>1727</td>
      <td>97.610</td>
      <td>97.590</td>
      <td>97.650</td>
      <td>257202.0</td>
      <td>97.615</td>
      <td>43186.0</td>
    </tr>
    <tr>
      <th>2017-02-22</th>
      <td>0.025</td>
      <td>97.665</td>
      <td>1728</td>
      <td>97.650</td>
      <td>97.585</td>
      <td>97.610</td>
      <td>259636.0</td>
      <td>97.640</td>
      <td>66405.0</td>
    </tr>
    <tr>
      <th>2017-02-23</th>
      <td>0.045</td>
      <td>97.705</td>
      <td>1729</td>
      <td>97.700</td>
      <td>97.640</td>
      <td>97.650</td>
      <td>261193.0</td>
      <td>97.685</td>
      <td>92130.0</td>
    </tr>
    <tr>
      <th>2017-02-24</th>
      <td>0.080</td>
      <td>97.770</td>
      <td>1730</td>
      <td>97.755</td>
      <td>97.690</td>
      <td>97.700</td>
      <td>257711.0</td>
      <td>97.765</td>
      <td>63458.0</td>
    </tr>
    <tr>
      <th>2017-02-27</th>
      <td>0.080</td>
      <td>97.760</td>
      <td>1731</td>
      <td>97.690</td>
      <td>97.685</td>
      <td>97.760</td>
      <td>254837.0</td>
      <td>97.685</td>
      <td>81995.0</td>
    </tr>
    <tr>
      <th>2017-02-28</th>
      <td>0.005</td>
      <td>97.725</td>
      <td>1732</td>
      <td>97.630</td>
      <td>97.605</td>
      <td>97.690</td>
      <td>265939.0</td>
      <td>97.680</td>
      <td>79446.0</td>
    </tr>
    <tr>
      <th>2017-03-01</th>
      <td>0.120</td>
      <td>97.625</td>
      <td>1733</td>
      <td>97.565</td>
      <td>97.540</td>
      <td>97.625</td>
      <td>261355.0</td>
      <td>97.560</td>
      <td>85357.0</td>
    </tr>
    <tr>
      <th>2017-03-02</th>
      <td>0.050</td>
      <td>97.585</td>
      <td>1734</td>
      <td>97.520</td>
      <td>97.490</td>
      <td>97.565</td>
      <td>262005.0</td>
      <td>97.510</td>
      <td>86976.0</td>
    </tr>
    <tr>
      <th>2017-03-03</th>
      <td>0.000</td>
      <td>97.535</td>
      <td>1735</td>
      <td>97.520</td>
      <td>97.455</td>
      <td>97.515</td>
      <td>269480.0</td>
      <td>97.510</td>
      <td>81760.0</td>
    </tr>
    <tr>
      <th>2017-03-06</th>
      <td>0.020</td>
      <td>97.555</td>
      <td>1736</td>
      <td>97.525</td>
      <td>97.510</td>
      <td>97.515</td>
      <td>270475.0</td>
      <td>97.530</td>
      <td>56943.0</td>
    </tr>
    <tr>
      <th>2017-03-07</th>
      <td>0.015</td>
      <td>97.540</td>
      <td>1737</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>97.525</td>
      <td>271379.0</td>
      <td>97.515</td>
      <td>58056.0</td>
    </tr>
    <tr>
      <th>2017-03-08</th>
      <td>0.045</td>
      <td>97.520</td>
      <td>1738</td>
      <td>97.450</td>
      <td>97.435</td>
      <td>97.505</td>
      <td>293852.0</td>
      <td>97.470</td>
      <td>96110.0</td>
    </tr>
    <tr>
      <th>2017-03-09</th>
      <td>0.065</td>
      <td>97.460</td>
      <td>1739</td>
      <td>97.390</td>
      <td>97.390</td>
      <td>97.445</td>
      <td>303175.0</td>
      <td>97.405</td>
      <td>70047.0</td>
    </tr>
    <tr>
      <th>2017-03-10</th>
      <td>0.010</td>
      <td>97.440</td>
      <td>1740</td>
      <td>97.420</td>
      <td>97.375</td>
      <td>97.390</td>
      <td>309815.0</td>
      <td>97.415</td>
      <td>125755.0</td>
    </tr>
    <tr>
      <th>2017-03-13</th>
      <td>0.010</td>
      <td>97.455</td>
      <td>1741</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>97.425</td>
      <td>270005.0</td>
      <td>97.405</td>
      <td>117029.0</td>
    </tr>
    <tr>
      <th>2017-03-14</th>
      <td>0.005</td>
      <td>97.425</td>
      <td>1742</td>
      <td>97.400</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>274710.0</td>
      <td>97.400</td>
      <td>67693.0</td>
    </tr>
    <tr>
      <th>2017-03-15</th>
      <td>0.125</td>
      <td>97.550</td>
      <td>1743</td>
      <td>97.545</td>
      <td>97.395</td>
      <td>97.400</td>
      <td>281523.0</td>
      <td>97.525</td>
      <td>150978.0</td>
    </tr>
    <tr>
      <th>2017-03-16</th>
      <td>0.005</td>
      <td>97.550</td>
      <td>1744</td>
      <td>97.505</td>
      <td>97.490</td>
      <td>97.545</td>
      <td>288710.0</td>
      <td>97.530</td>
      <td>114919.0</td>
    </tr>
    <tr>
      <th>2017-03-17</th>
      <td>0.010</td>
      <td>97.560</td>
      <td>1745</td>
      <td>97.545</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>289607.0</td>
      <td>97.540</td>
      <td>45036.0</td>
    </tr>
    <tr>
      <th>2017-03-20</th>
      <td>0.040</td>
      <td>97.590</td>
      <td>1746</td>
      <td>97.590</td>
      <td>97.540</td>
      <td>97.550</td>
      <td>290182.0</td>
      <td>97.580</td>
      <td>54458.0</td>
    </tr>
  </tbody>
</table>
<p>1746 rows  9 columns</p>
</div>

In [128]:
df.index.values

array([datetime.date(2010, 4, 1), datetime.date(2010, 4, 5),
       datetime.date(2010, 4, 6), ..., datetime.date(2017, 3, 16),
       datetime.date(2017, 3, 17), datetime.date(2017, 3, 20)], dtype=object)

In [130]:
df.loc[['DATETIME']> datetime.date(2017,3,16)]

TypeError: unorderable types: list() > datetime.date()

In [142]:
df[:1].index[0]

datetime.date(2010, 4, 1)

In [143]:
dt = datetime.date(2010, 4, 1)

In [144]:
dt

datetime.date(2010, 4, 1)

In [146]:
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>HIGH</th>
      <th>id</th>
      <th>last</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>OPENINTEREST</th>
      <th>SETTLE</th>
      <th>VOLUME</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-04-01</th>
      <td>0.000</td>
      <td>94.080</td>
      <td>1</td>
      <td>0.000</td>
      <td>94.015</td>
      <td>94.055</td>
      <td>100.0</td>
      <td>94.080</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-05</th>
      <td>0.000</td>
      <td>93.970</td>
      <td>2</td>
      <td>0.000</td>
      <td>93.840</td>
      <td>93.970</td>
      <td>150.0</td>
      <td>93.940</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-06</th>
      <td>0.000</td>
      <td>94.050</td>
      <td>3</td>
      <td>0.000</td>
      <td>94.020</td>
      <td>94.040</td>
      <td>201.0</td>
      <td>94.020</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>2010-04-07</th>
      <td>0.000</td>
      <td>94.130</td>
      <td>4</td>
      <td>0.000</td>
      <td>94.030</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.130</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-08</th>
      <td>0.000</td>
      <td>94.170</td>
      <td>5</td>
      <td>0.000</td>
      <td>94.090</td>
      <td>0.000</td>
      <td>251.0</td>
      <td>94.100</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-09</th>
      <td>0.000</td>
      <td>94.100</td>
      <td>6</td>
      <td>0.000</td>
      <td>94.050</td>
      <td>94.050</td>
      <td>254.0</td>
      <td>94.100</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>2010-04-12</th>
      <td>0.000</td>
      <td>94.195</td>
      <td>7</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>0.000</td>
      <td>304.0</td>
      <td>94.195</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-13</th>
      <td>0.000</td>
      <td>94.275</td>
      <td>8</td>
      <td>0.000</td>
      <td>94.215</td>
      <td>94.245</td>
      <td>304.0</td>
      <td>94.265</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-14</th>
      <td>0.000</td>
      <td>94.235</td>
      <td>9</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>94.235</td>
      <td>354.0</td>
      <td>94.180</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-15</th>
      <td>0.000</td>
      <td>94.190</td>
      <td>10</td>
      <td>0.000</td>
      <td>94.130</td>
      <td>94.150</td>
      <td>404.0</td>
      <td>94.165</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>2010-04-16</th>
      <td>0.000</td>
      <td>94.230</td>
      <td>11</td>
      <td>0.000</td>
      <td>94.175</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.230</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>2010-04-19</th>
      <td>0.000</td>
      <td>94.200</td>
      <td>12</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>429.0</td>
      <td>94.155</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-20</th>
      <td>0.000</td>
      <td>94.190</td>
      <td>13</td>
      <td>0.000</td>
      <td>94.165</td>
      <td>94.165</td>
      <td>429.0</td>
      <td>94.190</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-21</th>
      <td>0.000</td>
      <td>94.290</td>
      <td>14</td>
      <td>0.000</td>
      <td>94.195</td>
      <td>94.195</td>
      <td>427.0</td>
      <td>94.280</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2010-04-22</th>
      <td>0.000</td>
      <td>94.275</td>
      <td>15</td>
      <td>0.000</td>
      <td>94.220</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.235</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>2010-04-23</th>
      <td>0.000</td>
      <td>94.205</td>
      <td>16</td>
      <td>0.000</td>
      <td>94.155</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.205</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>2010-04-26</th>
      <td>0.000</td>
      <td>94.235</td>
      <td>17</td>
      <td>0.000</td>
      <td>94.205</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.210</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-27</th>
      <td>0.000</td>
      <td>94.320</td>
      <td>18</td>
      <td>0.000</td>
      <td>94.245</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.320</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-28</th>
      <td>0.000</td>
      <td>94.260</td>
      <td>19</td>
      <td>0.000</td>
      <td>94.200</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.240</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-29</th>
      <td>0.000</td>
      <td>94.330</td>
      <td>20</td>
      <td>0.000</td>
      <td>94.250</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.330</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-04-30</th>
      <td>0.000</td>
      <td>94.420</td>
      <td>21</td>
      <td>0.000</td>
      <td>94.300</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.410</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-03</th>
      <td>0.000</td>
      <td>94.370</td>
      <td>22</td>
      <td>0.000</td>
      <td>94.330</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.370</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-04</th>
      <td>0.000</td>
      <td>94.505</td>
      <td>23</td>
      <td>0.000</td>
      <td>94.450</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.505</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-05</th>
      <td>0.000</td>
      <td>94.635</td>
      <td>24</td>
      <td>0.000</td>
      <td>94.565</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.590</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-06</th>
      <td>0.000</td>
      <td>94.940</td>
      <td>25</td>
      <td>0.000</td>
      <td>94.580</td>
      <td>0.000</td>
      <td>431.0</td>
      <td>94.695</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-07</th>
      <td>0.000</td>
      <td>94.715</td>
      <td>26</td>
      <td>0.000</td>
      <td>94.525</td>
      <td>94.525</td>
      <td>431.0</td>
      <td>94.620</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-10</th>
      <td>0.000</td>
      <td>94.520</td>
      <td>27</td>
      <td>0.000</td>
      <td>94.465</td>
      <td>0.000</td>
      <td>471.0</td>
      <td>94.465</td>
      <td>40.0</td>
    </tr>
    <tr>
      <th>2010-05-11</th>
      <td>0.000</td>
      <td>94.515</td>
      <td>28</td>
      <td>0.000</td>
      <td>94.435</td>
      <td>94.515</td>
      <td>471.0</td>
      <td>94.455</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2010-05-12</th>
      <td>0.000</td>
      <td>94.475</td>
      <td>29</td>
      <td>0.000</td>
      <td>94.430</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.430</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>2010-05-13</th>
      <td>0.000</td>
      <td>94.460</td>
      <td>30</td>
      <td>0.000</td>
      <td>94.420</td>
      <td>0.000</td>
      <td>456.0</td>
      <td>94.435</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-02-06</th>
      <td>0.085</td>
      <td>97.710</td>
      <td>1717</td>
      <td>97.705</td>
      <td>97.625</td>
      <td>97.630</td>
      <td>310743.0</td>
      <td>97.695</td>
      <td>75657.0</td>
    </tr>
    <tr>
      <th>2017-02-07</th>
      <td>0.020</td>
      <td>97.745</td>
      <td>1718</td>
      <td>97.710</td>
      <td>97.660</td>
      <td>97.705</td>
      <td>310984.0</td>
      <td>97.715</td>
      <td>95746.0</td>
    </tr>
    <tr>
      <th>2017-02-08</th>
      <td>0.055</td>
      <td>97.795</td>
      <td>1719</td>
      <td>97.790</td>
      <td>97.695</td>
      <td>97.710</td>
      <td>315508.0</td>
      <td>97.770</td>
      <td>104386.0</td>
    </tr>
    <tr>
      <th>2017-02-09</th>
      <td>0.060</td>
      <td>97.785</td>
      <td>1720</td>
      <td>97.705</td>
      <td>97.700</td>
      <td>97.780</td>
      <td>300644.0</td>
      <td>97.710</td>
      <td>58974.0</td>
    </tr>
    <tr>
      <th>2017-02-10</th>
      <td>0.030</td>
      <td>97.710</td>
      <td>1721</td>
      <td>97.685</td>
      <td>97.665</td>
      <td>97.710</td>
      <td>300706.0</td>
      <td>97.680</td>
      <td>69925.0</td>
    </tr>
    <tr>
      <th>2017-02-13</th>
      <td>0.030</td>
      <td>97.675</td>
      <td>1722</td>
      <td>97.645</td>
      <td>97.635</td>
      <td>97.675</td>
      <td>260276.0</td>
      <td>97.650</td>
      <td>42917.0</td>
    </tr>
    <tr>
      <th>2017-02-14</th>
      <td>0.050</td>
      <td>97.660</td>
      <td>1723</td>
      <td>97.595</td>
      <td>97.565</td>
      <td>97.645</td>
      <td>256520.0</td>
      <td>97.600</td>
      <td>77882.0</td>
    </tr>
    <tr>
      <th>2017-02-15</th>
      <td>0.045</td>
      <td>97.600</td>
      <td>1724</td>
      <td>97.570</td>
      <td>97.525</td>
      <td>97.600</td>
      <td>259392.0</td>
      <td>97.555</td>
      <td>76694.0</td>
    </tr>
    <tr>
      <th>2017-02-16</th>
      <td>0.065</td>
      <td>97.640</td>
      <td>1725</td>
      <td>97.620</td>
      <td>97.560</td>
      <td>97.565</td>
      <td>260481.0</td>
      <td>97.620</td>
      <td>66318.0</td>
    </tr>
    <tr>
      <th>2017-02-17</th>
      <td>0.025</td>
      <td>97.680</td>
      <td>1726</td>
      <td>97.650</td>
      <td>97.605</td>
      <td>97.620</td>
      <td>264406.0</td>
      <td>97.645</td>
      <td>48567.0</td>
    </tr>
    <tr>
      <th>2017-02-21</th>
      <td>0.030</td>
      <td>97.655</td>
      <td>1727</td>
      <td>97.610</td>
      <td>97.590</td>
      <td>97.650</td>
      <td>257202.0</td>
      <td>97.615</td>
      <td>43186.0</td>
    </tr>
    <tr>
      <th>2017-02-22</th>
      <td>0.025</td>
      <td>97.665</td>
      <td>1728</td>
      <td>97.650</td>
      <td>97.585</td>
      <td>97.610</td>
      <td>259636.0</td>
      <td>97.640</td>
      <td>66405.0</td>
    </tr>
    <tr>
      <th>2017-02-23</th>
      <td>0.045</td>
      <td>97.705</td>
      <td>1729</td>
      <td>97.700</td>
      <td>97.640</td>
      <td>97.650</td>
      <td>261193.0</td>
      <td>97.685</td>
      <td>92130.0</td>
    </tr>
    <tr>
      <th>2017-02-24</th>
      <td>0.080</td>
      <td>97.770</td>
      <td>1730</td>
      <td>97.755</td>
      <td>97.690</td>
      <td>97.700</td>
      <td>257711.0</td>
      <td>97.765</td>
      <td>63458.0</td>
    </tr>
    <tr>
      <th>2017-02-27</th>
      <td>0.080</td>
      <td>97.760</td>
      <td>1731</td>
      <td>97.690</td>
      <td>97.685</td>
      <td>97.760</td>
      <td>254837.0</td>
      <td>97.685</td>
      <td>81995.0</td>
    </tr>
    <tr>
      <th>2017-02-28</th>
      <td>0.005</td>
      <td>97.725</td>
      <td>1732</td>
      <td>97.630</td>
      <td>97.605</td>
      <td>97.690</td>
      <td>265939.0</td>
      <td>97.680</td>
      <td>79446.0</td>
    </tr>
    <tr>
      <th>2017-03-01</th>
      <td>0.120</td>
      <td>97.625</td>
      <td>1733</td>
      <td>97.565</td>
      <td>97.540</td>
      <td>97.625</td>
      <td>261355.0</td>
      <td>97.560</td>
      <td>85357.0</td>
    </tr>
    <tr>
      <th>2017-03-02</th>
      <td>0.050</td>
      <td>97.585</td>
      <td>1734</td>
      <td>97.520</td>
      <td>97.490</td>
      <td>97.565</td>
      <td>262005.0</td>
      <td>97.510</td>
      <td>86976.0</td>
    </tr>
    <tr>
      <th>2017-03-03</th>
      <td>0.000</td>
      <td>97.535</td>
      <td>1735</td>
      <td>97.520</td>
      <td>97.455</td>
      <td>97.515</td>
      <td>269480.0</td>
      <td>97.510</td>
      <td>81760.0</td>
    </tr>
    <tr>
      <th>2017-03-06</th>
      <td>0.020</td>
      <td>97.555</td>
      <td>1736</td>
      <td>97.525</td>
      <td>97.510</td>
      <td>97.515</td>
      <td>270475.0</td>
      <td>97.530</td>
      <td>56943.0</td>
    </tr>
    <tr>
      <th>2017-03-07</th>
      <td>0.015</td>
      <td>97.540</td>
      <td>1737</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>97.525</td>
      <td>271379.0</td>
      <td>97.515</td>
      <td>58056.0</td>
    </tr>
    <tr>
      <th>2017-03-08</th>
      <td>0.045</td>
      <td>97.520</td>
      <td>1738</td>
      <td>97.450</td>
      <td>97.435</td>
      <td>97.505</td>
      <td>293852.0</td>
      <td>97.470</td>
      <td>96110.0</td>
    </tr>
    <tr>
      <th>2017-03-09</th>
      <td>0.065</td>
      <td>97.460</td>
      <td>1739</td>
      <td>97.390</td>
      <td>97.390</td>
      <td>97.445</td>
      <td>303175.0</td>
      <td>97.405</td>
      <td>70047.0</td>
    </tr>
    <tr>
      <th>2017-03-10</th>
      <td>0.010</td>
      <td>97.440</td>
      <td>1740</td>
      <td>97.420</td>
      <td>97.375</td>
      <td>97.390</td>
      <td>309815.0</td>
      <td>97.415</td>
      <td>125755.0</td>
    </tr>
    <tr>
      <th>2017-03-13</th>
      <td>0.010</td>
      <td>97.455</td>
      <td>1741</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>97.425</td>
      <td>270005.0</td>
      <td>97.405</td>
      <td>117029.0</td>
    </tr>
    <tr>
      <th>2017-03-14</th>
      <td>0.005</td>
      <td>97.425</td>
      <td>1742</td>
      <td>97.400</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>274710.0</td>
      <td>97.400</td>
      <td>67693.0</td>
    </tr>
    <tr>
      <th>2017-03-15</th>
      <td>0.125</td>
      <td>97.550</td>
      <td>1743</td>
      <td>97.545</td>
      <td>97.395</td>
      <td>97.400</td>
      <td>281523.0</td>
      <td>97.525</td>
      <td>150978.0</td>
    </tr>
    <tr>
      <th>2017-03-16</th>
      <td>0.005</td>
      <td>97.550</td>
      <td>1744</td>
      <td>97.505</td>
      <td>97.490</td>
      <td>97.545</td>
      <td>288710.0</td>
      <td>97.530</td>
      <td>114919.0</td>
    </tr>
    <tr>
      <th>2017-03-17</th>
      <td>0.010</td>
      <td>97.560</td>
      <td>1745</td>
      <td>97.545</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>289607.0</td>
      <td>97.540</td>
      <td>45036.0</td>
    </tr>
    <tr>
      <th>2017-03-20</th>
      <td>0.040</td>
      <td>97.590</td>
      <td>1746</td>
      <td>97.590</td>
      <td>97.540</td>
      <td>97.550</td>
      <td>290182.0</td>
      <td>97.580</td>
      <td>54458.0</td>
    </tr>
  </tbody>
</table>
<p>1746 rows  9 columns</p>
</div>

In [151]:
df.loc[datetime.date(2017,2,28):datetime.date(2017,3,15)]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>change</th>
      <th>HIGH</th>
      <th>id</th>
      <th>last</th>
      <th>LOW</th>
      <th>OPEN</th>
      <th>OPENINTEREST</th>
      <th>SETTLE</th>
      <th>VOLUME</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-02-28</th>
      <td>0.005</td>
      <td>97.725</td>
      <td>1732</td>
      <td>97.630</td>
      <td>97.605</td>
      <td>97.690</td>
      <td>265939.0</td>
      <td>97.680</td>
      <td>79446.0</td>
    </tr>
    <tr>
      <th>2017-03-01</th>
      <td>0.120</td>
      <td>97.625</td>
      <td>1733</td>
      <td>97.565</td>
      <td>97.540</td>
      <td>97.625</td>
      <td>261355.0</td>
      <td>97.560</td>
      <td>85357.0</td>
    </tr>
    <tr>
      <th>2017-03-02</th>
      <td>0.050</td>
      <td>97.585</td>
      <td>1734</td>
      <td>97.520</td>
      <td>97.490</td>
      <td>97.565</td>
      <td>262005.0</td>
      <td>97.510</td>
      <td>86976.0</td>
    </tr>
    <tr>
      <th>2017-03-03</th>
      <td>0.000</td>
      <td>97.535</td>
      <td>1735</td>
      <td>97.520</td>
      <td>97.455</td>
      <td>97.515</td>
      <td>269480.0</td>
      <td>97.510</td>
      <td>81760.0</td>
    </tr>
    <tr>
      <th>2017-03-06</th>
      <td>0.020</td>
      <td>97.555</td>
      <td>1736</td>
      <td>97.525</td>
      <td>97.510</td>
      <td>97.515</td>
      <td>270475.0</td>
      <td>97.530</td>
      <td>56943.0</td>
    </tr>
    <tr>
      <th>2017-03-07</th>
      <td>0.015</td>
      <td>97.540</td>
      <td>1737</td>
      <td>97.500</td>
      <td>97.500</td>
      <td>97.525</td>
      <td>271379.0</td>
      <td>97.515</td>
      <td>58056.0</td>
    </tr>
    <tr>
      <th>2017-03-08</th>
      <td>0.045</td>
      <td>97.520</td>
      <td>1738</td>
      <td>97.450</td>
      <td>97.435</td>
      <td>97.505</td>
      <td>293852.0</td>
      <td>97.470</td>
      <td>96110.0</td>
    </tr>
    <tr>
      <th>2017-03-09</th>
      <td>0.065</td>
      <td>97.460</td>
      <td>1739</td>
      <td>97.390</td>
      <td>97.390</td>
      <td>97.445</td>
      <td>303175.0</td>
      <td>97.405</td>
      <td>70047.0</td>
    </tr>
    <tr>
      <th>2017-03-10</th>
      <td>0.010</td>
      <td>97.440</td>
      <td>1740</td>
      <td>97.420</td>
      <td>97.375</td>
      <td>97.390</td>
      <td>309815.0</td>
      <td>97.415</td>
      <td>125755.0</td>
    </tr>
    <tr>
      <th>2017-03-13</th>
      <td>0.010</td>
      <td>97.455</td>
      <td>1741</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>97.425</td>
      <td>270005.0</td>
      <td>97.405</td>
      <td>117029.0</td>
    </tr>
    <tr>
      <th>2017-03-14</th>
      <td>0.005</td>
      <td>97.425</td>
      <td>1742</td>
      <td>97.400</td>
      <td>97.375</td>
      <td>97.375</td>
      <td>274710.0</td>
      <td>97.400</td>
      <td>67693.0</td>
    </tr>
    <tr>
      <th>2017-03-15</th>
      <td>0.125</td>
      <td>97.550</td>
      <td>1743</td>
      <td>97.545</td>
      <td>97.395</td>
      <td>97.400</td>
      <td>281523.0</td>
      <td>97.525</td>
      <td>150978.0</td>
    </tr>
  </tbody>
</table>
</div>

In [153]:
d = {'col1': 'val1', 'col2': 'val2'}
sql = 'UPDATE table SET {}'.format(', '.join('{}=%s'.format(k) for k in d))
print(sql)

UPDATE table SET col2=%s, col1=%s

In [2]:
print(3)

3

In [34]:
import pandas as pd
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
markets = roll_df['CARVER']
mdf = pd.DataFrame(markets)
mdf.drop_duplicates(subset=['CARVER'],inplace=True)
print(mdf)
control_path = 'data_control/'
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
#print(roll_df.head(5))
roll_df.size
for market in mdf.itertuples():
    #print("---------------------")
    
    #print(market.CARVER)
    current_carry_file = control_path + market.CARVER + "_carrydata.csv"
    current_carry_df = pd.read_csv(current_carry_file,index_col=["DATETIME"], parse_dates=True,
                           dtype={"PRICE_CONTRACT":str, "CARRY_CONTRACT":str})
    #print("With nans: ", current_carry_df.size)
    
   # if market == '':
    #    print(current_carry_df.tail(5))

       CARVER
0         KR3
15        V2X
59    EDOLLAR
194       MXP
283      CORN
319   EUROSTX
334    GAS_US
465      PLAT
507       US2
546   LEANHOG
574       GBP
742       VIX
845       CAC
889    COPPER
979   CRUDE_W
1009     BOBL
1024    WHEAT
1042      JPY
1204   NASDAQ
1276     GOLD
1444      US5
1558  SOYBEAN
1576      AUD
1698    SP500
1777   PALLAD
1831     KR10
1846  LIVECOW
1864      NZD
1915    KOSPI
1930     US10
2070      SMI
2085      EUR
2159      OAT
2174      AEX
2218     BUND
2233      BTP
2248     US20

In [36]:
import pandas as pd
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
markets = roll_df['CARVER']
mdf = pd.DataFrame(markets)
mdf.drop_duplicates(subset=['CARVER'],inplace=True)
print(mdf)
control_path = 'data_control/'
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str})
print(type(roll_df))

       CARVER
0         KR3
15        V2X
59    EDOLLAR
194       MXP
283      CORN
319   EUROSTX
334    GAS_US
465      PLAT
507       US2
546   LEANHOG
574       GBP
742       VIX
845       CAC
889    COPPER
979   CRUDE_W
1009     BOBL
1024    WHEAT
1042      JPY
1204   NASDAQ
1276     GOLD
1444      US5
1558  SOYBEAN
1576      AUD
1698    SP500
1777   PALLAD
1831     KR10
1846  LIVECOW
1864      NZD
1915    KOSPI
1930     US10
2070      SMI
2085      EUR
2159      OAT
2174      AEX
2218     BUND
2233      BTP
2248     US20
<class 'pandas.core.frame.DataFrame'>

In [2]:
current_carry_file = "/data/KR3_carrydata.csv"
current_carry_file = control_path + market.CARVER + "_carrydata.csv"
current_carry_df = pd.read_csv(current_carry_file,index_col=["DATETIME"], parse_dates=True,
                           dtype={"PRICE_CONTRACT":str, "CARRY_CONTRACT":str})
#print(current_carry_df.head(3))

NameError: name 'control_path' is not defined

In [32]:
if '1977-08-23' in current_carry_df.index:
    print("Yes")
else:
    print("No")

Yes

In [64]:
import pandas as pd
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
for row in roll_df.itertuples():
    symbol = row.CARVER
    date = row.DATETIME
    mat = row.PRICE_CONTRACT
    
    current_carry_file = "data_control/" + symbol + "_carrydata.csv"
    current_carry_df = pd.read_csv(current_carry_file,index_col=["DATETIME"], parse_dates=True,
                           dtype={"PRICE_CONTRACT":str, "CARRY_CONTRACT":str})
    download_file = "quandl_history/" + symbol + mat + ".csv" 
    print(download_file)
    download_df = pd.read_csv(download_file, usecols=["Date","Settle"])
    print(download_df.head(2))
    '''
    if date in download_df.index:
        
        print("Yes")
    else:
        print("No ", symbol, mat)
        
    #print(current_carry_df.head(1))
    
    download_file = "quandl_history/" + symbol + mat + ".csv" 
    print(download_file)
    download_df = pd.read_csv(download_file, index_col=["Date"], usecols=["Settle"])
    if not (date in download_file.index and date in current_carry_df.index):
        print(symbol + mat +" : NOTOK")
    else:
        "OK"
    '''

quandl_history/KR3201312.csv
         Date  Settle
0  2013-09-10  105.30
1  2013-09-12  105.41
quandl_history/KR3201403.csv
         Date  Settle
0  2013-12-16  105.58
1  2013-12-17  105.67
quandl_history/KR3201406.csv
         Date   Settle
0  2014-03-18  105.805
1  2014-03-19  105.860
quandl_history/KR3201409.csv
         Date  Settle
0  2014-06-17   106.2
1  2014-06-18   106.2
quandl_history/KR3201412.csv
         Date  Settle
0  2014-09-16  107.31
1  2014-09-17  107.28
quandl_history/KR3201503.csv
         Date   Settle
0  2014-12-16  108.055
1  2014-12-22  107.995
quandl_history/KR3201506.csv
         Date  Settle
0  2015-03-13  108.97
1  2015-03-16  109.00
quandl_history/KR3201509.csv
         Date  Settle
0  2015-06-16  109.14
1  2015-06-17  108.99
quandl_history/KR3201512.csv
         Date  Settle
0  2015-09-15  109.56
1  2015-09-16  109.50
quandl_history/KR3201603.csv
         Date  Settle
0  2015-12-14  109.35
1  2015-12-15  109.37
quandl_history/KR3201606.csv

         Date  Settle
0  2016-03-14  110.06
1  2016-03-15  110.05
quandl_history/KR3201609.csv
         Date  Settle
0  2016-09-14   110.6
1  2016-09-15   110.6
quandl_history/KR3201612.csv
         Date  Settle
0  2016-09-14  110.65
1  2016-09-15  110.65
quandl_history/KR3201703.csv
         Date  Settle
0  2016-09-21  110.66
1  2016-09-22  110.68
quandl_history/KR3201706.csv
         Date  Settle
0  2016-12-21  109.28
1  2016-12-22  109.39
quandl_history/V2X201311.csv
         Date  Settle
0  2013-09-09    21.8
1  2013-09-10    21.3
quandl_history/V2X201312.csv
         Date  Settle
0  2013-09-09   20.75
1  2013-09-10   20.35
quandl_history/V2X201401.csv

         Date  Settle
0  2013-09-09    22.7
1  2013-09-10    22.3
quandl_history/V2X201402.csv
         Date  Settle
0  2013-09-09   22.95
1  2013-09-10   22.60
quandl_history/V2X201403.csv
         Date  Settle
0  2013-09-09    23.3
1  2013-09-10    23.1
quandl_history/V2X201404.csv
         Date  Settle
0  2013-09-09   23.15
1  2013-09-10   22.85
quandl_history/V2X201405.csv
         Date  Settle
0  2013-09-19   22.55
1  2013-09-20   22.30
quandl_history/V2X201406.csv
         Date  Settle
0  2013-11-18   22.45
1  2013-11-19   22.50
quandl_history/V2X201407.csv
         Date  Settle
0  2013-12-02   22.05
1  2013-12-03   22.40
quandl_history/V2X201408.csv
         Date  Settle
0  2013-12-19   21.45
1  2013-12-20   21.60
quandl_history/V2X201409.csv
         Date  Settle
0  2014-02-06    22.3
1  2014-02-07    21.7
quandl_history/V2X201410.csv
         Date  Settle
0  2014-02-20   21.25
1  2014-02-21   21.10
quandl_history/V2X201411.csv
         Date  Settle
0  2014-04-10   21.20
1  2014-04-11   21.25
quandl_history/V2X201412.csv
         Date  Settle
0  2014-05-06   19.50
1  2014-05-07   19.35
quandl_history/V2X201501.csv
         Date  Settle
0  2014-06-02   20.00
1  2014-06-03   19.85
quandl_history/V2X201502.csv
         Date  Settle
0  2014-06-19   19.25
1  2014-06-20   19.25
quandl_history/V2X201503.csv
         Date  Settle
0  2014-07-17   19.15
1  2014-07-18   18.95
quandl_history/V2X201504.csv
         Date  Settle
0  2014-08-21   19.05
1  2014-08-22   19.10
quandl_history/V2X201505.csv
         Date  Settle
0  2014-09-18   19.55
1  2014-09-19   19.60

quandl_history/V2X201506.csv
         Date  Settle
0  2014-10-22   20.35
1  2014-10-23   20.35
quandl_history/V2X201507.csv
         Date  Settle
0  2014-11-20    20.1
1  2014-11-21    20.0
quandl_history/V2X201508.csv
         Date  Settle
0  2014-12-18   21.35
1  2014-12-19   21.20
quandl_history/V2X201509.csv
         Date  Settle
0  2015-01-22   22.05
1  2015-01-23   22.05
quandl_history/V2X201510.csv
         Date  Settle
0  2015-02-19   22.50
1  2015-02-20   22.55
quandl_history/V2X201511.csv
         Date  Settle
0  2015-03-19    22.0
1  2015-03-20    21.8
quandl_history/V2X201512.csv
         Date  Settle
0  2015-04-16   20.85
1  2015-04-17   20.95
quandl_history/V2X201601.csv
         Date  Settle
0  2015-05-21   20.40
1  2015-05-22   20.55
quandl_history/V2X201602.csv
         Date  Settle
0  2015-06-18    21.4
1  2015-06-19    21.4
quandl_history/V2X201603.csv
         Date  Settle
0  2015-07-23    20.9
1  2015-07-24    20.9
quandl_history/V2X201604.csv
         Date  Settle
0  2015-08-20   21.30
1  2015-08-21   21.85
quandl_history/V2X201605.csv
         Date  Settle
0  2015-09-17    23.4
1  2015-09-18    23.7
quandl_history/V2X201606.csv
         Date  Settle
0  2015-10-22   23.25
1  2015-10-23   23.15
quandl_history/V2X201607.csv
         Date  Settle
0  2015-11-19   23.85
1  2015-11-20   24.10
quandl_history/V2X201608.csv
         Date  Settle
0  2015-12-17   24.15
1  2015-12-18   24.40
quandl_history/V2X201609.csv
         Date  Settle
0  2016-01-22   25.95
1  2016-01-25   25.90
quandl_history/V2X201610.csv
         Date  Settle
0  2016-02-18    27.5
1  2016-02-19    27.5
quandl_history/V2X201611.csv
         Date  Settle
0  2016-03-17   25.95
1  2016-03-18   25.45
quandl_history/V2X201612.csv
         Date  Settle
0  2016-04-21    23.7
1  2016-04-22    24.1
quandl_history/V2X201701.csv
         Date  Settle
0  2016-05-19   25.35
1  2016-05-20   25.15
quandl_history/V2X201702.csv
         Date  Settle
0  2016-06-16   26.55
1  2016-06-17   26.05
quandl_history/V2X201703.csv

         Date  Settle
0  2016-07-21    24.0
1  2016-07-22    24.1
quandl_history/V2X201704.csv
         Date  Settle
0  2016-08-18   24.90
1  2016-08-19   24.85
quandl_history/V2X201705.csv
         Date  Settle
0  2016-09-22   24.65
1  2016-09-23   24.80
quandl_history/V2X201706.csv
         Date  Settle
0  2016-10-20    24.6
1  2016-10-21    24.7
quandl_history/EDOLLAR198412.csv
         Date  Settle
0  1983-09-23   88.92
1  1983-09-26   89.06
quandl_history/EDOLLAR198503.csv
         Date  Settle
0  1983-09-28   88.70
1  1983-09-29   88.68
quandl_history/EDOLLAR198506.csv
         Date  Settle
0  1984-01-10   88.32
1  1984-01-11   88.29
quandl_history/EDOLLAR198509.csv
         Date  Settle
0  1984-03-20   87.13
1  1984-03-21   87.17
quandl_history/EDOLLAR198512.csv
         Date  Settle
0  1984-06-19   85.61
1  1984-06-20   85.16

quandl_history/EDOLLAR198603.csv
         Date  Settle
0  1984-08-29   86.36
1  1984-08-30   86.32
quandl_history/EDOLLAR198606.csv
         Date  Settle
0  1984-09-14   86.87
1  1984-09-17   86.92
quandl_history/EDOLLAR198609.csv
         Date  Settle
0  1984-10-18   87.15
1  1984-10-19   87.20
quandl_history/EDOLLAR198612.csv
         Date  Settle
0  1984-12-19   87.90
1  1984-12-20   87.82
quandl_history/EDOLLAR198703.csv
         Date  Settle
0  1985-03-19   87.24
1  1985-03-20   87.60
quandl_history/EDOLLAR198706.csv
         Date  Settle
0  1985-06-19   89.76
1  1985-06-20   89.70
quandl_history/EDOLLAR198709.csv
         Date  Settle
0  1985-09-18   89.15
1  1985-09-19   89.12

quandl_history/EDOLLAR198712.csv
         Date  Settle
0  1985-12-18   90.65
1  1985-12-19   90.68
quandl_history/EDOLLAR198803.csv
         Date  Settle
0  1986-03-19   91.79
1  1986-03-20   91.84
quandl_history/EDOLLAR198806.csv
         Date  Settle
0  1986-06-18   91.48
1  1986-06-19   91.35
quandl_history/EDOLLAR198812.csv
         Date  Settle
0  1986-12-16   92.33
1  1986-12-17   92.35
quandl_history/EDOLLAR198903.csv
         Date  Settle
0  1987-03-17   93.39
1  1987-03-18   92.63
quandl_history/EDOLLAR198906.csv
         Date  Settle
0  1987-06-16   91.78
1  1987-06-17   91.33
quandl_history/EDOLLAR198912.csv
         Date  Settle
0  1987-06-17   91.07
1  1987-06-18   91.03

quandl_history/EDOLLAR199003.csv
         Date  Settle
0  1987-06-18   90.86
1  1987-06-19   90.87
quandl_history/EDOLLAR199006.csv
         Date  Settle
0  1987-06-19   90.74
1  1987-06-22   90.94
quandl_history/EDOLLAR199009.csv
         Date  Settle
0  1987-09-15   89.87
1  1987-09-16   89.80
quandl_history/EDOLLAR199012.csv
         Date  Settle
0  1987-12-15   90.24
1  1987-12-16   90.24
quandl_history/EDOLLAR199103.csv
         Date  Settle
0  1988-03-15   90.94
1  1988-03-16   90.88
quandl_history/EDOLLAR199106.csv
         Date  Settle
0  1988-06-14   90.82
1  1988-06-15   90.72
quandl_history/EDOLLAR199109.csv
         Date  Settle
0  1988-09-20   90.35
1  1988-09-21   90.38

quandl_history/EDOLLAR199112.csv
         Date  Settle
0  1988-12-20   90.40
1  1988-12-21   90.45
quandl_history/EDOLLAR199203.csv
         Date  Settle
0  1989-03-14   90.40
1  1989-03-15   90.41
quandl_history/EDOLLAR199206.csv
         Date  Settle
0  1989-06-20   91.08
1  1989-06-21   91.07
quandl_history/EDOLLAR199209.csv
         Date  Settle
0  1989-08-31   91.16
1  1989-09-01   91.30
quandl_history/EDOLLAR199212.csv
         Date  Settle
0  1989-09-07   91.19
1  1989-09-08   91.25
quandl_history/EDOLLAR199303.csv
         Date  Settle
0  1989-09-07   91.23
1  1989-09-08   91.29
quandl_history/EDOLLAR199306.csv
         Date  Settle
0  1989-09-07   91.22
1  1989-09-08   91.28
quandl_history/EDOLLAR199309.csv

         Date  Settle
0  1989-09-19   91.30
1  1989-09-20   91.24
quandl_history/EDOLLAR199312.csv
         Date  Settle
0  1989-12-19   91.35
1  1989-12-20   91.37
quandl_history/EDOLLAR199403.csv
         Date  Settle
0  1990-03-21   90.65
1  1990-03-22   90.70
quandl_history/EDOLLAR199406.csv
         Date  Settle
0  1990-06-19   90.50
1  1990-06-20   90.48
quandl_history/EDOLLAR199409.csv
         Date  Settle
0  1990-09-18   90.62
1  1990-09-19   90.59
quandl_history/EDOLLAR199412.csv
         Date  Settle
0  1990-12-18   91.05
1  1990-12-19   91.05
quandl_history/EDOLLAR199503.csv
         Date  Settle
0  1991-03-19   90.68
1  1991-03-20   90.74

quandl_history/EDOLLAR199506.csv
         Date  Settle
0  1991-06-18   90.85
1  1991-06-19   90.86
quandl_history/EDOLLAR199509.csv
         Date  Settle
0  1991-09-17   91.57
1  1991-09-18   91.56
quandl_history/EDOLLAR199512.csv
         Date  Settle
0  1991-12-17   91.85
1  1991-12-18   91.82
quandl_history/EDOLLAR199603.csv
         Date  Settle
0  1992-03-17   91.31
1  1992-03-18   91.31
quandl_history/EDOLLAR199606.csv
         Date  Settle
0  1992-06-16   91.92
1  1992-06-17   91.92
quandl_history/EDOLLAR199609.csv
         Date  Settle
0  1992-06-23   91.82
1  1992-06-24   91.87
quandl_history/EDOLLAR199612.csv
         Date  Settle
0  1992-06-23   91.59
1  1992-06-24   91.65

quandl_history/EDOLLAR199703.csv
         Date  Settle
0  1992-06-23   91.60
1  1992-06-24   91.66
quandl_history/EDOLLAR199706.csv
         Date  Settle
0  1992-06-23   91.52
1  1992-06-24   91.58
quandl_history/EDOLLAR199709.csv
         Date  Settle
0  1992-09-15   92.37
1  1992-09-16   92.32
quandl_history/EDOLLAR199712.csv
         Date  Settle
0  1992-12-15   91.89
1  1992-12-16   91.94
quandl_history/EDOLLAR199803.csv
         Date  Settle
0  1993-03-16   92.84
1  1993-03-17   92.90
quandl_history/EDOLLAR199806.csv
         Date  Settle
0  1993-06-15   93.19
1  1993-06-16   93.17
quandl_history/EDOLLAR199809.csv
         Date  Settle
0  1993-09-14   93.88
1  1993-09-15   93.89

quandl_history/EDOLLAR199812.csv
         Date  Settle
0  1993-09-14   93.72
1  1993-09-15   93.73
quandl_history/EDOLLAR199903.csv
         Date  Settle
0  1993-09-14   93.77
1  1993-09-15   93.78
quandl_history/EDOLLAR199906.csv
         Date  Settle
0  1993-09-14   93.72
1  1993-09-15   93.73
quandl_history/EDOLLAR199909.csv
         Date  Settle
0  1993-09-14   93.68
1  1993-09-15   93.69
quandl_history/EDOLLAR199912.csv
         Date  Settle
0  1993-09-14   93.55
1  1993-09-15   93.56
quandl_history/EDOLLAR200003.csv
         Date  Settle
0  1993-09-14   93.59
1  1993-09-15   93.60
quandl_history/EDOLLAR200006.csv
         Date  Settle
0  1993-09-14   93.53
1  1993-09-15   93.54

quandl_history/EDOLLAR200009.csv
         Date  Settle
0  1993-09-14   93.50
1  1993-09-15   93.51
quandl_history/EDOLLAR200012.csv
         Date  Settle
0  1993-11-15   92.83
1  1993-11-16   92.90
quandl_history/EDOLLAR200103.csv
         Date  Settle
0  1993-11-16   92.92
1  1993-11-17   92.95
quandl_history/EDOLLAR200106.csv
         Date  Settle
0  1993-11-16   92.87
1  1993-11-17   92.90
quandl_history/EDOLLAR200109.csv
         Date  Settle
0  1993-11-16   92.84
1  1993-11-17   92.87
quandl_history/EDOLLAR200112.csv

         Date  Settle
0  1993-12-06   92.58
1  1993-12-08   92.59
quandl_history/EDOLLAR200203.csv
         Date  Settle
0  1993-12-06   92.62
1  1993-12-07   92.62
quandl_history/EDOLLAR200206.csv
         Date  Settle
0  1993-12-06   92.57
1  1993-12-07   92.57
quandl_history/EDOLLAR200209.csv
         Date  Settle
0  1993-12-06   92.54
1  1993-12-07   92.54
quandl_history/EDOLLAR200212.csv
         Date  Settle
0  1993-12-14   92.39
1  1993-12-15   92.38
quandl_history/EDOLLAR200303.csv
         Date  Settle
0  1993-12-27   92.57
1  1993-12-28   92.59
quandl_history/EDOLLAR200306.csv
         Date  Settle
0  1993-12-27   92.51
1  1993-12-28   92.53

quandl_history/EDOLLAR200309.csv
         Date  Settle
0  1993-12-29   92.48
1  1993-12-30   92.39
quandl_history/EDOLLAR200312.csv
         Date  Settle
0  1993-12-29   92.34
1  1993-12-30   92.25
quandl_history/EDOLLAR200403.csv
         Date  Settle
0  1994-03-28   91.72
1  1994-03-29   91.69
quandl_history/EDOLLAR200406.csv
         Date  Settle
0  1994-06-28   91.44
1  1994-06-29   91.45
quandl_history/EDOLLAR200409.csv
         Date  Settle
0  1994-09-27   90.88
1  1994-09-28   90.91
quandl_history/EDOLLAR200412.csv
         Date  Settle
0  1994-12-30   91.55
1  1995-01-03   91.51

quandl_history/EDOLLAR200503.csv
         Date  Settle
0  1995-03-20   91.42
1  1995-03-21   91.45
quandl_history/EDOLLAR200506.csv
         Date  Settle
0  1995-06-28   92.14
1  1995-06-29   92.08
quandl_history/EDOLLAR200509.csv
         Date  Settle
0  1995-09-26   92.16
1  1995-09-27   92.15
quandl_history/EDOLLAR200512.csv
         Date  Settle
0  1995-12-27   92.94
1  1995-12-28   92.99
quandl_history/EDOLLAR200603.csv
         Date  Settle
0  1996-03-25   92.32
1  1996-03-26   92.28
quandl_history/EDOLLAR200606.csv
         Date  Settle
0  1996-06-20   91.79
1  1996-06-21   91.82

quandl_history/EDOLLAR200609.csv
         Date  Settle
0  1996-09-19   91.92
1  1996-09-20   91.92
quandl_history/EDOLLAR200612.csv
         Date  Settle
0  1996-12-19   92.17
1  1996-12-20   92.20
quandl_history/EDOLLAR200803.csv
         Date  Settle
0  2004-09-20   95.58
1  2004-09-21   95.55
quandl_history/EDOLLAR200806.csv
         Date  Settle
0  2004-09-20  95.415
1  2004-09-21  95.445
quandl_history/EDOLLAR200809.csv
         Date  Settle
0  2004-09-20  95.375
1  2004-09-21  95.390
quandl_history/EDOLLAR200812.csv
         Date  Settle
0  2004-09-20  95.265
1  2004-09-21  95.285
quandl_history/EDOLLAR200903.csv
         Date  Settle
0  2004-09-20  95.175
1  2004-09-21  95.195

quandl_history/EDOLLAR200906.csv
         Date  Settle
0  2004-09-20   95.08
1  2004-09-21   95.10
quandl_history/EDOLLAR200909.csv
         Date  Settle
0  2004-09-20  94.990
1  2004-09-21  95.015
quandl_history/EDOLLAR200912.csv
         Date  Settle
0  2004-09-20   94.89
1  2004-09-21   94.92
quandl_history/EDOLLAR201003.csv
         Date  Settle
0  2004-09-20  94.805
1  2004-09-21  94.835
quandl_history/EDOLLAR201006.csv
         Date  Settle
0  2004-09-20   94.72
1  2004-09-21   94.75
quandl_history/EDOLLAR201009.csv
         Date  Settle
0  2004-09-20  94.645
1  2004-09-21  94.675
quandl_history/EDOLLAR201012.csv
         Date  Settle
0  2004-09-20  94.560
1  2004-09-21  94.595

quandl_history/EDOLLAR201103.csv
         Date  Settle
0  2004-09-20  94.485
1  2004-09-21  94.520
quandl_history/EDOLLAR201106.csv
         Date  Settle
0  2004-09-20  94.410
1  2004-09-21  94.445
quandl_history/EDOLLAR201109.csv
         Date  Settle
0  2004-09-20  94.350
1  2004-09-21  94.385
quandl_history/EDOLLAR201112.csv
         Date  Settle
0  2004-09-20   94.28
1  2004-09-21   94.32
quandl_history/EDOLLAR201203.csv
         Date  Settle
0  2004-09-20   94.22
1  2004-09-21   94.26
quandl_history/EDOLLAR201206.csv
         Date  Settle
0  2004-09-20  94.155
1  2004-09-21  94.195

quandl_history/EDOLLAR201209.csv
         Date  Settle
0  2004-09-20   94.11
1  2004-09-21   94.15
quandl_history/EDOLLAR201212.csv
         Date  Settle
0  2004-09-20  94.055
1  2004-09-21  94.095
quandl_history/EDOLLAR201303.csv
         Date  Settle
0  2004-09-20   94.00
1  2004-09-21   94.04
quandl_history/EDOLLAR201306.csv
         Date  Settle
0  2004-09-20  93.945
1  2004-09-21  93.985
quandl_history/EDOLLAR201309.csv
         Date  Settle
0  2004-09-20   93.90
1  2004-09-21   93.94
quandl_history/EDOLLAR201312.csv
         Date  Settle
0  2004-09-20   93.85
1  2004-09-21   93.89
quandl_history/EDOLLAR201403.csv

         Date  Settle
0  2004-09-20   93.82
1  2004-09-21   93.86
quandl_history/EDOLLAR201406.csv
         Date  Settle
0  2004-09-20  93.785
1  2004-09-21  93.825
quandl_history/EDOLLAR201409.csv
         Date  Settle
0  2004-10-01  93.600
1  2004-10-04  93.645
quandl_history/EDOLLAR201412.csv
         Date  Settle
0  2005-01-03   93.88
1  2005-01-04   93.85
quandl_history/EDOLLAR201503.csv
         Date  Settle
0  2005-04-01  94.175
1  2005-04-04  94.155
quandl_history/EDOLLAR201506.csv

         Date  Settle
0  2005-06-15  94.585
1  2005-07-01  94.675
quandl_history/EDOLLAR201509.csv
         Date  Settle
0  2005-09-20  94.455
1  2005-09-21  94.580
quandl_history/EDOLLAR201512.csv
         Date  Settle
0  2005-12-19   94.37
1  2005-12-20   94.35
quandl_history/EDOLLAR201603.csv
         Date  Settle
0  2006-03-14  94.345
1  2006-03-15  94.285
quandl_history/EDOLLAR201606.csv
         Date  Settle
0  2006-06-20   93.84
1  2006-06-21   93.84
quandl_history/EDOLLAR201609.csv
         Date  Settle
0  2006-09-19  94.240
1  2006-09-20  94.245
quandl_history/EDOLLAR201703.csv
         Date  Settle
0  2007-03-20  94.365
1  2007-03-21  94.370

quandl_history/EDOLLAR201706.csv
         Date  Settle
0  2007-06-22  93.685
1  2007-06-29  93.780
quandl_history/EDOLLAR201709.csv
         Date  Settle
0  2007-10-01   93.97
1  2007-10-02   94.02
quandl_history/EDOLLAR201712.csv
         Date  Settle
0  2007-12-18  94.190
1  2007-12-19  94.255
quandl_history/EDOLLAR201803.csv
         Date  Settle
0  2008-04-01  94.330
1  2008-04-02  94.375
quandl_history/EDOLLAR201806.csv
         Date  Settle
0  2008-07-01  94.235
1  2008-07-02  94.205
quandl_history/EDOLLAR201809.csv
         Date  Settle
0  2008-10-01  94.560
1  2008-10-02  94.585
quandl_history/EDOLLAR201812.csv
         Date  Settle
0  2009-01-02  96.270
1  2009-01-05  96.075

quandl_history/EDOLLAR201903.csv
         Date  Settle
0  2009-04-01  95.925
1  2009-04-02  95.885
quandl_history/EDOLLAR201906.csv
         Date  Settle
0  2009-07-01   94.63
1  2009-07-02   94.68
quandl_history/EDOLLAR201909.csv
         Date  Settle
0  2009-10-01   95.00
1  2009-10-02   94.97
quandl_history/EDOLLAR201912.csv
         Date  Settle
0  2010-01-04  93.945
1  2010-01-06  93.960
quandl_history/EDOLLAR202003.csv
         Date  Settle
0  2010-04-01   94.08
1  2010-04-05   93.94
quandl_history/MXP199506.csv
         Date    Settle
0  1995-04-25  156800.0
1  1995-04-26  158900.0
quandl_history/MXP199509.csv

         Date    Settle
0  1995-04-25  140900.0
1  1995-04-26  142400.0
quandl_history/MXP199512.csv
         Date    Settle
0  1995-04-26  130000.0
1  1995-04-27  130000.0
quandl_history/MXP199603.csv
         Date    Settle
0  1995-04-27  116000.0
1  1995-04-28  116000.0
quandl_history/MXP199606.csv
         Date    Settle
0  1995-07-12  130000.0
1  1995-07-13  130500.0
quandl_history/MXP199609.csv
         Date    Settle
0  1995-09-20  127000.0
1  1995-09-21  127000.0
quandl_history/MXP199612.csv
         Date   Settle
0  1995-12-19  97000.0
1  1995-12-20  99000.0
quandl_history/MXP199703.csv
         Date    Settle
0  1996-03-19  101000.0
1  1996-03-20  100700.0
quandl_history/MXP199706.csv
         Date    Settle
0  1996-06-18  105500.0
1  1996-06-19  105700.0
quandl_history/MXP199709.csv
         Date    Settle
0  1996-08-28  105000.0
1  1996-08-29  104500.0

quandl_history/MXP199712.csv
         Date    Settle
0  1996-09-13  105500.0
1  1996-09-16  105500.0
quandl_history/MXP199803.csv
         Date    Settle
0  1997-02-05  106300.0
1  1997-02-06  107900.0
quandl_history/MXP199806.csv
         Date    Settle
0  1997-02-14  105500.0
1  1997-02-18  105500.0
quandl_history/MXP199809.csv
         Date    Settle
0  1997-06-18  107000.0
1  1997-06-19  106100.0
quandl_history/MXP199812.csv
         Date    Settle
0  1997-09-17  110000.0
1  1997-09-18  110000.0
quandl_history/MXP199903.csv
         Date    Settle
0  1998-03-05  100800.0
1  1998-03-06  101000.0
quandl_history/MXP199906.csv
         Date   Settle
0  1998-03-16  98500.0
1  1998-03-24  99500.0
quandl_history/MXP199909.csv
         Date   Settle
0  1998-06-22  91900.0
1  1998-06-23  91900.0
quandl_history/MXP199912.csv
         Date   Settle
0  1998-07-13  87750.0
1  1998-08-25  78000.0
quandl_history/MXP200003.csv
         Date   Settle
0  1999-02-25  81400.0
1  1999-02-26  83000.0

quandl_history/MXP200006.csv
         Date   Settle
0  1999-04-27  88930.0
1  1999-04-28  89050.0
quandl_history/MXP200009.csv
         Date   Settle
0  1999-08-04  86500.0
1  1999-08-05  85900.0
quandl_history/MXP200012.csv
         Date   Settle
0  1999-12-06  91450.0
1  1999-12-07  91950.0
quandl_history/MXP200103.csv
         Date   Settle
0  2000-03-03  96800.0
1  2000-03-06  96800.0
quandl_history/MXP200106.csv
         Date   Settle
0  2000-06-09  90000.0
1  2000-06-12  92000.0
quandl_history/MXP200109.csv
         Date   Settle
0  2000-09-12  97600.0
1  2000-09-13  96900.0
quandl_history/MXP200112.csv
         Date   Settle
0  2000-12-20  94930.0
1  2000-12-21  93630.0
quandl_history/MXP200203.csv
         Date   Settle
0  2001-04-04  95500.0
1  2001-04-05  95500.0
quandl_history/MXP200206.csv
         Date   Settle
0  2001-04-04  93100.0
1  2001-04-05  93080.0
quandl_history/MXP200209.csv
         Date   Settle
0  2001-04-05  90680.0
1  2001-04-06  91050.0
quandl_history/MXP200212.csv

         Date   Settle
0  2001-06-19  96750.0
1  2001-06-20  96650.0
quandl_history/MXP200303.csv
         Date   Settle
0  2001-09-17  90380.0
1  2001-09-18  90780.0
quandl_history/MXP200306.csv
         Date   Settle
0  2001-12-18  96550.0
1  2001-12-19  97080.0
quandl_history/MXP200309.csv
         Date    Settle
0  2002-03-19  100900.0
1  2002-03-20  100900.0
quandl_history/MXP200312.csv
         Date   Settle
0  2002-06-18  95080.0
1  2002-06-19  94550.0
quandl_history/MXP200403.csv
         Date   Settle
0  2002-09-17  90430.0
1  2002-09-18  89930.0
quandl_history/MXP200406.csv
         Date   Settle
0  2002-12-18  86600.0
1  2002-12-19  86530.0
quandl_history/MXP200409.csv
         Date   Settle
0  2003-03-17  81080.0
1  2003-03-18  80130.0
quandl_history/MXP200412.csv
         Date   Settle
0  2003-06-17  87280.0
1  2003-06-18  86300.0
quandl_history/MXP200503.csv
         Date   Settle
0  2003-09-15  83430.0
1  2003-09-16  84030.0
quandl_history/MXP200506.csv
         Date   Settle
0  2003-12-15  82180.0
1  2003-12-16  82630.0

quandl_history/MXP200509.csv
         Date   Settle
0  2004-03-15  84400.0
1  2004-03-16  84180.0
quandl_history/MXP200512.csv
         Date   Settle
0  2004-05-28  80250.0
1  2004-06-01  79750.0
quandl_history/MXP200603.csv
         Date   Settle
0  2004-08-16  80200.0
1  2004-08-17  80480.0
quandl_history/MXP200606.csv
         Date   Settle
0  2004-11-15  79980.0
1  2004-11-16  79900.0
quandl_history/MXP200609.csv
         Date   Settle
0  2005-02-14  80930.0
1  2005-02-15  80780.0
quandl_history/MXP200612.csv
         Date   Settle
0  2005-05-17  81800.0
1  2005-05-18  82330.0
quandl_history/MXP200703.csv
         Date   Settle
0  2005-08-15  86230.0
1  2005-08-16  86300.0
quandl_history/MXP200706.csv
         Date   Settle
0  2005-11-14  87550.0
1  2005-11-15  87930.0
quandl_history/MXP200709.csv
         Date   Settle
0  2006-02-13  89930.0
1  2006-02-14  90200.0
quandl_history/MXP200712.csv
         Date   Settle
0  2006-05-15  84600.0
1  2006-05-16  85730.0

quandl_history/MXP200803.csv
         Date   Settle
0  2006-08-14  87600.0
1  2006-08-15  88080.0
quandl_history/MXP200806.csv
         Date   Settle
0  2006-11-13  88150.0
1  2006-11-14  88480.0
quandl_history/MXP200809.csv
         Date   Settle
0  2007-02-16  87280.0
1  2007-02-20  87450.0
quandl_history/MXP200812.csv
         Date   Settle
0  2007-05-14  87580.0
1  2007-05-15  87600.0
quandl_history/MXP200903.csv
         Date   Settle
0  2007-08-13  87900.0
1  2007-08-14  87400.0
quandl_history/MXP200906.csv
         Date   Settle
0  2007-11-19  88300.0
1  2007-11-20  88380.0
quandl_history/MXP200909.csv
         Date   Settle
0  2008-02-15  86850.0
1  2008-02-19  86800.0
quandl_history/MXP200912.csv
         Date   Settle
0  2008-05-19  90330.0
1  2008-05-20  90100.0
quandl_history/MXP201003.csv
         Date   Settle
0  2008-08-18  92130.0
1  2008-08-19  92280.0
quandl_history/MXP201006.csv
         Date   Settle
0  2008-11-17  68880.0
1  2008-11-18  68700.0

quandl_history/MXP201009.csv
         Date   Settle
0  2009-02-13  63650.0
1  2009-02-17  62280.0
quandl_history/MXP201012.csv
         Date   Settle
0  2009-05-18  71550.0
1  2009-05-19  71980.0
quandl_history/MXP201103.csv
         Date   Settle
0  2009-08-17  71180.0
1  2009-08-18  71350.0
quandl_history/MXP201106.csv
         Date   Settle
0  2009-11-16  71250.0
1  2009-11-17  70800.0
quandl_history/MXP201109.csv
         Date   Settle
0  2010-02-12  71580.0
1  2010-02-16  72030.0
quandl_history/MXP201112.csv
         Date   Settle
0  2010-05-17  73550.0
1  2010-05-18  72780.0
quandl_history/MXP201203.csv
         Date   Settle
0  2010-08-16  73650.0
1  2010-08-17  74150.0
quandl_history/MXP201206.csv
         Date   Settle
0  2010-11-15  77000.0
1  2010-11-16  75850.0
quandl_history/MXP201209.csv
         Date   Settle
0  2011-02-14  78230.0
1  2011-02-15  77480.0
quandl_history/MXP201212.csv

         Date   Settle
0  2011-05-16  79700.0
1  2011-05-17  79830.0
quandl_history/MXP201303.csv
         Date   Settle
0  2011-08-15  77900.0
1  2011-08-16  77480.0
quandl_history/MXP201306.csv
         Date   Settle
0  2011-11-14  70330.0
1  2011-11-15  70300.0
quandl_history/MXP201309.csv
         Date   Settle
0  2012-02-13  74800.0
1  2012-02-14  74080.0
quandl_history/MXP201312.csv
         Date   Settle
0  2012-05-14  69300.0
1  2012-05-15  68850.0
quandl_history/MXP201403.csv
         Date   Settle
0  2012-08-13  72500.0
1  2012-08-14  72550.0
quandl_history/MXP201406.csv
         Date   Settle
0  2012-11-19  72375.0
1  2012-11-20  72450.0
quandl_history/MXP201409.csv
         Date   Settle
0  2013-02-15  74825.0
1  2013-02-19  75125.0
quandl_history/MXP201412.csv
         Date   Settle
0  2013-05-13  78575.0
1  2013-05-14  78200.0
quandl_history/MXP201503.csv
         Date   Settle
0  2013-08-19  72775.0
1  2013-08-20  73300.0

quandl_history/MXP201506.csv
         Date   Settle
0  2013-11-18  74025.0
1  2013-11-19  73700.0
quandl_history/MXP201509.csv
         Date   Settle
0  2014-02-14  72225.0
1  2014-02-18  72225.0
quandl_history/MXP201512.csv
         Date   Settle
0  2014-05-19  74050.0
1  2014-05-20  73825.0
quandl_history/MXP201603.csv
         Date   Settle
0  2014-08-19  73750.0
1  2014-08-20  73410.0
quandl_history/MXP201606.csv
         Date   Settle
0  2014-11-18  71130.0
1  2014-11-19  70710.0
quandl_history/MXP201609.csv
         Date   Settle
0  2015-02-17  64460.0
1  2015-02-18  64560.0
quandl_history/MXP201612.csv
         Date   Settle
0  2015-05-19  63070.0
1  2015-05-20  63090.0
quandl_history/MXP201703.csv
         Date   Settle
0  2015-08-18  58100.0
1  2015-08-19  57500.0
quandl_history/MXP201706.csv
         Date   Settle
0  2015-11-17  56900.0
1  2015-11-18  56960.0

quandl_history/CORN198212.csv
         Date  Settle
0  1981-09-24  329.50
1  1981-09-25  326.75
quandl_history/CORN198312.csv
         Date  Settle
0  1982-08-23   268.5
1  1982-08-24   272.0
quandl_history/CORN198412.csv
         Date  Settle
0  1983-08-02   305.5
1  1983-08-03   303.0
quandl_history/CORN198512.csv
         Date  Settle
0  1984-07-23   290.5
1  1984-07-24   289.5
quandl_history/CORN198612.csv
         Date  Settle
0  1985-07-23  221.50
1  1985-07-24  220.25
quandl_history/CORN198712.csv
         Date  Settle
0  1986-07-23  186.25
1  1986-07-24  183.50
quandl_history/CORN198812.csv
         Date  Settle
0  1987-07-23   193.5
1  1987-07-24   195.0

quandl_history/CORN198912.csv
         Date  Settle
0  1988-05-26   237.0
1  1988-05-27   244.0
quandl_history/CORN199012.csv
         Date  Settle
0  1989-05-22  249.50
1  1989-05-23  243.75
quandl_history/CORN199112.csv
         Date  Settle
0  1990-05-24   263.0
1  1990-05-25   264.0
quandl_history/CORN199212.csv
         Date  Settle
0  1991-05-22  259.00
1  1991-05-23  258.75
quandl_history/CORN199312.csv
         Date  Settle
0  1992-04-06   255.5
1  1992-04-07   256.0
quandl_history/CORN199412.csv
         Date  Settle
0  1993-01-21   248.0
1  1993-01-22   250.0
quandl_history/CORN199512.csv
         Date  Settle
0  1993-12-21   257.0
1  1993-12-22   257.0

quandl_history/CORN199612.csv
         Date  Settle
0  1994-05-27   250.0
1  1994-05-31   256.0
quandl_history/CORN199712.csv
         Date  Settle
0  1995-01-04   250.5
1  1995-01-05   253.0
quandl_history/CORN199812.csv
         Date  Settle
0  1996-08-15   288.0
1  1996-08-16   282.0
quandl_history/CORN199912.csv
         Date  Settle
0  1997-05-06   265.0
1  1997-05-07   266.0
quandl_history/CORN200012.csv
         Date  Settle
0  1998-05-14   273.0
1  1998-05-15   273.0
quandl_history/CORN200112.csv
         Date  Settle
0  1999-07-19   251.0
1  1999-07-20   253.0
quandl_history/CORN200212.csv
         Date  Settle
0  2000-01-12   260.0
1  2000-01-13   260.0

quandl_history/CORN200312.csv
         Date  Settle
0  2001-03-06   269.0
1  2001-03-07   267.0
quandl_history/CORN200412.csv
         Date  Settle
0  2002-01-02   260.0
1  2002-01-03   255.0
quandl_history/CORN200512.csv
         Date  Settle
0  2003-02-28   247.0
1  2003-03-03   247.0
quandl_history/CORN200612.csv
         Date  Settle
0  2004-02-25   260.0
1  2004-02-26   262.0
quandl_history/CORN200712.csv
         Date  Settle
0  2004-12-16  249.50
1  2004-12-17  249.25
quandl_history/CORN200812.csv
         Date  Settle
0  2005-12-15   259.0
1  2005-12-16   260.0
quandl_history/CORN200912.csv
         Date  Settle
0  2006-07-20  324.25
1  2006-07-21  324.00

quandl_history/CORN201012.csv
         Date  Settle
0  2007-02-06  358.25
1  2007-02-07  350.00
quandl_history/CORN201112.csv
         Date  Settle
0  2008-07-10   661.0
1  2008-07-11   661.0
quandl_history/CORN201212.csv
         Date  Settle
0  2009-06-08  469.50
1  2009-06-09  476.75
quandl_history/CORN201312.csv
         Date  Settle
0  2009-12-14  471.00
1  2009-12-15  468.75
quandl_history/CORN201412.csv
         Date  Settle
0  2010-12-14  534.75
1  2010-12-15  512.00
quandl_history/CORN201512.csv
         Date  Settle
0  2011-12-14  549.50
1  2011-12-15  550.25
quandl_history/CORN201612.csv
         Date  Settle
0  2012-12-14  571.25
1  2012-12-17  568.25

quandl_history/CORN201712.csv
         Date  Settle
0  2013-12-13  489.50
1  2013-12-16  479.25
quandl_history/EUROSTX201312.csv
         Date  Settle
0  2013-03-18  2634.0
1  2013-03-19  2590.0
quandl_history/EUROSTX201403.csv
         Date  Settle
0  2013-06-24  2494.0
1  2013-06-25  2523.0
quandl_history/EUROSTX201406.csv
         Date  Settle
0  2013-09-23  2822.0
1  2013-09-24  2840.0
quandl_history/EUROSTX201409.csv
         Date  Settle
0  2013-12-23  2996.0
1  2013-12-24  2996.0
quandl_history/EUROSTX201412.csv
         Date  Settle
0  2014-03-24  2977.0
1  2014-03-25  3008.0
quandl_history/EUROSTX201503.csv
         Date  Settle
0  2014-06-23  3261.0
1  2014-06-24  3264.0
quandl_history/EUROSTX201506.csv
         Date  Settle
0  2014-09-22  3169.0
1  2014-09-23  3117.0
quandl_history/EUROSTX201509.csv
         Date  Settle
0  2014-12-22  3079.0
1  2014-12-23  3113.0
quandl_history/EUROSTX201512.csv
         Date  Settle
0  2015-03-23  3605.0
1  2015-03-24  3647.0
quandl_history/EUROSTX201603.csv
         Date  Settle
0  2015-06-22  3583.0
1  2015-06-23  3608.0
quandl_history/EUROSTX201606.csv
         Date  Settle
0  2015-09-21  3099.0
1  2015-09-22  2984.0
quandl_history/EUROSTX201609.csv
         Date  Settle
0  2015-12-21  3141.0
1  2015-12-22  3123.0
quandl_history/EUROSTX201612.csv
         Date  Settle
0  2016-03-21  2945.0
1  2016-03-22  2944.0
quandl_history/EUROSTX201703.csv
         Date  Settle
0  2016-06-20  2911.0
1  2016-06-21  2942.0
quandl_history/EUROSTX201706.csv

         Date  Settle
0  2016-09-19  2867.0
1  2016-09-20  2867.0
quandl_history/GAS_US199007.csv
         Date  Settle
0  1990-04-03   1.650
1  1990-04-04   1.635
quandl_history/GAS_US199010.csv
         Date  Settle
0  1990-04-03   1.705
1  1990-04-04   1.680
quandl_history/GAS_US199101.csv
         Date  Settle
0  1990-04-03    2.19
1  1990-04-04    2.29
quandl_history/GAS_US199104.csv
         Date  Settle
0  1990-04-20    1.59
1  1990-04-23    1.56
quandl_history/GAS_US199107.csv
         Date  Settle
0  1990-07-02    1.63
1  1990-07-03    1.64
quandl_history/GAS_US199110.csv
         Date  Settle
0  1990-09-20    1.72
1  1990-09-21    1.74
quandl_history/GAS_US199201.csv
         Date  Settle
0  1991-01-02    2.36
1  1991-01-03    2.34

quandl_history/GAS_US199204.csv
         Date  Settle
0  1991-04-19   1.455
1  1991-04-22   1.445
quandl_history/GAS_US199207.csv
         Date  Settle
0  1991-06-21    1.33
1  1991-06-24    1.29
quandl_history/GAS_US199210.csv
         Date  Settle
0  1991-09-25    1.65
1  1991-09-26    1.65
quandl_history/GAS_US199301.csv
         Date  Settle
0  1991-12-23    1.94
1  1991-12-24    1.94
quandl_history/GAS_US199304.csv
         Date  Settle
0  1992-01-27    1.36
1  1992-01-28    1.31
quandl_history/GAS_US199307.csv
         Date  Settle
0  1992-01-27    1.36
1  1992-01-28    1.31
quandl_history/GAS_US199310.csv
         Date  Settle
0  1992-04-16     1.6
1  1992-04-20     1.6
quandl_history/GAS_US199401.csv
         Date  Settle
0  1992-06-24   2.150
1  1992-06-25   2.155
quandl_history/GAS_US199404.csv

         Date  Settle
0  1992-09-24    1.66
1  1992-09-25    1.67
quandl_history/GAS_US199407.csv
         Date  Settle
0  1992-12-30    1.62
1  1992-12-31    1.60
quandl_history/GAS_US199410.csv
         Date  Settle
0  1993-03-25   1.994
1  1993-03-26   2.010
quandl_history/GAS_US199501.csv
         Date  Settle
0  1993-06-24   2.636
1  1993-06-25   2.636
quandl_history/GAS_US199504.csv
         Date  Settle
0  1993-09-24   2.313
1  1993-09-27   2.305
quandl_history/GAS_US199507.csv
         Date  Settle
0  1993-12-23   2.073
1  1993-12-27   2.118
quandl_history/GAS_US199510.csv
         Date  Settle
0  1994-03-25   2.283
1  1994-03-28   2.280
quandl_history/GAS_US199601.csv
         Date  Settle
0  1994-06-24   2.416
1  1994-06-27   2.407
quandl_history/GAS_US199604.csv
         Date  Settle
0  1994-09-26   2.070
1  1994-09-27   2.058

quandl_history/GAS_US199607.csv
         Date  Settle
0  1994-12-23   1.716
1  1994-12-27   1.778
quandl_history/GAS_US199610.csv
         Date  Settle
0  1995-03-28   1.892
1  1995-03-29   1.910
quandl_history/GAS_US199701.csv
         Date  Settle
0  1995-06-28   1.971
1  1995-06-29   1.968
quandl_history/GAS_US199704.csv
         Date  Settle
0  1995-09-26   1.750
1  1995-09-27   1.749
quandl_history/GAS_US199707.csv
         Date  Settle
0  1995-12-26   1.760
1  1995-12-27   1.776
quandl_history/GAS_US199710.csv
         Date  Settle
0  1996-03-26   1.990
1  1996-03-27   2.013
quandl_history/GAS_US199801.csv
         Date  Settle
0  1996-04-16   2.209
1  1996-04-17   2.197
quandl_history/GAS_US199804.csv
         Date  Settle
0  1996-04-18   1.912
1  1996-04-19   1.875
quandl_history/GAS_US199807.csv

         Date  Settle
0  1996-04-18   1.912
1  1996-04-19   1.875
quandl_history/GAS_US199810.csv
         Date  Settle
0  1996-04-18   1.942
1  1996-04-19   1.905
quandl_history/GAS_US199901.csv
         Date  Settle
0  1996-06-26   2.135
1  1996-06-27   2.155
quandl_history/GAS_US199904.csv
         Date  Settle
0  1996-09-25   1.895
1  1996-09-26   1.895
quandl_history/GAS_US199907.csv
         Date  Settle
0  1996-12-27   2.200
1  1996-12-30   2.165
quandl_history/GAS_US199910.csv
         Date  Settle
0  1997-03-25    2.09
1  1997-03-26    2.09
quandl_history/GAS_US200001.csv
         Date  Settle
0  1997-03-25   2.387
1  1997-03-26   2.387
quandl_history/GAS_US200004.csv
         Date  Settle
0  1998-01-02   2.154
1  1998-01-05   2.165

quandl_history/GAS_US200007.csv
         Date  Settle
0  1998-01-02   2.135
1  1998-01-05   2.149
quandl_history/GAS_US200010.csv
         Date  Settle
0  1997-09-29   2.112
1  1997-09-30   2.140
quandl_history/GAS_US200101.csv
         Date  Settle
0  1998-01-02   2.469
1  1998-01-05   2.486
quandl_history/GAS_US200104.csv
         Date  Settle
0  1998-03-31   2.273
1  1998-04-01   2.267
quandl_history/GAS_US200107.csv
         Date  Settle
0  1998-06-30   2.282
1  1998-07-01   2.285
quandl_history/GAS_US200110.csv
         Date  Settle
0  1998-10-01   2.186
1  1998-10-02   2.186
quandl_history/GAS_US200201.csv
         Date  Settle
0  1998-12-30   2.460
1  1998-12-31   2.484
quandl_history/GAS_US200204.csv
         Date  Settle
0  1999-03-30   2.302
1  1999-03-31   2.290

quandl_history/GAS_US200207.csv
         Date  Settle
0  1999-06-29   2.397
1  1999-06-30   2.391
quandl_history/GAS_US200210.csv
         Date  Settle
0  1999-09-29   2.877
1  1999-09-30   2.569
quandl_history/GAS_US200301.csv
         Date  Settle
0  1999-12-29   2.753
1  1999-12-30   2.738
quandl_history/GAS_US200304.csv
         Date  Settle
0  2000-03-30   2.617
1  2000-03-31   2.632
quandl_history/GAS_US200307.csv
         Date  Settle
0  2000-06-29   2.677
1  2000-06-30   2.693
quandl_history/GAS_US200310.csv
         Date  Settle
0  2000-09-27   3.490
1  2000-09-29   3.523
quandl_history/GAS_US200401.csv
         Date  Settle
0  2000-12-29   4.010
1  2001-01-02   3.948
quandl_history/GAS_US200404.csv
         Date  Settle
0  2003-05-12   5.185
1  2003-05-13   5.340

quandl_history/GAS_US200407.csv
         Date  Settle
0  2003-05-12   4.990
1  2003-05-13   5.088
quandl_history/GAS_US200410.csv
         Date  Settle
0  2003-05-12   4.965
1  2003-05-13   5.050
quandl_history/GAS_US200501.csv
         Date  Settle
0  2003-05-12    5.39
1  2003-05-13    5.44
quandl_history/GAS_US200504.csv
         Date  Settle
0  2003-05-12   4.805
1  2003-05-13   4.815
quandl_history/GAS_US200507.csv
         Date  Settle
0  2003-05-12   4.795
1  2003-05-13   4.720
quandl_history/GAS_US200510.csv
         Date  Settle
0  2003-05-12   4.772
1  2003-05-13   4.697
quandl_history/GAS_US200601.csv
         Date  Settle
0  2003-05-12   5.192
1  2003-05-13   5.127
quandl_history/GAS_US200604.csv
         Date  Settle
0  2003-05-12   4.691
1  2003-05-13   4.691

quandl_history/GAS_US200607.csv
         Date  Settle
0  2003-05-12   4.695
1  2003-05-13   4.690
quandl_history/GAS_US200610.csv
         Date  Settle
0  2003-05-12   4.883
1  2003-05-13   4.808
quandl_history/GAS_US200701.csv
         Date  Settle
0  2001-12-04   3.730
1  2001-12-05   3.656
quandl_history/GAS_US200704.csv
         Date  Settle
0  2004-04-20   4.770
1  2004-05-06   4.875
quandl_history/GAS_US200707.csv
         Date  Settle
0  2004-04-20    4.76
1  2004-07-23    5.03
quandl_history/GAS_US200710.csv
         Date  Settle
0  2004-10-28   5.955
1  2004-12-07   5.756
quandl_history/GAS_US200801.csv
         Date  Settle
0  2004-04-28    5.30
1  2004-11-09    6.58

quandl_history/GAS_US200804.csv
         Date  Settle
0  2004-04-28   4.725
1  2005-02-02   5.520
quandl_history/GAS_US200807.csv
         Date  Settle
0  2004-04-28   4.705
1  2005-05-27   6.240
quandl_history/GAS_US200810.csv
         Date  Settle
0  2004-04-28   4.735
1  2005-08-01   7.200
quandl_history/GAS_US200901.csv
         Date  Settle
0  2004-04-20   5.064
1  2005-04-26   7.100
quandl_history/GAS_US200904.csv
         Date  Settle
0  2004-04-20   4.559
1  2005-01-05   4.965
quandl_history/GAS_US200907.csv
         Date  Settle
0  2004-04-20   4.534
1  2005-09-08   7.370
quandl_history/GAS_US200910.csv
         Date  Settle
0  2004-04-20   4.554
1  2005-12-02   7.412
quandl_history/GAS_US201001.csv
         Date  Settle
0  2004-04-07   4.855
1  2005-08-09   7.900

quandl_history/GAS_US201004.csv
         Date  Settle
0  2005-04-08   5.653
1  2005-12-23   7.000
quandl_history/GAS_US201007.csv
         Date  Settle
0  2005-09-02   7.170
1  2005-10-14   6.515
quandl_history/GAS_US201010.csv
         Date  Settle
0  2005-12-09    6.75
1  2006-01-06    7.73
quandl_history/GAS_US201101.csv
         Date  Settle
0  2006-01-06   9.210
1  2006-01-13   9.351
quandl_history/GAS_US201104.csv
         Date  Settle
0  2006-01-06   7.410
1  2006-01-13   7.491
quandl_history/GAS_US201107.csv
         Date  Settle
0  2006-03-03   6.747
1  2006-03-10   6.920
quandl_history/GAS_US201110.csv
         Date  Settle
0  2006-01-20   8.012
1  2006-01-27   7.612
quandl_history/GAS_US201201.csv
         Date  Settle
0  2006-12-27   7.580
1  2006-12-28   7.615

quandl_history/GAS_US201204.csv
         Date  Settle
0  2006-12-27   6.085
1  2006-12-28   6.115
quandl_history/GAS_US201207.csv
         Date  Settle
0  2006-12-27   6.095
1  2006-12-28   6.115
quandl_history/GAS_US201210.csv
         Date  Settle
0  2006-12-13    6.47
1  2006-12-14    6.47
quandl_history/GAS_US201301.csv
         Date  Settle
0  2007-11-29   8.685
1  2007-11-30   8.639
quandl_history/GAS_US201304.csv
         Date  Settle
0  2007-11-29   7.550
1  2007-11-30   7.514
quandl_history/GAS_US201307.csv
         Date  Settle
0  2007-11-29   7.610
1  2007-11-30   7.574
quandl_history/GAS_US201310.csv
         Date  Settle
0  2007-11-29   7.730
1  2007-11-30   7.694

quandl_history/GAS_US201401.csv
         Date  Settle
0  2008-02-19   9.164
1  2008-02-20   9.144
quandl_history/GAS_US201404.csv
         Date  Settle
0  2008-02-19   8.124
1  2008-02-20   8.104
quandl_history/GAS_US201407.csv
         Date  Settle
0  2008-02-19   8.234
1  2008-02-20   8.214
quandl_history/GAS_US201410.csv
         Date  Settle
0  2008-02-19   8.354
1  2008-02-20   8.334
quandl_history/GAS_US201411.csv
         Date  Settle
0  2008-02-19   8.624
1  2008-02-20   8.604
quandl_history/GAS_US201412.csv
         Date  Settle
0  2008-02-19   8.939
1  2008-02-20   8.919
quandl_history/GAS_US201501.csv
         Date  Settle
0  2008-02-19   9.164
1  2008-02-20   9.144

quandl_history/GAS_US201502.csv
         Date  Settle
0  2008-02-19   9.169
1  2008-02-20   9.149
quandl_history/GAS_US201503.csv
         Date  Settle
0  2008-02-19   8.934
1  2008-02-20   8.914
quandl_history/GAS_US201504.csv
         Date  Settle
0  2008-02-19   8.129
1  2008-02-20   8.109
quandl_history/GAS_US201505.csv
         Date  Settle
0  2008-02-19   8.114
1  2008-02-20   8.094
quandl_history/GAS_US201506.csv
         Date  Settle
0  2008-02-19   8.174
1  2008-02-20   8.154
quandl_history/GAS_US201507.csv
         Date  Settle
0  2008-02-19   8.239
1  2008-02-20   8.219
quandl_history/GAS_US201508.csv
         Date  Settle
0  2008-02-19   8.289
1  2008-02-20   8.269

quandl_history/GAS_US201509.csv
         Date  Settle
0  2008-02-19   8.299
1  2008-02-20   8.279
quandl_history/GAS_US201510.csv
         Date  Settle
0  2008-02-19   8.359
1  2008-02-20   8.339
quandl_history/GAS_US201511.csv
         Date  Settle
0  2008-02-19   8.629
1  2008-02-20   8.609
quandl_history/GAS_US201512.csv
         Date  Settle
0  2008-02-19   8.939
1  2008-02-20   8.919
quandl_history/GAS_US201601.csv
         Date  Settle
0  2008-02-19   9.164
1  2008-02-20   9.144
quandl_history/GAS_US201602.csv
         Date  Settle
0  2008-02-19   9.169
1  2008-02-20   9.149
quandl_history/GAS_US201603.csv
         Date  Settle
0  2008-02-19   8.939
1  2008-02-20   8.919

quandl_history/GAS_US201604.csv
         Date  Settle
0  2008-02-19   8.154
1  2008-02-20   8.134
quandl_history/GAS_US201605.csv
         Date  Settle
0  2008-02-19   8.139
1  2008-02-20   8.119
quandl_history/GAS_US201606.csv
         Date  Settle
0  2008-02-19   8.199
1  2008-02-20   8.179
quandl_history/GAS_US201607.csv
         Date  Settle
0  2008-02-19   8.264
1  2008-02-20   8.244
quandl_history/GAS_US201608.csv
         Date  Settle
0  2008-02-19   8.314
1  2008-02-20   8.294
quandl_history/GAS_US201609.csv
         Date  Settle
0  2008-02-19   8.324
1  2008-02-20   8.304
quandl_history/GAS_US201610.csv

         Date  Settle
0  2008-02-19   8.384
1  2008-02-20   8.364
quandl_history/GAS_US201611.csv
         Date  Settle
0  2008-02-19   8.654
1  2008-02-20   8.644
quandl_history/GAS_US201612.csv
         Date  Settle
0  2008-02-19   8.964
1  2008-02-20   8.964
quandl_history/GAS_US201701.csv
         Date  Settle
0  2008-02-19   9.189
1  2008-02-20   9.189
quandl_history/GAS_US201702.csv
         Date  Settle
0  2008-02-19   9.194
1  2008-02-20   9.194
quandl_history/GAS_US201703.csv
         Date  Settle
0  2008-02-19   8.964
1  2008-02-20   8.964
quandl_history/GAS_US201704.csv
         Date  Settle
0  2008-02-19   8.194
1  2008-02-20   8.194

quandl_history/GAS_US201705.csv
         Date  Settle
0  2008-02-19   8.179
1  2008-02-20   8.179
quandl_history/GAS_US201706.csv
         Date  Settle
0  2008-02-19   8.239
1  2008-02-20   8.239
quandl_history/GAS_US201707.csv
         Date  Settle
0  2008-02-19   8.304
1  2008-02-20   8.304
quandl_history/PLAT200701.csv
         Date  Settle
0  2006-05-24  1300.0
1  2006-05-25  1310.0
quandl_history/PLAT200704.csv
         Date  Settle
0  2006-08-04  1267.0
1  2006-08-07  1277.9
quandl_history/PLAT200707.csv
         Date  Settle
0  2006-06-02  1266.9
1  2006-06-05  1281.3
quandl_history/PLAT200710.csv
         Date  Settle
0  2006-08-04  1277.0
1  2006-08-07  1287.9
quandl_history/PLAT200801.csv
         Date  Settle
0  2006-09-28  1180.0
1  2006-09-29  1170.2
quandl_history/PLAT200804.csv
         Date  Settle
0  2007-08-14  1297.0
1  2007-08-15  1291.9
quandl_history/PLAT200807.csv
         Date  Settle
0  2007-10-29  1481.9
1  2007-10-30  1456.1
quandl_history/PLAT200810.csv
         Date  Settle
0  2007-09-10  1298.2
1  2007-09-11  1307.0

quandl_history/PLAT200901.csv
         Date  Settle
0  2007-10-08  1377.0
1  2008-05-23  2180.0
quandl_history/PLAT200904.csv
         Date  Settle
0  2008-08-11  1547.5
1  2008-08-12  1490.8
quandl_history/PLAT200907.csv
         Date  Settle
0  2008-12-01   822.5
1  2008-12-02   819.8
quandl_history/PLAT200910.csv
         Date  Settle
0  2009-02-10  1044.4
1  2009-02-11  1089.9
quandl_history/PLAT201001.csv
         Date  Settle
0  2009-04-07  1182.5
1  2009-04-08  1193.8
quandl_history/PLAT201004.csv
         Date  Settle
0  2009-07-30  1198.9
1  2009-07-31  1224.1
quandl_history/PLAT201007.csv
         Date  Settle
0  2009-11-10  1360.2
1  2009-11-11  1376.3
quandl_history/PLAT201010.csv
         Date  Settle
0  2009-11-25  1491.5
1  2009-11-27  1455.1
quandl_history/PLAT201101.csv
         Date  Settle
0  2009-12-14  1458.1
1  2009-12-15  1462.7
quandl_history/PLAT201104.csv
         Date  Settle
0  2010-02-22  1521.9
1  2010-02-23  1500.3
quandl_history/PLAT201107.csv
         Date  Settle
0  2010-04-28  1718.2
1  2010-04-29  1738.6
quandl_history/PLAT201110.csv
         Date  Settle
0  2010-07-29  1572.7
1  2010-07-30  1586.3
quandl_history/PLAT201201.csv
         Date  Settle
0  2010-10-28  1699.2
1  2010-10-29  1714.3
quandl_history/PLAT201204.csv
         Date  Settle
0  2011-01-28  1813.2
1  2011-01-31  1807.8

quandl_history/PLAT201207.csv
         Date  Settle
0  2011-04-27  1824.9
1  2011-04-28  1847.6
quandl_history/PLAT201210.csv
         Date  Settle
0  2011-07-28  1804.8
1  2011-07-29  1797.6
quandl_history/PLAT201301.csv
         Date  Settle
0  2011-10-28  1661.5
1  2011-10-31  1617.3
quandl_history/PLAT201304.csv
         Date  Settle
0  2012-01-27  1632.7
1  2012-01-30  1625.9
quandl_history/PLAT201307.csv
         Date  Settle
0  2012-04-26  1575.8
1  2012-04-27  1581.3
quandl_history/PLAT201310.csv
         Date  Settle
0  2012-07-27  1416.1
1  2012-07-30  1419.2
quandl_history/PLAT201401.csv
         Date  Settle
0  2012-10-30  1562.0
1  2012-10-31  1585.3
quandl_history/PLAT201404.csv
         Date  Settle
0  2013-01-30  1699.3
1  2013-01-31  1685.0
quandl_history/PLAT201407.csv
         Date  Settle
0  2013-04-26  1481.6
1  2013-04-29  1512.6
quandl_history/PLAT201501.csv
         Date  Settle
0  2013-10-29  1469.3
1  2013-10-30  1487.3
quandl_history/PLAT201504.csv
         Date  Settle
0  2014-01-30  1387.2
1  2014-01-31  1380.6
quandl_history/PLAT201507.csv
         Date  Settle
0  2014-04-29  1434.6
1  2014-04-30  1431.1
quandl_history/PLAT201510.csv
         Date  Settle
0  2014-07-30  1483.2
1  2014-07-31  1467.4
quandl_history/PLAT201601.csv
         Date  Settle
0  2014-10-29  1275.6
1  2014-10-30  1252.1

quandl_history/PLAT201604.csv
         Date  Settle
0  2015-01-28  1266.3
1  2015-01-29  1224.8
quandl_history/PLAT201607.csv
         Date  Settle
0  2015-04-28  1164.0
1  2015-04-29  1166.8
quandl_history/PLAT201610.csv
         Date  Settle
0  2015-07-29   988.4
1  2015-07-30   993.3
quandl_history/PLAT201701.csv
         Date  Settle
0  2015-10-28  1018.5
1  2015-10-29   999.0
quandl_history/PLAT201704.csv
         Date  Settle
0  2016-01-27   886.7
1  2016-01-28   872.6
quandl_history/PLAT201707.csv
         Date  Settle
0  2016-04-27  1031.8
1  2016-04-28  1056.9
quandl_history/US2200712.csv
         Date      Settle
0  2007-07-02  101.984375
1  2007-07-03  101.890625
quandl_history/US2200803.csv
         Date      Settle
0  2007-10-10  103.140625
1  2007-10-11  103.125000
quandl_history/US2200806.csv
         Date      Settle
0  2008-01-10  105.851562
1  2008-01-11  106.062500
quandl_history/US2200809.csv
         Date      Settle
0  2008-01-28  106.500000
1  2008-01-29  106.359375
quandl_history/US2200812.csv
         Date      Settle
0  2008-01-28  106.500000
1  2008-01-29  106.359375
quandl_history/US2200903.csv
         Date      Settle
0  2008-01-28  106.500000
1  2008-01-29  106.359375
quandl_history/US2200906.csv
         Date      Settle
0  2008-04-01  106.820312
1  2008-04-02  106.648438
quandl_history/US2200909.csv
         Date      Settle
0  2008-07-01  105.578125
1  2008-07-02  105.718750

quandl_history/US2200912.csv
         Date      Settle
0  2008-10-01  107.039062
1  2008-10-02  107.359375
quandl_history/US2201003.csv
         Date      Settle
0  2009-01-02  108.773438
1  2009-01-05  109.015625
quandl_history/US2201006.csv
         Date      Settle
0  2009-04-01  108.640625
1  2009-04-02  108.492188
quandl_history/US2201009.csv
         Date      Settle
0  2009-07-01  107.765625
1  2009-07-02  107.921875
quandl_history/US2201012.csv
         Date      Settle
0  2009-10-01  106.265625
1  2009-10-02  106.156250
quandl_history/US2201103.csv
         Date      Settle
0  2010-01-04  105.757812
1  2010-01-05  106.007812
quandl_history/US2201106.csv
         Date      Settle
0  2010-03-31  106.132812
1  2010-04-01  106.085938
quandl_history/US2201109.csv
         Date      Settle
0  2010-06-30  108.414062
1  2010-07-01  108.445312
quandl_history/US2201112.csv
         Date      Settle
0  2010-09-28  108.820312
1  2010-09-29  108.804688
quandl_history/US2201203.csv
         Date      Settle
0  2010-12-31  108.671875
1  2011-01-03  108.648438
quandl_history/US2201206.csv
         Date      Settle
0  2011-03-31  108.000000
1  2011-04-01  107.078125
quandl_history/US2201209.csv
         Date      Settle
0  2011-06-30  108.000000
1  2011-07-01  107.953125
quandl_history/US2201212.csv
         Date      Settle
0  2011-09-30  108.609375
1  2011-10-03  108.656250
quandl_history/US2201303.csv
         Date      Settle
0  2011-12-30  108.601562
1  2012-01-03  108.570312
quandl_history/US2201306.csv
         Date      Settle
0  2012-03-30  108.242188
1  2012-04-02  108.421875

quandl_history/US2201309.csv
         Date      Settle
0  2012-06-29  108.593750
1  2012-07-02  108.648438
quandl_history/US2201312.csv
         Date      Settle
0  2012-09-28  109.242188
1  2012-10-01  109.257812
quandl_history/US2201403.csv
         Date      Settle
0  2012-12-31  109.257812
1  2013-01-02  109.250000
quandl_history/US2201406.csv
         Date      Settle
0  2013-03-28  110.187500
1  2013-04-01  110.203125
quandl_history/US2201409.csv
         Date      Settle
0  2013-06-28  109.773438
1  2013-07-01  109.718750
quandl_history/US2201412.csv
         Date      Settle
0  2013-09-30  109.796875
1  2013-10-01  109.765625
quandl_history/US2201503.csv
         Date      Settle
0  2013-12-31  109.703125
1  2014-01-02  109.687500
quandl_history/US2201506.csv
         Date      Settle
0  2014-03-31  109.531250
1  2014-04-01  109.523438
quandl_history/US2201509.csv
         Date      Settle
0  2014-06-30  109.515625
1  2014-07-01  109.492188
quandl_history/US2201512.csv
         Date      Settle
0  2014-09-30  108.937500
1  2014-10-01  109.078125
quandl_history/US2201603.csv
         Date      Settle
0  2014-12-31  108.890625
1  2015-01-02  108.914062
quandl_history/US2201606.csv
         Date      Settle
0  2015-03-31  109.265625
1  2015-04-01  109.210938
quandl_history/US2201609.csv
         Date      Settle
0  2015-06-30  109.148438
1  2015-07-01  109.015625
quandl_history/US2201612.csv

         Date     Settle
0  2016-03-31  109.21875
1  2016-04-01  109.15625
quandl_history/US2201703.csv
         Date      Settle
0  2016-07-01  109.585938
1  2016-07-05  109.664062
quandl_history/US2201706.csv
         Date      Settle
0  2016-09-30  109.218750
1  2016-10-03  109.132812
quandl_history/LEANHOG199006.csv
         Date  Settle
0  1989-04-21   47.25
1  1989-04-24   47.15
quandl_history/LEANHOG199106.csv
         Date  Settle
0  1990-04-23   50.60
1  1990-04-24   50.55
quandl_history/LEANHOG199206.csv
         Date  Settle
0  1991-04-26   50.05
1  1991-04-29   50.15
quandl_history/LEANHOG199306.csv
         Date  Settle
0  1992-05-08   47.15
1  1992-05-11   47.07
quandl_history/LEANHOG199406.csv
         Date  Settle
0  1993-04-27    47.6
1  1993-04-28    47.8
quandl_history/LEANHOG199506.csv
         Date  Settle
0  1994-02-25   51.40
1  1994-02-28   51.32

quandl_history/LEANHOG199606.csv
         Date  Settle
0  1995-03-14    47.1
1  1995-03-15    46.9
quandl_history/LEANHOG199706.csv
         Date  Settle
0  1995-11-10   72.70
1  1995-11-13   73.12
quandl_history/LEANHOG199806.csv
         Date  Settle
0  1996-11-20   64.35
1  1996-11-21   64.25
quandl_history/LEANHOG199906.csv
         Date  Settle
0  1997-12-15   62.65
1  1997-12-16   62.70
quandl_history/LEANHOG200006.csv
         Date  Settle
0  1999-03-10    62.5
1  1999-03-11    63.0
quandl_history/LEANHOG200106.csv
         Date  Settle
0  2000-02-16   60.75
1  2000-02-17   60.80
quandl_history/LEANHOG200206.csv
         Date  Settle
0  2001-06-04    62.5
1  2001-06-05    62.5
quandl_history/LEANHOG200306.csv
         Date  Settle
0  2002-05-23    51.5
1  2002-05-24    51.0
quandl_history/LEANHOG200406.csv
         Date  Settle
0  2003-04-16   63.25
1  2003-04-17   64.20

quandl_history/LEANHOG200506.csv
         Date  Settle
0  2004-05-18    64.0
1  2004-05-19    63.6
quandl_history/LEANHOG200606.csv
         Date  Settle
0  2005-05-17   63.00
1  2005-05-18   62.72
quandl_history/LEANHOG200706.csv
         Date  Settle
0  2006-05-18   62.25
1  2006-05-19   62.05
quandl_history/LEANHOG200806.csv
         Date  Settle
0  2007-05-17    74.1
1  2007-05-18    73.9
quandl_history/LEANHOG200906.csv
         Date  Settle
0  2008-04-15    89.2
1  2008-04-16    90.1
quandl_history/LEANHOG201006.csv
         Date  Settle
0  2008-12-12    76.0
1  2008-12-15    76.0
quandl_history/LEANHOG201106.csv
         Date  Settle
0  2009-12-14    77.0
1  2009-12-15    77.0
quandl_history/LEANHOG201206.csv
         Date  Settle
0  2010-12-14    84.6
1  2010-12-15    84.6
quandl_history/LEANHOG201306.csv
         Date  Settle
0  2011-12-14    86.0
1  2011-12-15    86.0

quandl_history/LEANHOG201406.csv
         Date  Settle
0  2012-12-14    94.5
1  2012-12-17    94.5
quandl_history/LEANHOG201506.csv
         Date  Settle
0  2014-02-14    90.6
1  2014-02-18    91.2
quandl_history/LEANHOG201606.csv
         Date  Settle
0  2014-12-12   80.00
1  2014-12-15   80.25
quandl_history/LEANHOG201706.csv
         Date  Settle
0  2015-12-14   70.15
1  2015-12-15   70.70
quandl_history/GBP197509.csv
         Date  Settle
0  1975-02-13  2.3120
1  1975-02-14  2.3125
quandl_history/GBP197512.csv
         Date  Settle
0  1975-02-13   2.275
1  1975-02-14   2.275
quandl_history/GBP197603.csv
         Date  Settle
0  1975-02-13    2.26
1  1975-02-14    2.26

quandl_history/GBP197606.csv
         Date  Settle
0  1975-03-10    2.28
1  1975-03-11    2.28
quandl_history/GBP197609.csv
         Date  Settle
0  1975-07-25   2.073
1  1975-07-28   2.073
quandl_history/GBP197612.csv
         Date  Settle
0  1975-12-19   1.937
1  1975-12-22   1.937
quandl_history/GBP197703.csv
         Date  Settle
0  1976-06-09   1.698
1  1976-06-10   1.700
quandl_history/GBP197706.csv
         Date  Settle
0  1976-09-08   1.650
1  1976-09-09   1.635
quandl_history/GBP197709.csv
         Date  Settle
0  1976-12-14   1.573
1  1976-12-15   1.556

quandl_history/GBP197712.csv
         Date  Settle
0  1976-12-14   1.539
1  1976-12-15   1.527
quandl_history/GBP197803.csv
         Date  Settle
0  1977-03-09    1.61
1  1977-03-10    1.61
quandl_history/GBP197806.csv
         Date  Settle
0  1977-03-21   1.604
1  1977-03-22   1.604
quandl_history/GBP197809.csv
         Date  Settle
0  1977-06-16   1.645
1  1977-06-17   1.645
quandl_history/GBP197812.csv
         Date  Settle
0  1977-07-28   1.675
1  1977-07-29   1.675
quandl_history/GBP197903.csv
         Date  Settle
0  1977-11-07   1.821
1  1977-11-08   1.838
quandl_history/GBP197906.csv

         Date  Settle
0  1978-01-13   1.947
1  1978-01-16   1.946
quandl_history/GBP197909.csv
         Date  Settle
0  1978-09-19   1.912
1  1978-09-20   1.927
quandl_history/GBP197912.csv
         Date  Settle
0  1979-03-19   2.005
1  1979-03-20   2.011
quandl_history/GBP198003.csv
         Date  Settle
0  1979-06-13   2.064
1  1979-06-14   2.060
quandl_history/GBP198006.csv
         Date  Settle
0  1979-08-15  2.1975
1  1979-08-16  2.1820
quandl_history/GBP198009.csv
         Date  Settle
0  1979-09-07    2.21
1  1979-09-10    2.21
quandl_history/GBP198012.csv

         Date  Settle
0  1980-01-18   2.258
1  1980-01-21   2.258
quandl_history/GBP198103.csv
         Date  Settle
0  1980-05-21  2.2500
1  1980-05-22  2.2425
quandl_history/GBP198106.csv
         Date  Settle
0  1980-09-15   2.360
1  1980-09-16   2.355
quandl_history/GBP198109.csv
         Date  Settle
0  1980-10-06   2.377
1  1980-10-07   2.374
quandl_history/GBP198112.csv
         Date  Settle
0  1981-02-13  2.3665
1  1981-02-17  2.3400
quandl_history/GBP198203.csv
         Date  Settle
0  1981-04-10    2.24
1  1981-04-13    2.24

quandl_history/GBP198206.csv
         Date  Settle
0  1981-07-24   1.916
1  1981-07-27   1.916
quandl_history/GBP198209.csv
         Date  Settle
0  1981-11-16  1.8860
1  1981-11-17  1.8825
quandl_history/GBP198212.csv
         Date  Settle
0  1981-12-11  1.8585
1  1981-12-14  1.8545
quandl_history/GBP198303.csv
         Date  Settle
0  1982-05-18  1.8250
1  1982-05-19  1.7965
quandl_history/GBP198306.csv
         Date  Settle
0  1982-08-23   1.762
1  1982-08-24   1.787
quandl_history/GBP198309.csv
         Date  Settle
0  1982-11-18    1.62
1  1982-11-19    1.63
quandl_history/GBP198312.csv

         Date  Settle
0  1982-12-02   1.657
1  1982-12-03   1.652
quandl_history/GBP198403.csv
         Date  Settle
0  1983-02-22   1.497
1  1983-02-23   1.504
quandl_history/GBP198406.csv
         Date  Settle
0  1983-06-21   1.534
1  1983-06-22   1.533
quandl_history/GBP198409.csv
         Date  Settle
0  1983-11-29  1.4695
1  1983-11-30  1.4710
quandl_history/GBP198412.csv
         Date  Settle
0  1983-12-13  1.4300
1  1983-12-14  1.4355
quandl_history/GBP198503.csv
         Date  Settle
0  1984-01-19   1.417
1  1984-01-20   1.411
quandl_history/GBP198506.csv
         Date  Settle
0  1984-09-06   1.302
1  1984-09-07   1.288

quandl_history/GBP198509.csv
         Date  Settle
0  1984-09-20   1.235
1  1984-09-21   1.264
quandl_history/GBP198512.csv
         Date  Settle
0  1984-10-05   1.260
1  1984-10-08   1.258
quandl_history/GBP198603.csv
         Date  Settle
0  1985-03-11  1.0760
1  1985-03-12  1.0725
quandl_history/GBP198606.csv
         Date  Settle
0  1985-04-23   1.225
1  1985-04-24   1.207
quandl_history/GBP198609.csv
         Date  Settle
0  1985-12-09   1.430
1  1985-12-10   1.402
quandl_history/GBP198612.csv
         Date  Settle
0  1985-11-27   1.420
1  1985-11-29   1.459
quandl_history/GBP198703.csv

         Date  Settle
0  1986-05-27   1.480
1  1986-05-28   1.475
quandl_history/GBP198706.csv
         Date  Settle
0  1986-07-28  1.4450
1  1986-07-29  1.4515
quandl_history/GBP198709.csv
         Date  Settle
0  1986-09-17  1.4230
1  1986-09-18  1.4205
quandl_history/GBP198712.csv
         Date  Settle
0  1986-12-15  1.3715
1  1986-12-16  1.3710
quandl_history/GBP198803.csv
         Date  Settle
0  1987-03-12  1.5525
1  1987-03-13  1.5385
quandl_history/GBP198806.csv
         Date  Settle
0  1987-07-09  1.5965
1  1987-07-10  1.5925

quandl_history/GBP198809.csv
         Date  Settle
0  1987-12-23  1.8092
1  1987-12-24  1.8312
quandl_history/GBP198812.csv
         Date  Settle
0  1987-12-24  1.8244
1  1987-12-28  1.8400
quandl_history/GBP198903.csv
         Date  Settle
0  1988-06-06   1.781
1  1988-06-07   1.799
quandl_history/GBP198906.csv
         Date  Settle
0  1988-09-12  1.6556
1  1988-09-13  1.6560
quandl_history/GBP198909.csv
         Date  Settle
0  1988-12-09   1.803
1  1988-12-12   1.793
quandl_history/GBP198912.csv
         Date  Settle
0  1989-01-23  1.7352
1  1989-01-24  1.7270
quandl_history/GBP199003.csv
         Date  Settle
0  1989-05-22  1.5338
1  1989-05-23  1.5208

quandl_history/GBP199006.csv
         Date  Settle
0  1989-03-31  1.6576
1  1989-04-03  1.6558
quandl_history/GBP199009.csv
         Date  Settle
0  1989-12-19  1.5298
1  1989-12-20  1.5378
quandl_history/GBP199012.csv
         Date  Settle
0  1990-04-18  1.5744
1  1990-04-19  1.5810
quandl_history/GBP199103.csv
         Date  Settle
0  1990-06-25  1.6584
1  1990-06-26  1.6696
quandl_history/GBP199106.csv
         Date  Settle
0  1990-09-12  1.7742
1  1990-09-13  1.8010
quandl_history/GBP199109.csv
         Date  Settle
0  1990-12-10  1.8784
1  1990-12-11  1.8708
quandl_history/GBP199112.csv
         Date  Settle
0  1991-03-08  1.8008
1  1991-03-11  1.7850

quandl_history/GBP199203.csv
         Date  Settle
0  1991-06-10  1.6220
1  1991-06-11  1.6086
quandl_history/GBP199206.csv
         Date  Settle
0  1991-09-13  1.6824
1  1991-09-16  1.6858
quandl_history/GBP199209.csv
         Date  Settle
0  1991-12-06  1.7406
1  1991-12-09  1.7340
quandl_history/GBP199212.csv
         Date  Settle
0  1992-03-02  1.6826
1  1992-03-03  1.6668
quandl_history/GBP199303.csv
         Date  Settle
0  1992-06-05  1.7606
1  1992-06-08  1.7618
quandl_history/GBP199306.csv
         Date  Settle
0  1992-09-08  1.9006
1  1992-09-09  1.8678
quandl_history/GBP199309.csv
         Date  Settle
0  1992-12-09  1.5336
1  1992-12-10  1.5196

quandl_history/GBP199312.csv
         Date  Settle
0  1993-01-11  1.5162
1  1993-01-12  1.5046
quandl_history/GBP199403.csv
         Date  Settle
0  1993-02-25  1.4006
1  1993-02-26  1.3986
quandl_history/GBP199406.csv
         Date  Settle
0  1993-08-05  1.4722
1  1993-08-06  1.4736
quandl_history/GBP199409.csv
         Date  Settle
0  1993-12-07  1.4762
1  1993-12-08  1.4806
quandl_history/GBP199412.csv
         Date  Settle
0  1993-11-24   1.465
1  1993-11-26   1.457
quandl_history/GBP199503.csv
         Date  Settle
0  1994-03-22  1.4784
1  1994-03-23  1.4870
quandl_history/GBP199506.csv
         Date  Settle
0  1994-09-06  1.5466
1  1994-09-07  1.5364

quandl_history/GBP199509.csv
         Date  Settle
0  1994-12-09  1.5602
1  1994-12-12  1.5634
quandl_history/GBP199512.csv
         Date  Settle
0  1995-02-17  1.5692
1  1995-02-21  1.5748
quandl_history/GBP199603.csv
         Date  Settle
0  1995-04-19  1.6006
1  1995-04-20  1.6008
quandl_history/GBP199606.csv
         Date  Settle
0  1995-09-07  1.5394
1  1995-09-08  1.5408
quandl_history/GBP199609.csv
         Date  Settle
0  1995-09-18  1.5354
1  1995-09-19  1.5330
quandl_history/GBP199612.csv
         Date  Settle
0  1995-12-18  1.5294
1  1995-12-19  1.5296
quandl_history/GBP199703.csv
         Date  Settle
0  1996-03-25  1.5126
1  1996-03-26  1.5138

quandl_history/GBP199706.csv
         Date  Settle
0  1996-09-06  1.5618
1  1996-09-09  1.5604
quandl_history/GBP199709.csv
         Date  Settle
0  1996-10-17  1.5792
1  1996-10-18  1.5820
quandl_history/GBP199712.csv
         Date  Settle
0  1996-12-17  1.6544
1  1996-12-18  1.6576
quandl_history/GBP199803.csv
         Date  Settle
0  1997-06-06  1.6214
1  1997-06-09  1.6256
quandl_history/GBP199806.csv
         Date  Settle
0  1997-08-18  1.5910
1  1997-08-19  1.5852
quandl_history/GBP199809.csv
         Date  Settle
0  1997-09-16  1.5744
1  1997-09-17  1.5790
quandl_history/GBP199812.csv
         Date  Settle
0  1997-09-10  1.5596
1  1997-09-11  1.5748

quandl_history/GBP199903.csv
         Date  Settle
0  1998-05-11  1.6082
1  1998-05-12  1.6112
quandl_history/GBP199906.csv
         Date  Settle
0  1998-06-09  1.6060
1  1998-06-10  1.6002
quandl_history/GBP199909.csv
         Date  Settle
0  1998-09-08  1.6264
1  1998-09-09  1.6398
quandl_history/GBP199912.csv
         Date  Settle
0  1998-12-08  1.6442
1  1998-12-09  1.6436
quandl_history/GBP200003.csv
         Date  Settle
0  1999-03-09  1.6172
1  1999-03-10  1.6256
quandl_history/GBP200006.csv
         Date  Settle
0  1999-06-04  1.6150
1  1999-06-07  1.6048
quandl_history/GBP200009.csv
         Date  Settle
0  2000-01-03  1.6380
1  2000-01-04  1.6358

quandl_history/GBP200012.csv
         Date  Settle
0  2000-01-03  1.6366
1  2000-01-04  1.6344
quandl_history/GBP200103.csv
         Date  Settle
0  2000-03-06  1.5790
1  2000-03-07  1.5824
quandl_history/GBP200106.csv
         Date  Settle
0  2000-06-13  1.5206
1  2000-06-14  1.5120
quandl_history/GBP200109.csv
         Date  Settle
0  2000-09-12  1.4148
1  2000-09-13  1.4172
quandl_history/GBP200112.csv
         Date  Settle
0  2000-12-08  1.4558
1  2000-12-11  1.4676
quandl_history/GBP200203.csv
         Date  Settle
0  2001-03-13  1.4412
1  2001-03-14  1.4376
quandl_history/GBP200206.csv
         Date  Settle
0  2001-04-05  1.4130
1  2001-04-06  1.4222

quandl_history/GBP200209.csv
         Date  Settle
0  2001-04-05  1.4040
1  2001-04-06  1.4132
quandl_history/GBP200212.csv
         Date  Settle
0  2001-06-19  1.3658
1  2001-06-20  1.3648
quandl_history/GBP200303.csv
         Date  Settle
0  2001-09-18  1.4296
1  2001-09-19  1.4288
quandl_history/GBP200306.csv
         Date  Settle
0  2001-12-19  1.4078
1  2001-12-20  1.4062
quandl_history/GBP200309.csv
         Date  Settle
0  2002-03-19  1.3792
1  2002-03-20  1.3828

quandl_history/GBP200312.csv
         Date  Settle
0  2002-06-18  1.4380
1  2002-06-19  1.4376
quandl_history/GBP200403.csv
         Date  Settle
0  2002-09-17  1.4852
1  2002-09-18  1.4962
quandl_history/GBP200406.csv
         Date  Settle
0  2002-12-18  1.5488
1  2002-12-19  1.5518
quandl_history/GBP200409.csv
         Date  Settle
0  2003-03-17  1.5148
1  2003-03-18  1.5128
quandl_history/GBP200412.csv
         Date  Settle
0  2003-06-16  1.6136
1  2003-06-17  1.6202
quandl_history/GBP200503.csv
         Date  Settle
0  2003-09-15  1.5380
1  2003-09-16  1.5228
quandl_history/GBP200506.csv
         Date  Settle
0  2003-12-15  1.6652
1  2003-12-16  1.6743

quandl_history/GBP200509.csv
         Date  Settle
0  2004-03-15  1.7160
1  2004-03-16  1.7251
quandl_history/GBP200512.csv
         Date  Settle
0  2004-06-14  1.7338
1  2004-06-15  1.7528
quandl_history/GBP200603.csv
         Date  Settle
0  2004-09-13  1.7298
1  2004-09-14  1.7311
quandl_history/GBP200606.csv
         Date  Settle
0  2004-12-13  1.8713
1  2004-12-14  1.8723
quandl_history/GBP200609.csv
         Date  Settle
0  2005-03-14  1.8686
1  2005-03-15  1.8678
quandl_history/GBP200612.csv
         Date  Settle
0  2005-06-13  1.7753
1  2005-06-14  1.7754

quandl_history/GBP200703.csv
         Date  Settle
0  2005-09-27  1.7620
1  2005-09-28  1.7616
quandl_history/GBP200706.csv
         Date  Settle
0  2005-12-19  1.7754
1  2005-12-27  1.7395
quandl_history/GBP200709.csv
         Date  Settle
0  2006-07-03  1.8555
1  2006-07-05  1.8522
quandl_history/GBP200712.csv
         Date  Settle
0  2006-08-25  1.8914
1  2006-08-29  1.9031
quandl_history/GBP200803.csv
         Date  Settle
0  2006-09-19  1.8832
1  2006-09-20  1.8904
quandl_history/GBP200806.csv
         Date  Settle
0  2006-12-19  1.9587
1  2006-12-20  1.9552
quandl_history/GBP200809.csv
         Date  Settle
0  2007-03-20  1.9437
1  2007-03-21  1.9513

quandl_history/GBP200812.csv
         Date  Settle
0  2007-06-22  1.9735
1  2007-06-29  1.9819
quandl_history/GBP200903.csv
         Date  Settle
0  2007-09-21  1.9860
1  2007-09-28  1.9895
quandl_history/GBP200906.csv
         Date  Settle
0  2007-12-17  1.9849
1  2007-12-18  1.9753
quandl_history/GBP200909.csv
         Date  Settle
0  2008-03-17  1.9146
1  2008-03-18  1.9329
quandl_history/GBP200912.csv
         Date  Settle
0  2008-06-16  1.8970
1  2008-06-17  1.8905
quandl_history/GBP201003.csv
         Date  Settle
0  2008-09-15  1.7335
1  2008-09-16  1.7298
quandl_history/GBP201006.csv

         Date  Settle
0  2008-12-15  1.5242
1  2008-12-16  1.5467
quandl_history/GBP201009.csv
         Date  Settle
0  2009-03-16  1.4149
1  2009-03-17  1.4110
quandl_history/GBP201012.csv
         Date  Settle
0  2009-06-15  1.6278
1  2009-06-16  1.6425
quandl_history/GBP201103.csv
         Date  Settle
0  2009-09-14  1.6551
1  2009-09-15  1.6489
quandl_history/GBP201106.csv
         Date  Settle
0  2009-12-14  1.6241
1  2009-12-15  1.6193
quandl_history/GBP201109.csv
         Date  Settle
0  2010-03-15  1.5006
1  2010-03-16  1.5188
quandl_history/GBP201112.csv
         Date  Settle
0  2010-06-14  1.4771
1  2010-06-15  1.4822

quandl_history/GBP201203.csv
         Date  Settle
0  2010-09-13  1.5343
1  2010-09-14  1.5499
quandl_history/GBP201206.csv
         Date  Settle
0  2010-12-13  1.5774
1  2010-12-14  1.5667
quandl_history/GBP201209.csv
         Date  Settle
0  2011-03-14  1.5997
1  2011-03-15  1.5925
quandl_history/GBP201212.csv
         Date  Settle
0  2011-06-13  1.6233
1  2011-06-14  1.6238
quandl_history/GBP201303.csv
         Date  Settle
0  2011-09-19  1.5613
1  2011-09-20  1.5645
quandl_history/GBP201306.csv
         Date  Settle
0  2011-12-19  1.5448
1  2011-12-20  1.5582
quandl_history/GBP201309.csv

         Date  Settle
0  2012-03-19  1.5830
1  2012-03-20  1.5808
quandl_history/GBP201312.csv
         Date  Settle
0  2012-06-18  1.5654
1  2012-06-19  1.5711
quandl_history/GBP201403.csv
         Date  Settle
0  2012-09-17  1.6183
1  2012-09-18  1.6203
quandl_history/GBP201406.csv
         Date  Settle
0  2012-12-17  1.6178
1  2012-12-18  1.6225
quandl_history/GBP201409.csv
         Date  Settle
0  2013-03-18  1.5089
1  2013-03-19  1.5089
quandl_history/GBP201412.csv
         Date  Settle
0  2013-06-17  1.5650
1  2013-06-18  1.5604
quandl_history/GBP201503.csv
         Date  Settle
0  2013-08-09  1.5478
1  2013-08-12  1.5430

quandl_history/GBP201506.csv
         Date  Settle
0  2013-08-12  1.5427
1  2013-08-13  1.5397
quandl_history/GBP201509.csv
         Date  Settle
0  2013-08-12  1.5430
1  2013-08-13  1.5398
quandl_history/GBP201512.csv
         Date  Settle
0  2013-08-12  1.5445
1  2013-08-13  1.5413
quandl_history/GBP201603.csv
         Date  Settle
0  2013-08-12  1.5460
1  2013-08-13  1.5428
quandl_history/GBP201606.csv
         Date  Settle
0  2013-08-12  1.5475
1  2013-08-13  1.5443
quandl_history/GBP201609.csv
         Date  Settle
0  2013-08-12  1.5492
1  2013-08-13  1.5458

quandl_history/GBP201612.csv
         Date  Settle
0  2013-08-12     0.0
1  2013-08-13     0.0
quandl_history/GBP201703.csv
         Date  Settle
0  2013-08-12  1.5521
1  2013-08-13  1.5487
quandl_history/GBP201706.csv
         Date  Settle
0  2013-08-12  1.5537
1  2013-08-13  1.5503
quandl_history/VIX200806.csv

ValueError: Usecols do not match names.

In [1]:
import pandas as pd
'''
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
for row in roll_df.itertuples():
    symbol = row.CARVER
    date = row.DATETIME
    mat = row.PRICE_CONTRACT
    
    if symbol == 'VIX':
    
        download_file = "quandl_history/" + symbol + mat + ".csv" 
        print(download_file)
        download_df = pd.read_csv(download_file)
        download_df.rename(columns={'Trade Date':'Date'},inplace=True)
        download_df.to_csv(download_file)
        print(download_df.head(2))
'''

'\nroll_df = pd.read_csv("admin/roll_history.csv", dtype={\'CARVER\':str, \'PRICE_CONTRACT\': str} )\nfor row in roll_df.itertuples():\n    symbol = row.CARVER\n    date = row.DATETIME\n    mat = row.PRICE_CONTRACT\n    \n    if symbol == \'VIX\':\n    \n        download_file = "quandl_history/" + symbol + mat + ".csv" \n        print(download_file)\n        download_df = pd.read_csv(download_file)\n        download_df.rename(columns={\'Trade Date\':\'Date\'},inplace=True)\n        download_df.to_csv(download_file)\n        print(download_df.head(2))\n'

In [5]:
import pandas as pd
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
list = []
for row in roll_df.itertuples():
    symbol = row.CARVER
    date = row.DATETIME # Check if this is in the downloaded history data.
    mat = row.PRICE_CONTRACT
    download_file = "quandl_history/" + symbol + mat + ".csv" 
    download_df = pd.read_csv(download_file, index_col=['Date'])
    if not(date in download_df.index):
        list.append([date, symbol, mat])
        #print(symbol, mat)
        #print("------------------")
        
print(list)

[['2016-06-20', 'KR3', '201609'], ['2013-03-26', 'V2X', '201311'], ['2016-06-20', 'KR10', '201609'], ['2016-09-13', 'KR10', '201612'], ['2016-09-05', 'KOSPI', '201612'], ['2013-03-22', 'SMI', '201312'], ['2013-07-26', 'AEX', '201310'], ['2014-12-19', 'AEX', '201501'], ['2015-01-16', 'AEX', '201502']]

In [14]:
import datetime
import pandas as pd
list = [['2016-06-20', 'KR3', '201609'], \
        ['2013-03-26', 'V2X', '201311'], \
        ['2016-06-20', 'KR10', '201609'],\
        ['2016-09-13', 'KR10', '201612'],\
        ['2016-09-05', 'KOSPI', '201612'],\
        ['2013-03-22', 'SMI', '201312'],\
        ['2013-07-26', 'AEX', '201310'],\
        ['2014-12-19', 'AEX', '201501'],\
        ['2015-01-16', 'AEX', '201502']]

for array in list:
    date = datetime.datetime.strptime(array[0], "%Y-%m-%d")
    start_date = date - datetime.timedelta(days=1000)
    print(start_date)
    print(end_date)
    end_date = date + datetime.timedelta(days=1000)
    
    download_file = "quandl_history/" + array[1] + array[2] + ".csv" 
    download_df = pd.read_csv(download_file, index_col=['Date'])
    
    print("-----------", array[0], array[1], array[2], "-------------")
    print(download_df.loc[:])

2013-09-24 00:00:00
2019-03-17 00:00:00
----------- 2016-06-20 KR3 201609 -------------
            Settle  Change    Open    High     Low  Trading Volume  \
Date
2016-09-14  110.60   30.00  110.63  110.67  110.57        112142.0
2016-09-15  110.60   30.00  110.63  110.67  110.57        112142.0
2016-09-16  110.60   30.00  110.63  110.67  110.57        112142.0
2016-09-19  110.58   -0.02  110.59  110.65  110.58         49606.0
2016-09-20  110.59    0.01  110.60  110.60  110.57         22175.0

            Open Interest
Date
2016-09-14       198459.0
2016-09-15       198459.0
2016-09-16       198459.0
2016-09-19        94217.0
2016-09-20            0.0
2010-06-30 00:00:00
2019-03-17 00:00:00
----------- 2013-03-26 V2X 201311 -------------
             Open   High    Low  Settle   Volume  Open Interest
Date
2013-09-09  22.00  22.00  21.75   21.80   1666.0        20626.0
2013-09-10  21.70  21.70  21.15   21.30   1537.0        20318.0
2013-09-11  21.15  21.25  20.95   20.95   1531.0        21050.0
2013-09-12  20.70  21.05  20.70   21.00   2069.0        21379.0
2013-09-13  20.90  21.15  20.80   21.00   1806.0        22428.0
2013-09-16  20.55  20.80  20.55   20.75   2304.0        23538.0
2013-09-17  21.15  21.15  20.65   20.75   2578.0        24586.0
2013-09-18  20.75  20.85  20.35   20.40   2501.0        26251.0
2013-09-19  20.00  20.10  19.65   20.00   3107.0        27457.0
2013-09-20  19.85  20.00  19.50   19.80   3818.0        27954.0
2013-09-23  19.70  20.15  19.40   20.05   3736.0        29564.0
2013-09-24  19.80  19.95  19.60   19.65   3826.0        30490.0
2013-09-25  19.80  19.85  19.55   19.60   2325.0        31070.0
2013-09-26  19.55  19.90  19.45   19.60   2242.0        32079.0
2013-09-27  19.40  19.85  19.40   19.70   2317.0        32309.0
2013-09-30  19.95  20.30  19.90   20.20   5735.0        32858.0
2013-10-01  20.20  20.30  19.65   20.05   2818.0        34459.0
2013-10-02  20.00  20.50  20.00   20.20   3491.0        34255.0
2013-10-03  20.20  20.80  20.20   20.75   6922.0        32705.0
2013-10-04  20.65  20.80  20.40   20.70   8950.0        32043.0
2013-10-08  21.00  21.65  20.85   21.60  10126.0        33605.0
2013-10-10  21.95  21.95  20.70   20.90  12789.0        33592.0
2013-10-11  20.80  20.90  20.00   20.05   9135.0        35668.0
2013-10-14  20.25  20.70  20.25   20.45  12680.0        34222.0
2013-10-15  20.00  20.15  19.50   19.75  16089.0        39464.0
2013-10-16  20.00  20.35  19.30   19.40  18644.0        45404.0
2013-10-17  19.30  19.30  18.20   18.20  11904.0        44461.0
2013-10-18  18.25  18.25  17.55   17.55   8702.0        43098.0
2013-10-21  17.55  17.80  17.50   17.60   8556.0        43025.0
2013-10-22  17.90  17.90  17.10   17.40  11100.0        39796.0
2013-10-23  17.70  18.05  17.60   17.80   3750.0        40673.0
2013-10-24  17.65  17.70  17.30   17.35   7055.0        39959.0
2013-10-25  17.65  17.65  17.25   17.25   2570.0        38978.0
2013-10-28  17.15  17.70  17.15   17.30   3308.0        37795.0
2013-10-29  17.50  17.50  16.85   16.90   3701.0        37931.0
2013-10-30  16.90  17.30  16.65   17.10   3912.0        38660.0
2013-10-31  17.10  17.25  16.80   16.95   4124.0        38722.0
2013-11-01  17.10  17.35  16.95   17.15   3013.0        37864.0
2013-11-04  17.05  17.25  17.00   17.05   1819.0        37728.0
2013-11-05  17.00  17.50  16.90   17.25   6885.0        36960.0
2013-11-06  17.05  17.20  16.75   17.10   2551.0        34742.0
2013-11-07  17.10  17.30  16.50   17.20   7245.0        34982.0
2013-11-08  17.55  17.75  17.10   17.35  13052.0        34699.0
2013-11-11  17.40  17.50  17.10   17.30   1935.0        28801.0
2013-11-12  17.15  17.45  17.10   17.45   2056.0        28865.0
2013-11-13  17.55  18.00  17.35   17.55   9093.0        27830.0
2013-11-14  16.90  17.05  16.50   16.55   8243.0        25635.0
2013-11-15  16.55  16.60  16.10   16.25   4760.0        23985.0
2013-11-18  16.40  16.45  15.50   15.75   9749.0        24518.0
2013-11-19  15.85  16.10  15.75   15.85   7447.0        20788.0
2013-11-20  15.90  15.90  15.15   15.26   1046.0        16642.0
2013-09-24 00:00:00
2015-12-21 00:00:00
----------- 2016-06-20 KR10 201609 -------------
            Settle  Change    Open    High     Low  Trading Volume  \
Date
2016-09-14  131.66   -0.02  131.82  131.99  131.54         88531.0
2016-09-15  131.66   -0.02  131.82  131.99  131.54         88531.0
2016-09-16  131.66   -0.02  131.82  131.99  131.54         88531.0
2016-09-19  131.41   -0.25  131.57  131.71  131.41         45406.0
2016-09-20  131.49    0.08  131.45  131.53  131.34         11931.0

            Open Interest
Date
2016-09-14        64972.0
2016-09-15        64972.0
2016-09-16        64972.0
2016-09-19        25030.0
2016-09-20            0.0
2013-12-18 00:00:00
2019-03-17 00:00:00
----------- 2016-09-13 KR10 201612 -------------
            Settle  Change    Open    High     Low  Trading Volume  \
Date
2016-09-14  131.61    0.02  131.73  131.93  131.53          3171.0
2016-09-15  131.61    0.02  131.73  131.93  131.53          3171.0
2016-09-16  131.61    0.02  131.73  131.93  131.53          3171.0
2016-09-19  131.31   -0.30  131.50  131.66  131.31         20461.0
2016-09-20  131.54    0.23  131.36  131.54  131.23         64701.0
2016-09-21  131.32   -0.22  131.65  131.69  131.01         91051.0
2016-09-22  132.15    0.83  131.80  132.15  131.76         72622.0
2016-09-23  132.26    0.11  132.21  132.34  132.06         64314.0
2016-09-26  132.45    0.19  132.26  132.58  132.23         56112.0
2016-09-27  132.34   -0.11  132.60  132.62  132.22         72605.0
2016-09-28  132.65    0.31  132.52  132.79  132.51         66838.0
2016-09-29  132.89    0.24  132.48  132.89  132.38         81262.0
2016-09-30  133.21    0.32  132.89  133.53  132.82        104055.0
2016-10-03  133.21    0.32  132.89  133.53  132.82        104055.0
2016-10-04  132.75   -0.46  132.78  132.94  132.70         54674.0
2016-10-05  132.08   -0.67  132.15  132.34  132.08         86972.0
2016-10-06  131.79   -0.29  132.00  132.10  131.77         66971.0
2016-10-07  131.95    0.16  131.81  132.00  131.71         68433.0
2016-10-10  131.60   -0.35  132.15  132.15  131.60         61467.0
2016-10-11  130.96   -0.64  131.40  131.40  130.88        102457.0
2016-10-12  131.32    0.36  131.11  131.35  130.88         92450.0
2016-10-13  131.80    0.48  131.39  132.02  131.36        102016.0
2016-10-14  131.65   -0.15  131.87  131.88  131.23        131638.0
2016-10-17  130.80   -0.85  131.19  131.24  130.80         73847.0
2016-10-18  131.05    0.25  131.00  131.12  130.90         73993.0
2016-10-19  131.03   -0.02  131.40  131.43  130.94         70670.0
2016-10-20  131.03   30.00  130.95  131.12  130.87         50969.0
2016-10-21  130.75   -0.28  130.94  131.34  130.75         97215.0
2016-10-24  131.17    0.42  130.83  131.17  130.63         59979.0
2016-10-25  130.80   -0.37  131.00  131.02  130.67         66653.0
...            ...     ...     ...     ...     ...             ...
2016-11-09  130.60    0.60  129.87  131.31  129.67        130683.0
2016-11-10  128.61   -1.99  129.00  129.07  128.57         92179.0
2016-11-11  127.45   -1.16  127.85  128.18  127.41         72042.0
2016-11-14  125.70   -1.75  127.15  127.46  125.70        104194.0
2016-11-15  126.35    0.65  126.06  126.62  125.82         98626.0
2016-11-16  125.42   -0.93  126.30  126.66  125.42         67289.0
2016-11-17  126.38    0.96  125.92  126.38  125.15         63455.0
2016-11-18  125.58   -0.80  125.50  125.88  125.17         57791.0
2016-11-21  125.57   -0.01  125.55  125.72  125.23         35785.0
2016-11-22  125.35   -0.22  125.92  126.27  125.30         53825.0
2016-11-23  125.55    0.20  125.61  125.67  125.24         34236.0
2016-11-24  124.88   -0.67  125.35  125.35  124.73         34378.0
2016-11-25  124.93    0.05  125.03  125.18  124.31         45053.0
2016-11-28  125.42    0.49  125.35  125.42  124.93         31596.0
2016-11-29  125.42   30.00  125.65  125.65  125.28         36926.0
2016-11-30  125.37   -0.05  125.65  125.86  125.24         37067.0
2016-12-01  124.85   -0.52  124.50  125.17  124.36         47011.0
2016-12-02  124.25   -0.60  124.24  124.33  124.05         36387.0
2016-12-05  125.09    0.84  124.86  125.09  124.40         46155.0
2016-12-06  124.80   -0.29  124.71  125.49  124.71         49267.0
2016-12-07  124.92    0.12  124.85  125.11  124.68         35162.0
2016-12-08  125.32    0.40  125.18  125.35  125.08         26749.0
2016-12-09  124.80   -0.52  124.65  124.95  124.58         35382.0
2016-12-12  124.32   -0.48  124.32  124.43  124.05         33348.0
2016-12-13  124.87    0.55  124.67  124.97  124.59         35165.0
2016-12-14  125.60    0.73  124.89  125.65  124.88         36864.0
2016-12-15  124.98   -0.62  124.50  124.98  124.39         36386.0
2016-12-16  125.31    0.33  124.79  125.31  124.74         41727.0
2016-12-19  125.12   -0.19  125.27  125.37  125.07         26045.0
2016-12-20  125.64    0.52  125.53  125.92  125.46         12809.0

            Open Interest
Date
2016-09-14        15426.0
2016-09-15        15426.0
2016-09-16        15426.0
2016-09-19        58277.0
2016-09-20        71287.0
2016-09-21        72188.0
2016-09-22        72249.0
2016-09-23        69106.0
2016-09-26        69195.0
2016-09-27        69077.0
2016-09-28        69511.0
2016-09-29        71351.0
2016-09-30        70070.0
2016-10-03        70070.0
2016-10-04        69741.0
2016-10-05        73276.0
2016-10-06        76597.0
2016-10-07        75025.0
2016-10-10        74828.0
2016-10-11        78222.0
2016-10-12        74718.0
2016-10-13        73355.0
2016-10-14        73941.0
2016-10-17        72514.0
2016-10-18        71375.0
2016-10-19        73090.0
2016-10-20        72237.0
2016-10-21        74035.0
2016-10-24        74481.0
2016-10-25        73776.0
...                   ...
2016-11-09        69797.0
2016-11-10        69987.0
2016-11-11        73257.0
2016-11-14        75813.0
2016-11-15        75265.0
2016-11-16        75679.0
2016-11-17        75371.0
2016-11-18        76180.0
2016-11-21        75379.0
2016-11-22        75853.0
2016-11-23        76202.0
2016-11-24        75870.0
2016-11-25        75781.0
2016-11-28        74599.0
2016-11-29        74844.0
2016-11-30        75220.0
2016-12-01        76036.0
2016-12-02        77524.0
2016-12-05        76658.0
2016-12-06        76799.0
2016-12-07        76845.0
2016-12-08        76710.0
2016-12-09        76263.0
2016-12-12        75171.0
2016-12-13        72159.0
2016-12-14        69533.0
2016-12-15        66903.0
2016-12-16        47132.0
2016-12-19        21462.0
2016-12-20            0.0

[70 rows x 7 columns]
2013-12-10 00:00:00
2019-06-10 00:00:00
----------- 2016-09-05 KOSPI 201612 -------------
            Settle  Change    Open    High     Low  Trading Volume  \
Date
2016-09-14  252.05    0.35  254.60  254.60  251.90        119176.0
2016-09-15  252.05    0.35  254.60  254.60  251.90        119176.0
2016-09-16  252.05    0.35  254.60  254.60  251.90        119176.0
2016-09-19  254.60    2.55  251.05  254.85  251.00         92735.0
2016-09-20  255.10    0.50  253.80  255.35  253.60         84641.0
2016-09-21  256.60    1.50  254.90  256.85  254.70        108004.0
2016-09-22  259.10    2.50  258.60  260.10  258.35         96547.0
2016-09-23  259.00   -0.10  259.80  259.80  258.55         82494.0
2016-09-26  258.30   -0.70  259.05  260.00  257.65         96330.0
2016-09-27  260.40    2.10  257.30  260.40  255.90        150311.0
2016-09-28  258.90   -1.50  259.60  259.80  258.80         66373.0
2016-09-29  261.05    2.15  260.15  261.65  260.05        100449.0
2016-09-30  258.20   -2.85  259.00  259.75  257.80        110896.0
2016-10-03  258.20   -2.85  259.00  259.75  257.80        112227.0
2016-10-04  259.50    1.30  259.45  260.40  259.00         75382.0
2016-10-05  259.55    0.05  257.75  260.00  257.00        111862.0
2016-10-06  261.10    1.55  261.35  261.80  260.05         88954.0
2016-10-07  260.55   -0.55  261.15  261.55  260.30         70696.0
2016-10-10  261.00    0.45  259.55  261.15  258.35        102594.0
2016-10-11  257.00   -4.00  260.35  261.10  256.85        162468.0
2016-10-12  256.40   -0.60  255.50  257.35  255.35        137943.0
2016-10-13  254.30   -2.10  256.40  256.80  254.10        187007.0
2016-10-14  255.70    1.40  255.05  256.50  255.05        103489.0
2016-10-17  256.20    0.50  256.20  257.10  253.95        132427.0
2016-10-18  258.10    1.90  256.40  258.20  256.30         82872.0
2016-10-19  258.25    0.15  257.50  259.65  257.30         87522.0
2016-10-20  258.55    0.30  258.60  259.65  258.35         81930.0
2016-10-21  257.65   -0.90  258.50  258.90  257.15        100524.0
2016-10-24  259.55    1.90  258.25  259.65  258.25        101329.0
2016-10-25  258.80   -0.75  258.85  259.40  258.30         74881.0
...            ...     ...     ...     ...     ...             ...
2016-10-28  257.15    0.25  256.20  257.60  256.20         89219.0
2016-10-31  256.50   -0.65  255.75  257.05  255.25         92652.0
2016-11-01  256.50   30.00  256.05  256.50  253.80        135732.0
2016-11-02  253.15   -3.35  254.50  254.95  252.80        124458.0
2016-11-03  253.70    0.55  252.70  254.00  252.10        131257.0
2016-11-04  253.05   -0.65  253.05  253.60  252.25         92826.0
2016-11-07  255.15    2.10  255.80  255.90  254.30         96396.0
2016-11-08  256.00    0.85  256.25  256.40  254.35         98970.0
2016-11-09  249.90   -6.10  256.80  257.45  246.80        477980.0
2016-11-10  255.30    5.40  253.90  255.65  253.10        179715.0
2016-11-11  252.70   -2.60  253.40  254.00  252.15        117516.0
2016-11-14  250.65   -2.05  252.20  252.80  250.35        108888.0
2016-11-15  249.55   -1.10  250.35  251.30  249.55         94998.0
2016-11-16  250.45    0.90  251.15  251.70  250.40         76094.0
2016-11-17  250.25   -0.20  249.90  250.85  248.80         94514.0
2016-11-18  250.40    0.15  250.95  251.05  249.30         91208.0
2016-11-21  249.80   -0.60  249.80  250.80  249.25         84046.0
2016-11-22  252.55    2.75  250.50  253.05  250.45         97069.0
2016-11-23  253.55    1.00  252.70  254.65  252.30         94904.0
2016-11-24  252.45   -1.10  253.65  253.90  251.65        109595.0
2016-11-25  252.20   -0.25  252.80  253.00  251.90         84697.0
2016-11-28  253.15    0.95  252.30  253.50  250.80        103150.0
2016-11-29  252.80   -0.35  253.15  253.65  252.55        100954.0
2016-11-30  254.15    1.35  253.05  254.95  253.00        132948.0
2016-12-01  254.20    0.05  254.55  255.05  253.85         88278.0
2016-12-02  252.65   -1.55  253.40  253.95  252.25        113773.0
2016-12-05  252.70    0.05  252.20  252.95  251.45        107584.0
2016-12-06  255.40    2.70  254.10  256.05  254.10        116863.0
2016-12-07  256.20    0.80  256.20  256.65  255.60         85039.0
2016-12-08  260.80    4.60  258.40  260.95  258.30        133384.0

            Open Interest
Date
2016-09-14       123203.0
2016-09-15       123203.0
2016-09-16       123203.0
2016-09-19       124656.0
2016-09-20       125605.0
2016-09-21       129567.0
2016-09-22       128783.0
2016-09-23       130216.0
2016-09-26       132108.0
2016-09-27       134074.0
2016-09-28       131544.0
2016-09-29       134213.0
2016-09-30       134168.0
2016-10-03       134168.0
2016-10-04       133475.0
2016-10-05       134685.0
2016-10-06       134371.0
2016-10-07       135777.0
2016-10-10       134601.0
2016-10-11       133505.0
2016-10-12       130855.0
2016-10-13       132392.0
2016-10-14       129009.0
2016-10-17       128715.0
2016-10-18       128737.0
2016-10-19       130075.0
2016-10-20       130767.0
2016-10-21       129203.0
2016-10-24       128763.0
2016-10-25       129130.0
...                   ...
2016-10-28       126154.0
2016-10-31       126627.0
2016-11-01       125890.0
2016-11-02       130895.0
2016-11-03       130090.0
2016-11-04       128502.0
2016-11-07       126774.0
2016-11-08       126210.0
2016-11-09       133244.0
2016-11-10       130092.0
2016-11-11       132341.0
2016-11-14       131419.0
2016-11-15       130012.0
2016-11-16       128235.0
2016-11-17       130120.0
2016-11-18       130194.0
2016-11-21       131898.0
2016-11-22       129565.0
2016-11-23       127906.0
2016-11-24       127995.0
2016-11-25       127845.0
2016-11-28       127854.0
2016-11-29       127682.0
2016-11-30       129151.0
2016-12-01       128317.0
2016-12-02       127976.0
2016-12-05       109534.0
2016-12-06        90172.0
2016-12-07        66691.0
2016-12-08            0.0

[62 rows x 7 columns]
2010-06-26 00:00:00
2019-06-02 00:00:00
----------- 2013-03-22 SMI 201312 -------------
              Open    High     Low   Settle   Volume  Open Interest
Date
2013-09-09  7961.0  7965.0  7897.0  7932.00    173.0        11724.0
2013-09-10  7986.0  8048.0  7967.0  8046.00   3193.0        11852.0
2013-09-11  8045.0  8066.0  8028.0  8050.00   2658.0        13946.0
2013-09-12  8080.0  8080.0  8010.0  8029.00   7045.0        15528.0
2013-09-13  8023.0  8039.0  8000.0  8037.00   5195.0        18215.0
2013-09-16  8109.0  8127.0  8020.0  8033.00  42491.0        20863.0
2013-09-17  8029.0  8030.0  7986.0  8015.00  58285.0        47837.0
2013-09-18  8032.0  8146.0  8015.0  8049.00  61146.0        86888.0
2013-09-19  8112.0  8146.0  8080.0  8102.00  32284.0       104474.0
2013-09-20  8115.0  8134.0  8081.0  8096.00  17687.0       110163.0
2013-09-23  8087.0  8128.0  8045.0  8065.00  17552.0       109534.0
2013-09-24  8065.0  8092.0  8018.0  8055.00  16056.0       108138.0
2013-09-25  8055.0  8080.0  8022.0  8063.00  18348.0       107380.0
2013-09-26  8055.0  8082.0  8015.0  8060.00  16982.0       108991.0
2013-09-27  8057.0  8076.0  8022.0  8050.00  17073.0       110401.0
2013-09-30  8001.0  8033.0  7985.0  8020.00  25902.0       110104.0
2013-10-01  8017.0  8079.0  8008.0  8060.00  20909.0       109362.0
2013-10-02  8045.0  8055.0  7925.0  7954.00  29649.0       109402.0
2013-10-03  7984.0  8006.0  7904.0  7930.00  17475.0       111512.0
2013-10-04  7910.0  7964.0  7881.0  7948.00  18052.0       111038.0
2013-10-08  7875.0  7893.0  7769.0  7822.00  23026.0       108394.0
2013-10-10  7784.0  7905.0  7762.0  7843.00  27686.0       112354.0
2013-10-11  7894.0  7971.0  7863.0  7941.00  24925.0       109638.0
2013-10-14  7936.0  7975.0  7890.0  7923.00  19194.0       108681.0
2013-10-15  7969.0  8022.0  7945.0  7991.00  24957.0       109160.0
2013-10-16  7971.0  7995.0  7899.0  7983.00  26927.0       110172.0
2013-10-17  7980.0  8069.0  7977.0  8016.00  31613.0       107303.0
2013-10-18  8071.0  8112.0  8029.0  8073.00  24545.0       108275.0
2013-10-21  8117.0  8139.0  8073.0  8123.00  21529.0       110879.0
2013-10-22  8134.0  8244.0  8113.0  8209.00  35527.0       111394.0
...            ...     ...     ...      ...      ...            ...
2013-11-11  8271.0  8301.0  8258.0  8271.00  23168.0       115800.0
2013-11-12  8285.0  8299.0  8242.0  8263.00  22424.0       117240.0
2013-11-13  8249.0  8277.0  8195.0  8233.00  23864.0       118694.0
2013-11-14  8291.0  8320.0  8268.0  8309.00  25717.0       118229.0
2013-11-15  8324.0  8336.0  8296.0  8329.00  19502.0       118853.0
2013-11-18  8330.0  8367.0  8307.0  8346.00  18705.0       120642.0
2013-11-19  8316.0  8331.0  8276.0  8303.00  18755.0       120264.0
2013-11-20  8284.0  8317.0  8251.0  8283.00  18986.0       121883.0
2013-11-21  8250.0  8305.0  8229.0  8274.00  20305.0       120676.0
2013-11-22  8286.0  8340.0  8247.0  8259.00  21302.0       118123.0
2013-11-25  8276.0  8323.0  8271.0  8307.00  16911.0       119261.0
2013-11-26     0.0     0.0     0.0  8257.00      0.0       122175.0
2013-11-27     0.0     0.0     0.0  8260.00      0.0       120790.0
2013-11-28  8253.0  8267.0  8234.0  8254.00   9357.0       121317.0
2013-11-29  8250.0  8287.0  8246.0  8277.00  17973.0       115100.0
2013-12-02     0.0     0.0     0.0  8263.00      0.0       116006.0
2013-12-03     0.0     0.0     0.0  8099.00      0.0       115026.0

In [15]:
import pandas as pd
destination_path = 'data_control/'
roll_df = pd.read_csv("admin/roll_history.csv", dtype={'CARVER':str, 'PRICE_CONTRACT': str} )
list = []
for row in roll_df.itertuples():
    symbol = row.CARVER
    date = row.DATETIME # Check if this is in the downloaded history data.
    mat = row.PRICE_CONTRACT
    current_carry_file = destination_path + symbol + "_carrydata.csv"

    current_price_df = pd.read_csv(current_carry_file,index_col=["DATETIME"], parse_dates=True,
                           dtype={"PRICE":str, "PRICE_CONTRACT":str})
    
    
    filtered_current_df = current_price_df[current_price_df['PRICE_CONTRACT'] == mat]
    flsize = filtered_current_df.size
    first = filtered_current_df[:1].index[0]
    last = filtered_current_df[-1:].index[0]
    download_file = "quandl_history/" + symbol + mat + ".csv" 
    download_df = pd.read_csv(download_file, index_col=['Date'])
    dlsize = download_df[first:last].size
    print(symbol, mat, "carry: ", flsize, "download: ", dlsize)

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [1]:
from dbutils.connect import *
import pandas as pd
from os import walk
from os import listdir
from os.path import isfile, join


hist_path = "/home/lope/quandl_history/"
hist_files = [f for f in listdir("/home/lope/quandl_history/") 
                 if isfile(join("/home/lope/quandl_history/", f))]
hist_files

['WHEAT201712.csv']

In [2]:
listdir("/home/lope/quandl_history/")

['WHEAT201712.csv']

In [1]:
(4, 'Pete')

(4, 'Pete')

In [8]:
type([])

str