In [1]:
import datetime
today_asdate = datetime.date.today()
today_asdatetime = datetime.datetime(today_asdate.year,today_asdate.month,today_asdate.day)
yesterday_adatetime = today_asdatetime - datetime.timedelta(1)
yesterday_at_11pm = yesterday_adatetime + datetime.timedelta(hours=23)
now_adatetime = datetime.datetime.now()
sametime_yesterday = now_adatetime - datetime.timedelta(1)

#print(datetime.datetime.strftime(today_asdatetime))
print("Today as datetime: ", today_asdatetime)
print("Yesterday as datetime: ", yesterday_adatetime)
print("Yesterday at 11pm: ", yesterday_at_11pm)

print("Now as datetime: ", now_adatetime)
print("Sametime yesterday as datetime: ", sametime_yesterday)

Today as datetime:  2017-07-05 00:00:00
Yesterday as datetime:  2017-07-04 00:00:00
Yesterday at 11pm:  2017-07-04 23:00:00
Now as datetime:  2017-07-05 21:18:07.618834
Sametime yesterday as datetime:  2017-07-04 21:18:07.618834

In [2]:
yesterday_at_9pm = yesterday_adatetime + datetime.timedelta(hours=9)
print(yesterday_at_9pm)

2017-07-04 09:00:00

In [2]:
import datetime
today = datetime.date.today()
print(today.strftime('%Y%m'))

201707

In [12]:
help(datetime.datetime.strftime)

Help on method_descriptor:

strftime(...)
    format -> strftime() style string.

In [17]:
str(211625) > str(221624)

False

In [3]:
last_datetime_r23 = yesterday_at_9pm + datetime.timedelta(hours=23)
print(last_datetime_r23)

2017-07-05 08:00:00

In [7]:
yesterday_at_23 = datetime.datetime(yesterday_at_9pm.year,
                                     yesterday_at_9pm.month,yesterday_at_9pm.day,
                                     23)

In [8]:
print(yesterday_at_23)

2017-07-04 23:00:00

In [9]:
print(yesterday_at_23.date())

2017-07-04

In [14]:
yesterday = datetime.datetime.today().date() - datetime.timedelta(1)
print(yesterday)

2017-07-05

In [3]:
hours = today + datetime.timedelta(hours=22)
print(hours)

2017-07-13

In [4]:
nownow = datetime.datetime.now()
print(nownow)

2017-07-13 14:21:34.650866

In [5]:
print(nownow.hour)

14

In [1]:
import datetime
var = datetime.date.today().strftime('%Y%m')
print(int(var))

201707

In [16]:
import pandas as pd
yesterBD = pd.datetime.today() - pd.tseries.offsets.BDay(1)
print(y)

2017-07-21 00:03:34.431766

In [10]:
print ("Pete") ; print(2) ; c = 5 ; print(c)

Pete
2
5

In [2]:
start = None
start != start

False

In [3]:
end = 4
end == end

True

In [4]:
start == start

True

In [5]:
pete != pete

NameError: name 'pete' is not defined

In [8]:
if None == None:
    print("True")
else:
    print("False")

True

In [13]:
import datetime
pete = datetime.datetime.now()
print(pete)

2017-08-05 02:37:06.932880

In [15]:
pete = datetime.datetime(0,0,0)

ValueError: year is out of range

In [16]:
import numpy as np
k = np.datetime64('nat')
print(k)

NaT

In [18]:
import pandas as pd
pd.isnull(k)

True

In [19]:
pd.isnull(None)

True

In [1]:
import datetime
s = datetime.datetime(2011,1,1)
print(s)

2011-01-01 00:00:00