In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')

roll_df = pd.read_csv("admin/roll_history.csv", \
                      dtype={'CARVER':str, 'PRICE_CONTRACT': str, \
                              'CARRY_CONTRACT':str},\
                      parse_dates=['DATETIME'])

print(roll_df.tail(5))

     CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
2447  WHEAT 2013-12-03         201409         201412
2448  WHEAT 2014-10-16         201509         201512
2449  WHEAT 2015-09-15         201609         201612
2450  WHEAT 2016-09-12         201709         201712
2451  WHEAT 2017-09-15         201809         201812

In [4]:
print(roll_df.head(10))

  CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
0    AEX 2013-07-26         201311         201310
1    AEX 2013-10-18         201312         201311
2    AEX 2013-11-15         201401         201312
3    AEX 2013-12-18         201402         201401
4    AEX 2014-01-17         201403         201402
5    AEX 2014-02-20         201404         201403
6    AEX 2014-03-17         201405         201404
7    AEX 2014-04-15         201406         201405
8    AEX 2014-05-14         201407         201406
9    AEX 2014-06-19         201408         201407

In [6]:
roll_table = "roll_schedule"
roll_df.to_sql(name=roll_table, con=engine, if_exists='replace', index=False)

In [1]:
import pandas as pd

from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
roll_schedule_df = pd.read_sql_table(table_name="roll_schedule", con=engine)
print(roll_schedule_df.head(5))

  CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
0    AEX 2013-07-26         201311         201310
1    AEX 2013-10-18         201312         201311
2    AEX 2013-11-15         201401         201312
3    AEX 2013-12-18         201402         201401
4    AEX 2014-01-17         201403         201402

In [2]:
a_df = roll_df[roll_df['CARVER'] == 'AEX'][-10:]
print(a_df.tail(5))

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
41    AEX 2017-02-17         201704         201703
42    AEX 2017-03-13         201705         201704
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707

In [27]:
print(aroll_df.tail(5))
length = len(aroll_df)
print("----")
count = 0
for row in aroll_df.itertuples():
    if count > 0:
        end_date = row.DATETIME
        #print(save_contract, start_date, end_date)
        cnt_table_name = "aex" + save_contract
        raw_data = pd.read_sql_table(table_name=cnt_table_name, con=engine, index_col=['Date'], \
                                        parse_dates=['Date'])
        if not start_date in raw_data.index or not end_date in raw_data.index:
            print("Start", start_date," or end date", end_date, " missing in: ", save_contract)
        else:
            print("Both ", start_date, " and ", end_date, " available...")
        
    save_contract = row.PRICE_CONTRACT
    start_date = row.DATETIME
    count += 1
    if count == length:
        if not start_date in raw_data.index:
            print("Start date", start_date," missing in: ", save_contract)
        else:
            print("Both start available...")

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707
----

Both  2017-04-11 00:00:00  and  2017-05-12 00:00:00  available...

Start 2017-05-12 00:00:00  or end date 2017-06-13 00:00:00  missing in:  201706
Start date 2017-06-13 00:00:00  missing in:  201707

In [20]:
# Check for rolls DataFrame
import datetime
print(datetime.date.today())
print(datetime.datetime.now())
print(datetime.datetime.now()> datetime.date.today())

2017-06-28
2017-06-28 00:48:55.130528

TypeError: can't compare datetime.datetime to datetime.date

In [18]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_divide_and_round',
 'date',
 'datetime',
 'datetime_CAPI',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [1]:
import pandas as pd
market_series = pd.Series({"QUANDL": "ED", "IB": "GE", "SECTYPE": "FUT", "CURRENCY": "USD",
                         "Q_EXCHANGE": "CME", "IB_EXCHANGE": "GLOBEX", "MULTIPLIER": 0})
print(type(market_series))

<class 'pandas.core.series.Series'>

In [2]:
symbol = market_series['CARVER']

KeyError: 'CARVER'

In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
roll_schedule_df = pd.read_sql_table(table_name="roll_schedule", con=engine)
roll_df = roll_schedule_df[roll_schedule_df['CARVER'] == 'EDOLLAR'][-10:]
print(roll_df)

      CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
549  EDOLLAR 2014-10-24         201803         201806
550  EDOLLAR 2015-02-24         201806         201809
551  EDOLLAR 2015-08-31         201809         201812
552  EDOLLAR 2015-11-17         201812         201903
553  EDOLLAR 2016-02-22         201903         201906
554  EDOLLAR 2016-08-12         201906         201909
555  EDOLLAR 2016-11-15         201909         201912
556  EDOLLAR 2017-02-15         201912         202003
557  EDOLLAR 2017-05-15         202003         202006
558  EDOLLAR 2017-08-15         202006         202009

In [8]:
len(roll_schedule_df)

2452

In [11]:
for row in roll_schedule_df.itertuples():
    symbol = row.CARVER.lower()
    if symbol != 'AEX':
        price = symbol + str(row.PRICE_CONTRACT)
        carry = symbol + str(row.CARRY_CONTRACT)
        
        try:
            df_tomod = pd.read_sql_table(table_name=price, con=engine)
            df_tomod.rename(columns={'Settle': 'PRICE', 'Date':'DATETIME'}, inplace=True)
            df_tomod.to_sql(name=price, con=engine, if_exists='replace', index=False)
        except Exception as e:
            print(price , " table is not in the database!")
        try:
            df_tomod = pd.read_sql_table(table_name=carry, con=engine) 
            df_tomod.rename(columns={'Settle': 'PRICE', 'Date':'DATETIME'}, inplace=True)
            df_tomod.to_sql(name=carry, con=engine, if_exists='replace', index=False)
        except Exception as e:
            print(carry , " table is not in the database!")

aex201708  table is not in the database!

aud201712  table is not in the database!

bobl201712  table is not in the database!

btp201712  table is not in the database!

bund201712  table is not in the database!

cac201708  table is not in the database!

copper201709  table is not in the database!

copper201710  table is not in the database!

corn201812  table is not in the database!

corn201809  table is not in the database!

crude_w201812  table is not in the database!

crude_w201811  table is not in the database!

edollar202009  table is not in the database!

eur201712  table is not in the database!

eurostx201712  table is not in the database!

gas_us201709  table is not in the database!

gbp201712  table is not in the database!

gold201710  table is not in the database!

jpy201712  table is not in the database!

kospi201712  table is not in the database!

kr10201712  table is not in the database!

kr3201712  table is not in the database!

leanhog201806  table is not in the database!

leanhog201807  table is not in the database!

livecow201810  table is not in the database!

livecow201808  table is not in the database!

mxp201712  table is not in the database!

nasdaq201712  table is not in the database!

nzd201712  table is not in the database!

oat201712  table is not in the database!

pallad201712  table is not in the database!

plat201801  table is not in the database!

smi201712  table is not in the database!

soybean201811  table is not in the database!

soybean201809  table is not in the database!

sp500201712  table is not in the database!

us10201803  table is not in the database!

us2201803  table is not in the database!

us20201803  table is not in the database!

us5201803  table is not in the database!

v2x201708  table is not in the database!

vix201708  table is not in the database!

wheat201812  table is not in the database!

wheat201809  table is not in the database!

In [12]:
import datetime
print(datetime.date.today())
print(datetime.datetime.now())
print(datetime.datetime.now()> datetime.date.today())

2017-06-29

2017-06-29 01:27:37.419721

TypeError: can't compare datetime.datetime to datetime.date

In [2]:
print(4)

4

In [20]:
import datetime
mdate = datetime.date.today()
print(datetime.datetime.strftime(mdate,))

TypeError: Required argument 'format' (pos 1) not found

In [24]:
print(type(mdate))
print(type(datetime.datetime.now()))

<class 'datetime.date'>
<class 'datetime.datetime'>

In [27]:
print(type(datetime.datetime.now().date()))

<class 'datetime.date'>

In [2]:
aroll_df = roll_schedule_df[roll_schedule_df['CARVER'] == 'AEX'][-6:]
print(aroll_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
40    AEX 2017-01-09         201703         201702
41    AEX 2017-02-17         201704         201703
42    AEX 2017-03-13         201705         201704
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707

In [4]:
aroll_df['ENDDATE'] = aroll_df['DATETIME']

In [6]:
print(aroll_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-01-09
41    AEX 2017-02-17         201704         201703 2017-02-17
42    AEX 2017-03-13         201705         201704 2017-03-13
43    AEX 2017-04-11         201706         201705 2017-04-11
44    AEX 2017-05-12         201707         201706 2017-05-12
45    AEX 2017-06-13         201708         201707 2017-06-13

In [8]:
aroll_df.ENDDATE = aroll_df.ENDDATE.shift(-1)
print(aroll_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-02-17
41    AEX 2017-02-17         201704         201703 2017-03-13
42    AEX 2017-03-13         201705         201704 2017-04-11
43    AEX 2017-04-11         201706         201705 2017-05-12
44    AEX 2017-05-12         201707         201706 2017-06-13
45    AEX 2017-06-13         201708         201707        NaT

In [9]:
adf = roll_schedule_df[roll_schedule_df['CARVER'] == 'AEX'][-6:]
print(adf)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
40    AEX 2017-01-09         201703         201702
41    AEX 2017-02-17         201704         201703
42    AEX 2017-03-13         201705         201704
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707

In [13]:
adf['ENDDATE'] = adf['DATETIME']
print(adf)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-01-09
41    AEX 2017-02-17         201704         201703 2017-02-17
42    AEX 2017-03-13         201705         201704 2017-03-13
43    AEX 2017-04-11         201706         201705 2017-04-11
44    AEX 2017-05-12         201707         201706 2017-05-12
45    AEX 2017-06-13         201708         201707 2017-06-13

In [14]:
adf.ENDDATE = adf.ENDDATE.shift(-1)
print(adf)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-01-09
41    AEX 2017-02-17         201704         201703 2017-02-17
42    AEX 2017-03-13         201705         201704 2017-03-13
43    AEX 2017-04-11         201706         201705 2017-04-11
44    AEX 2017-05-12         201707         201706 2017-05-12
45    AEX 2017-06-13         201708         201707 2017-06-13

In [16]:
adf.ENDDATE = adf.ENDDATE.shift(-1)
print(adf)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-01-09
41    AEX 2017-02-17         201704         201703 2017-02-17
42    AEX 2017-03-13         201705         201704 2017-03-13
43    AEX 2017-04-11         201706         201705 2017-04-11
44    AEX 2017-05-12         201707         201706 2017-05-12
45    AEX 2017-06-13         201708         201707 2017-06-13

In [17]:
aa = adf.copy()

In [18]:
aa.ENDDATE = aa.ENDDATE.shift(-1)
print(aa)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT    ENDDATE
40    AEX 2017-01-09         201703         201702 2017-02-17
41    AEX 2017-02-17         201704         201703 2017-03-13
42    AEX 2017-03-13         201705         201704 2017-04-11
43    AEX 2017-04-11         201706         201705 2017-05-12
44    AEX 2017-05-12         201707         201706 2017-06-13
45    AEX 2017-06-13         201708         201707        NaT

In [2]:
print(roll_df)

      CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
556  EDOLLAR 2017-02-15         201912         202003
557  EDOLLAR 2017-05-15         202003         202006
558  EDOLLAR 2017-08-15         202006         202009

In [3]:
roll_df.set_index(['DATETIME'], inplace=True)
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [24]:
ts = roll_df[-1:].index[0]

In [26]:
import datetime
date = datetime.datetime(2017,8, 15)
print(date)

2017-08-15 00:00:00

In [19]:
print(date in roll_df.index)

True

In [20]:
print(ts in roll_df.index)

True

In [27]:
print(date == ts)

True

In [28]:
date23 = datetime.datetime(2017,8, 15, 23)

In [31]:
print(date23)

2017-08-15 23:00:00

In [33]:
print(date23.hour)

23

In [46]:
print(roll_df[-1:].index[0].hour)

0

In [47]:
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [48]:
from_date = datetime.datetime(2017,5, 15)

In [49]:
print(roll_df[from_date:])

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [50]:
to_date = from_date + datetime.timedelta(1)

In [51]:
print(roll_df[to_date:])

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-08-15  EDOLLAR         202006         202009

In [4]:
print(roll_df[:-1])

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006

In [5]:
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [6]:
print(roll_df[-1:])

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-08-15  EDOLLAR         202006         202009

In [7]:
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [29]:
date_mask = (roll_df.index > "2017-02-15") & (roll_df.index < "2017-08-15")
dates = roll_df.index[date_mask]
#print(dates[-1])
print(roll_df.loc[dates[-1]])

CARVER            EDOLLAR
CARRY_CONTRACT     202003
PRICE_CONTRACT     202006
Name: 2017-05-15 00:00:00, dtype: object

In [20]:
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2017-02-15  EDOLLAR         201912         202003
2017-05-15  EDOLLAR         202003         202006
2017-08-15  EDOLLAR         202006         202009

In [26]:
for row in roll_df.itertuples():
    print(row[0])

2017-02-15 00:00:00
2017-05-15 00:00:00
2017-08-15 00:00:00

In [5]:
print(a_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
36    AEX 2016-09-12         201611         201610
37    AEX 2016-10-17         201612         201611
38    AEX 2016-11-16         201701         201612
39    AEX 2016-12-12         201702         201701
40    AEX 2017-01-09         201703         201702
41    AEX 2017-02-17         201704         201703
42    AEX 2017-03-13         201705         201704
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707

In [18]:
one = a_df[a_df['PRICE_CONTRACT'] == '201701']
dfrom = one.iloc[0]['DATETIME']

In [20]:
import datetime
fr = datetime.datetime.now() - datetime.timedelta(days=150)
today = datetime.datetime.now() 
print(fr)

2017-02-05 01:51:01.197457

In [21]:
play = one[(one['DATETIME'] > fr) & (one['DATETIME'] < today)]

print(play)

Empty DataFrame
Columns: [CARVER, DATETIME, CARRY_CONTRACT, PRICE_CONTRACT]
Index: []

In [23]:
print(fr, today)

2017-02-05 01:51:01.197457 2017-07-05 01:51:01.197556

In [24]:
b_df = pd.read_csv("admin/roll_history.csv", 
                      parse_dates=['DATETIME'])
f_df = b_df[b_df['CARVER']=='EDOLLAR']

In [25]:
print(f_df)

      CARVER   DATETIME  CARRY_CONTRACT  PRICE_CONTRACT
422  EDOLLAR 1983-09-26          198409          198412
423  EDOLLAR 1983-12-12          198412          198503
424  EDOLLAR 1984-01-12          198503          198506
425  EDOLLAR 1984-04-10          198506          198509
426  EDOLLAR 1984-06-22          198509          198512
427  EDOLLAR 1984-08-31          198512          198603
428  EDOLLAR 1984-10-09          198603          198606
429  EDOLLAR 1985-01-08          198606          198609
430  EDOLLAR 1985-04-10          198609          198612
431  EDOLLAR 1985-07-10          198612          198703
432  EDOLLAR 1985-10-10          198703          198706
433  EDOLLAR 1986-01-07          198706          198709
434  EDOLLAR 1986-04-10          198709          198712
435  EDOLLAR 1986-07-10          198712          198803
436  EDOLLAR 1986-10-10          198806          198806
437  EDOLLAR 1986-12-22          198809          198812
438  EDOLLAR 1987-03-19          198812          198903
439  EDOLLAR 1987-06-19          198906          198906
440  EDOLLAR 1987-08-11          198909          198912
441  EDOLLAR 1987-10-12          198912          199003
442  EDOLLAR 1988-01-07          199003          199006
443  EDOLLAR 1988-04-11          199006          199009
444  EDOLLAR 1988-07-11          199009          199012
445  EDOLLAR 1988-10-11          199012          199103
446  EDOLLAR 1989-01-09          199103          199106
447  EDOLLAR 1989-04-11          199106          199109
448  EDOLLAR 1989-07-11          199109          199112
449  EDOLLAR 1989-10-10          199112          199203
450  EDOLLAR 1990-01-09          199203          199206
451  EDOLLAR 1990-04-10          199206          199209
..       ...        ...             ...             ...
529  EDOLLAR 2009-10-13          201212          201303
530  EDOLLAR 2010-01-07          201303          201306
531  EDOLLAR 2010-04-12          201306          201309
532  EDOLLAR 2010-07-12          201309          201312
533  EDOLLAR 2010-10-13          201312          201403
534  EDOLLAR 2011-01-07          201403          201406
535  EDOLLAR 2011-04-13          201406          201409
536  EDOLLAR 2011-07-12          201409          201412
537  EDOLLAR 2011-10-11          201412          201503
538  EDOLLAR 2012-01-09          201503          201506
539  EDOLLAR 2012-04-10          201506          201509
540  EDOLLAR 2012-07-10          201509          201512
541  EDOLLAR 2012-10-09          201512          201603
542  EDOLLAR 2013-01-08          201603          201606
543  EDOLLAR 2013-04-10          201606          201609
544  EDOLLAR 2013-10-08          201612          201703
545  EDOLLAR 2014-02-18          201703          201706
546  EDOLLAR 2014-03-28          201706          201709
547  EDOLLAR 2014-06-24          201709          201712
548  EDOLLAR 2014-08-07          201712          201803
549  EDOLLAR 2014-10-24          201803          201806
550  EDOLLAR 2015-02-24          201806          201809
551  EDOLLAR 2015-08-31          201809          201812
552  EDOLLAR 2015-11-17          201812          201903
553  EDOLLAR 2016-02-22          201903          201906
554  EDOLLAR 2016-08-12          201906          201909
555  EDOLLAR 2016-11-15          201909          201912
556  EDOLLAR 2017-02-15          201912          202003
557  EDOLLAR 2017-05-15          202003          202006
558  EDOLLAR 2017-08-15          202006          202009

[137 rows x 4 columns]

In [26]:
play = f_df[(f_df['DATETIME'] > fr) & (f_df['DATETIME'] < today)]
print(play)

      CARVER   DATETIME  CARRY_CONTRACT  PRICE_CONTRACT
556  EDOLLAR 2017-02-15          201912          202003
557  EDOLLAR 2017-05-15          202003          202006

In [27]:
print(a_df[a_df['PRICE_CONTRACT'] == '201912'].iloc[0['DATETIME']])

TypeError: 'int' object is not subscriptable

In [3]:
print(a_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
36    AEX 2016-09-12         201611         201610
37    AEX 2016-10-17         201612         201611
38    AEX 2016-11-16         201701         201612
39    AEX 2016-12-12         201702         201701
40    AEX 2017-01-09         201703         201702
41    AEX 2017-02-17         201704         201703
42    AEX 2017-03-13         201705         201704
43    AEX 2017-04-11         201706         201705
44    AEX 2017-05-12         201707         201706
45    AEX 2017-06-13         201708         201707

In [8]:
for row in a_df.itertuples():
    
    print(row.DATETIME)
    print(type(row.PRICE_CONTRACT))
    print(row.CARRY_CONTRACT)

2016-09-12 00:00:00
<class 'str'>
201611
2016-10-17 00:00:00
<class 'str'>
201612
2016-11-16 00:00:00
<class 'str'>
201701
2016-12-12 00:00:00
<class 'str'>
201702
2017-01-09 00:00:00
<class 'str'>
201703
2017-02-17 00:00:00
<class 'str'>
201704
2017-03-13 00:00:00
<class 'str'>
201705
2017-04-11 00:00:00
<class 'str'>
201706
2017-05-12 00:00:00
<class 'str'>
201707
2017-06-13 00:00:00
<class 'str'>
201708

In [12]:
m_df = roll_df[(roll_df['DATETIME'])[0].month == 3]
print(m_df)

KeyError: False

In [7]:
for row in m_df.itertuples():
    print(row.DATETIME.month)

7
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6

In [13]:
print(m_df['DATETIME'])

0    2013-07-26
1    2013-10-18
2    2013-11-15
3    2013-12-18
4    2014-01-17
5    2014-02-20
6    2014-03-17
7    2014-04-15
8    2014-05-14
9    2014-06-19
10   2014-07-16
11   2014-08-13
12   2014-09-17
13   2014-10-16
14   2014-11-21
15   2014-12-19
16   2015-01-16
17   2015-02-18
18   2015-03-16
19   2015-04-15
20   2015-05-11
21   2015-06-15
22   2015-07-15
23   2015-08-04
24   2015-09-14
25   2015-10-12
26   2015-11-16
27   2015-12-11
28   2016-01-08
29   2016-02-19
30   2016-03-14
31   2016-04-11
32   2016-05-13
33   2016-06-13
34   2016-07-13
35   2016-08-18
36   2016-09-12
37   2016-10-17
38   2016-11-16
39   2016-12-12
40   2017-01-09
41   2017-02-17
42   2017-03-13
43   2017-04-11
44   2017-05-12
45   2017-06-13
Name: DATETIME, dtype: datetime64[ns]

In [24]:
import datetime
c_df = m_df.copy()
c_df['SOMEDAY'] = c_df['DATETIME'].apply(lambda x: x + datetime.timedelta(hours=x.month))
print(c_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT  WEEKDAY  \
0     AEX 2013-07-26         201311         201310        4
1     AEX 2013-10-18         201312         201311        4
2     AEX 2013-11-15         201401         201312        4
3     AEX 2013-12-18         201402         201401        2
4     AEX 2014-01-17         201403         201402        4
5     AEX 2014-02-20         201404         201403        3
6     AEX 2014-03-17         201405         201404        0
7     AEX 2014-04-15         201406         201405        1
8     AEX 2014-05-14         201407         201406        2
9     AEX 2014-06-19         201408         201407        3
10    AEX 2014-07-16         201409         201408        2
11    AEX 2014-08-13         201410         201409        2
12    AEX 2014-09-17         201411         201410        2
13    AEX 2014-10-16         201412         201411        3
14    AEX 2014-11-21         201501         201412        4
15    AEX 2014-12-19         201502         201501        4
16    AEX 2015-01-16         201503         201502        4
17    AEX 2015-02-18         201504         201503        2
18    AEX 2015-03-16         201505         201504        0
19    AEX 2015-04-15         201506         201505        2
20    AEX 2015-05-11         201507         201506        0
21    AEX 2015-06-15         201508         201507        0
22    AEX 2015-07-15         201509         201508        2
23    AEX 2015-08-04         201510         201509        1
24    AEX 2015-09-14         201511         201510        0
25    AEX 2015-10-12         201512         201511        0
26    AEX 2015-11-16         201601         201512        0
27    AEX 2015-12-11         201602         201601        4
28    AEX 2016-01-08         201603         201602        4
29    AEX 2016-02-19         201604         201603        4
30    AEX 2016-03-14         201605         201604        0
31    AEX 2016-04-11         201606         201605        0
32    AEX 2016-05-13         201607         201606        4
33    AEX 2016-06-13         201608         201607        0
34    AEX 2016-07-13         201609         201608        2
35    AEX 2016-08-18         201610         201609        3
36    AEX 2016-09-12         201611         201610        0
37    AEX 2016-10-17         201612         201611        0
38    AEX 2016-11-16         201701         201612        2
39    AEX 2016-12-12         201702         201701        0
40    AEX 2017-01-09         201703         201702        0
41    AEX 2017-02-17         201704         201703        4
42    AEX 2017-03-13         201705         201704        0
43    AEX 2017-04-11         201706         201705        1
44    AEX 2017-05-12         201707         201706        4
45    AEX 2017-06-13         201708         201707        1

               SOMEDAY
0  2013-07-26 07:00:00
1  2013-10-18 10:00:00
2  2013-11-15 11:00:00
3  2013-12-18 12:00:00
4  2014-01-17 01:00:00
5  2014-02-20 02:00:00
6  2014-03-17 03:00:00
7  2014-04-15 04:00:00
8  2014-05-14 05:00:00
9  2014-06-19 06:00:00
10 2014-07-16 07:00:00
11 2014-08-13 08:00:00
12 2014-09-17 09:00:00
13 2014-10-16 10:00:00
14 2014-11-21 11:00:00
15 2014-12-19 12:00:00
16 2015-01-16 01:00:00
17 2015-02-18 02:00:00
18 2015-03-16 03:00:00
19 2015-04-15 04:00:00
20 2015-05-11 05:00:00
21 2015-06-15 06:00:00
22 2015-07-15 07:00:00
23 2015-08-04 08:00:00
24 2015-09-14 09:00:00
25 2015-10-12 10:00:00
26 2015-11-16 11:00:00
27 2015-12-11 12:00:00
28 2016-01-08 01:00:00
29 2016-02-19 02:00:00
30 2016-03-14 03:00:00
31 2016-04-11 04:00:00
32 2016-05-13 05:00:00
33 2016-06-13 06:00:00
34 2016-07-13 07:00:00
35 2016-08-18 08:00:00
36 2016-09-12 09:00:00
37 2016-10-17 10:00:00
38 2016-11-16 11:00:00
39 2016-12-12 12:00:00
40 2017-01-09 01:00:00
41 2017-02-17 02:00:00
42 2017-03-13 03:00:00
43 2017-04-11 04:00:00
44 2017-05-12 05:00:00
45 2017-06-13 06:00:00

In [25]:
print(m_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT  WEEKDAY
0     AEX 2013-07-26         201311         201310        4
1     AEX 2013-10-18         201312         201311        4
2     AEX 2013-11-15         201401         201312        4
3     AEX 2013-12-18         201402         201401        2
4     AEX 2014-01-17         201403         201402        4
5     AEX 2014-02-20         201404         201403        3
6     AEX 2014-03-17         201405         201404        0
7     AEX 2014-04-15         201406         201405        1
8     AEX 2014-05-14         201407         201406        2
9     AEX 2014-06-19         201408         201407        3
10    AEX 2014-07-16         201409         201408        2
11    AEX 2014-08-13         201410         201409        2
12    AEX 2014-09-17         201411         201410        2
13    AEX 2014-10-16         201412         201411        3
14    AEX 2014-11-21         201501         201412        4
15    AEX 2014-12-19         201502         201501        4
16    AEX 2015-01-16         201503         201502        4
17    AEX 2015-02-18         201504         201503        2
18    AEX 2015-03-16         201505         201504        0
19    AEX 2015-04-15         201506         201505        2
20    AEX 2015-05-11         201507         201506        0
21    AEX 2015-06-15         201508         201507        0
22    AEX 2015-07-15         201509         201508        2
23    AEX 2015-08-04         201510         201509        1
24    AEX 2015-09-14         201511         201510        0
25    AEX 2015-10-12         201512         201511        0
26    AEX 2015-11-16         201601         201512        0
27    AEX 2015-12-11         201602         201601        4
28    AEX 2016-01-08         201603         201602        4
29    AEX 2016-02-19         201604         201603        4
30    AEX 2016-03-14         201605         201604        0
31    AEX 2016-04-11         201606         201605        0
32    AEX 2016-05-13         201607         201606        4
33    AEX 2016-06-13         201608         201607        0
34    AEX 2016-07-13         201609         201608        2
35    AEX 2016-08-18         201610         201609        3
36    AEX 2016-09-12         201611         201610        0
37    AEX 2016-10-17         201612         201611        0
38    AEX 2016-11-16         201701         201612        2
39    AEX 2016-12-12         201702         201701        0
40    AEX 2017-01-09         201703         201702        0
41    AEX 2017-02-17         201704         201703        4
42    AEX 2017-03-13         201705         201704        0
43    AEX 2017-04-11         201706         201705        1
44    AEX 2017-05-12         201707         201706        4
45    AEX 2017-06-13         201708         201707        1

In [28]:
c_df['HOURS'] = c_df['SOMEDAY'].apply(lambda x: x.hour)
print(c_df)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT  WEEKDAY  \
0     AEX 2013-07-26         201311         201310        4
1     AEX 2013-10-18         201312         201311        4
2     AEX 2013-11-15         201401         201312        4
3     AEX 2013-12-18         201402         201401        2
4     AEX 2014-01-17         201403         201402        4
5     AEX 2014-02-20         201404         201403        3
6     AEX 2014-03-17         201405         201404        0
7     AEX 2014-04-15         201406         201405        1
8     AEX 2014-05-14         201407         201406        2
9     AEX 2014-06-19         201408         201407        3
10    AEX 2014-07-16         201409         201408        2
11    AEX 2014-08-13         201410         201409        2
12    AEX 2014-09-17         201411         201410        2
13    AEX 2014-10-16         201412         201411        3
14    AEX 2014-11-21         201501         201412        4
15    AEX 2014-12-19         201502         201501        4
16    AEX 2015-01-16         201503         201502        4
17    AEX 2015-02-18         201504         201503        2
18    AEX 2015-03-16         201505         201504        0
19    AEX 2015-04-15         201506         201505        2
20    AEX 2015-05-11         201507         201506        0
21    AEX 2015-06-15         201508         201507        0
22    AEX 2015-07-15         201509         201508        2
23    AEX 2015-08-04         201510         201509        1
24    AEX 2015-09-14         201511         201510        0
25    AEX 2015-10-12         201512         201511        0
26    AEX 2015-11-16         201601         201512        0
27    AEX 2015-12-11         201602         201601        4
28    AEX 2016-01-08         201603         201602        4
29    AEX 2016-02-19         201604         201603        4
30    AEX 2016-03-14         201605         201604        0
31    AEX 2016-04-11         201606         201605        0
32    AEX 2016-05-13         201607         201606        4
33    AEX 2016-06-13         201608         201607        0
34    AEX 2016-07-13         201609         201608        2
35    AEX 2016-08-18         201610         201609        3
36    AEX 2016-09-12         201611         201610        0
37    AEX 2016-10-17         201612         201611        0
38    AEX 2016-11-16         201701         201612        2
39    AEX 2016-12-12         201702         201701        0
40    AEX 2017-01-09         201703         201702        0
41    AEX 2017-02-17         201704         201703        4
42    AEX 2017-03-13         201705         201704        0
43    AEX 2017-04-11         201706         201705        1
44    AEX 2017-05-12         201707         201706        4
45    AEX 2017-06-13         201708         201707        1

               SOMEDAY  HOURS
0  2013-07-26 07:00:00      7
1  2013-10-18 10:00:00     10
2  2013-11-15 11:00:00     11
3  2013-12-18 12:00:00     12
4  2014-01-17 01:00:00      1
5  2014-02-20 02:00:00      2
6  2014-03-17 03:00:00      3
7  2014-04-15 04:00:00      4
8  2014-05-14 05:00:00      5
9  2014-06-19 06:00:00      6
10 2014-07-16 07:00:00      7
11 2014-08-13 08:00:00      8
12 2014-09-17 09:00:00      9
13 2014-10-16 10:00:00     10
14 2014-11-21 11:00:00     11
15 2014-12-19 12:00:00     12
16 2015-01-16 01:00:00      1
17 2015-02-18 02:00:00      2
18 2015-03-16 03:00:00      3
19 2015-04-15 04:00:00      4
20 2015-05-11 05:00:00      5
21 2015-06-15 06:00:00      6
22 2015-07-15 07:00:00      7
23 2015-08-04 08:00:00      8
24 2015-09-14 09:00:00      9
25 2015-10-12 10:00:00     10
26 2015-11-16 11:00:00     11
27 2015-12-11 12:00:00     12
28 2016-01-08 01:00:00      1
29 2016-02-19 02:00:00      2
30 2016-03-14 03:00:00      3
31 2016-04-11 04:00:00      4
32 2016-05-13 05:00:00      5
33 2016-06-13 06:00:00      6
34 2016-07-13 07:00:00      7
35 2016-08-18 08:00:00      8
36 2016-09-12 09:00:00      9
37 2016-10-17 10:00:00     10
38 2016-11-16 11:00:00     11
39 2016-12-12 12:00:00     12
40 2017-01-09 01:00:00      1
41 2017-02-17 02:00:00      2
42 2017-03-13 03:00:00      3
43 2017-04-11 04:00:00      4
44 2017-05-12 05:00:00      5
45 2017-06-13 06:00:00      6

In [34]:
only_3 = c_df[(c_df['HOURS'] == 3) | (c_df['HOURS'] == 6) ]
print(only_3)

   CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT  WEEKDAY  \
6     AEX 2014-03-17         201405         201404        0
9     AEX 2014-06-19         201408         201407        3
18    AEX 2015-03-16         201505         201504        0
21    AEX 2015-06-15         201508         201507        0
30    AEX 2016-03-14         201605         201604        0
33    AEX 2016-06-13         201608         201607        0
42    AEX 2017-03-13         201705         201704        0
45    AEX 2017-06-13         201708         201707        1

               SOMEDAY  HOURS
6  2014-03-17 03:00:00      3
9  2014-06-19 06:00:00      6
18 2015-03-16 03:00:00      3
21 2015-06-15 06:00:00      6
30 2016-03-14 03:00:00      3
33 2016-06-13 06:00:00      6
42 2017-03-13 03:00:00      3
45 2017-06-13 06:00:00      6

In [2]:
roll_df.set_index(['DATETIME'], inplace=True)
print(roll_df)

           CARVER CARRY_CONTRACT PRICE_CONTRACT
DATETIME
2013-07-26    AEX         201311         201310
2013-10-18    AEX         201312         201311
2013-11-15    AEX         201401         201312
2013-12-18    AEX         201402         201401
2014-01-17    AEX         201403         201402
2014-02-20    AEX         201404         201403
2014-03-17    AEX         201405         201404
2014-04-15    AEX         201406         201405
2014-05-14    AEX         201407         201406
2014-06-19    AEX         201408         201407
2014-07-16    AEX         201409         201408
2014-08-13    AEX         201410         201409
2014-09-17    AEX         201411         201410
2014-10-16    AEX         201412         201411
2014-11-21    AEX         201501         201412
2014-12-19    AEX         201502         201501
2015-01-16    AEX         201503         201502
2015-02-18    AEX         201504         201503
2015-03-16    AEX         201505         201504
2015-04-15    AEX         201506         201505
2015-05-11    AEX         201507         201506
2015-06-15    AEX         201508         201507
2015-07-15    AEX         201509         201508
2015-08-04    AEX         201510         201509
2015-09-14    AEX         201511         201510
2015-10-12    AEX         201512         201511
2015-11-16    AEX         201601         201512
2015-12-11    AEX         201602         201601
2016-01-08    AEX         201603         201602
2016-02-19    AEX         201604         201603
...           ...            ...            ...
2016-08-15    VIX         201609         201610
2016-09-19    VIX         201610         201611
2016-10-17    VIX         201611         201612
2016-11-15    VIX         201612         201701
2016-12-12    VIX         201701         201702
2017-01-12    VIX         201702         201703
2017-01-25    VIX         201703         201704
2017-02-24    VIX         201704         201705
2017-03-31    VIX         201705         201706
2017-04-27    VIX         201706         201707
2017-06-09    VIX         201707         201708
2000-01-04  WHEAT         200009         200012
2000-09-19  WHEAT         200109         200112
2001-09-18  WHEAT         200209         200212
2002-09-18  WHEAT         200309         200312
2003-09-18  WHEAT         200409         200412
2004-10-01  WHEAT         200509         200512
2005-09-20  WHEAT         200609         200612
2006-09-19  WHEAT         200709         200712
2007-09-18  WHEAT         200809         200812
2008-09-18  WHEAT         200909         200912
2009-09-18  WHEAT         201009         201012
2010-09-20  WHEAT         201109         201112
2011-09-20  WHEAT         201209         201212
2012-09-18  WHEAT         201309         201312
2013-12-03  WHEAT         201409         201412
2014-10-16  WHEAT         201509         201512
2015-09-15  WHEAT         201609         201612
2016-09-12  WHEAT         201709         201712
2017-09-15  WHEAT         201809         201812

[2452 rows x 3 columns]

In [8]:
import datetime
roll_df['SOMEDAY'] = roll_df.index.map(lambda x: x + datetime.timedelta(hours=x.month))
print(roll_df)

             CARVER CARRY_CONTRACT PRICE_CONTRACT             SOMEDAY
DATETIME
2014-10-24  EDOLLAR         201803         201806 2014-10-24 10:00:00
2015-02-24  EDOLLAR         201806         201809 2015-02-24 02:00:00
2015-08-31  EDOLLAR         201809         201812 2015-08-31 08:00:00
2015-11-17  EDOLLAR         201812         201903 2015-11-17 11:00:00
2016-02-22  EDOLLAR         201903         201906 2016-02-22 02:00:00
2016-08-12  EDOLLAR         201906         201909 2016-08-12 08:00:00
2016-11-15  EDOLLAR         201909         201912 2016-11-15 11:00:00
2017-02-15  EDOLLAR         201912         202003 2017-02-15 02:00:00
2017-05-15  EDOLLAR         202003         202006 2017-05-15 05:00:00
2017-08-15  EDOLLAR         202006         202009 2017-08-15 08:00:00

In [10]:
roll_df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>CARRY_CONTRACT</th>
      <th>PRICE_CONTRACT</th>
      <th>SOMEDAY</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014-10-24</th>
      <td>EDOLLAR</td>
      <td>201803</td>
      <td>201806</td>
      <td>2014-10-24 10:00:00</td>
    </tr>
    <tr>
      <th>2015-02-24</th>
      <td>EDOLLAR</td>
      <td>201806</td>
      <td>201809</td>
      <td>2015-02-24 02:00:00</td>
    </tr>
    <tr>
      <th>2015-08-31</th>
      <td>EDOLLAR</td>
      <td>201809</td>
      <td>201812</td>
      <td>2015-08-31 08:00:00</td>
    </tr>
    <tr>
      <th>2015-11-17</th>
      <td>EDOLLAR</td>
      <td>201812</td>
      <td>201903</td>
      <td>2015-11-17 11:00:00</td>
    </tr>
    <tr>
      <th>2016-02-22</th>
      <td>EDOLLAR</td>
      <td>201903</td>
      <td>201906</td>
      <td>2016-02-22 02:00:00</td>
    </tr>
    <tr>
      <th>2016-08-12</th>
      <td>EDOLLAR</td>
      <td>201906</td>
      <td>201909</td>
      <td>2016-08-12 08:00:00</td>
    </tr>
    <tr>
      <th>2016-11-15</th>
      <td>EDOLLAR</td>
      <td>201909</td>
      <td>201912</td>
      <td>2016-11-15 11:00:00</td>
    </tr>
    <tr>
      <th>2017-02-15</th>
      <td>EDOLLAR</td>
      <td>201912</td>
      <td>202003</td>
      <td>2017-02-15 02:00:00</td>
    </tr>
    <tr>
      <th>2017-05-15</th>
      <td>EDOLLAR</td>
      <td>202003</td>
      <td>202006</td>
      <td>2017-05-15 05:00:00</td>
    </tr>
    <tr>
      <th>2017-08-15</th>
      <td>EDOLLAR</td>
      <td>202006</td>
      <td>202009</td>
      <td>2017-08-15 08:00:00</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
print(roll_df[-1:])

     CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
2451  WHEAT 2017-09-15         201809         201812

In [11]:
print((roll_df[-1:].iloc[0]['PRICE_CONTRACT']))

201812

In [5]:
print(roll_df[-1:].index[0])

2017-09-15 00:00:00

In [4]:
pete = "Kawuki"
andrew = "Tamale"
row = [(pete, andrew), 7, 8]

In [6]:
row[0][0]

'Kawuki'

In [9]:
from collections import namedtuple
Named = namedtuple('Named', 'PRICE_CONTRACT CARRY_CONTRACT')
mats = Named("201506", "201606")
row = [mats, 34, 5]
print(row[0].PRICE_CONTRACT)

201506

In [20]:
import pandas as pd
dict = {"CARVER": "EDOLLAR", "CARRY_CONTRACT": '201505', "PRICE_CONTRACT": '201605'}
df = pd.DataFrame(dict, index=[0])
print(df)

  CARRY_CONTRACT   CARVER PRICE_CONTRACT
0         201505  EDOLLAR         201605

In [18]:
names = ["CARVER", "CARRY_CONTRACT", "PRICE_CONTRACT"]
professions = [6, '201505', '201605']
dc = dict(zip(names, professions))
print(dc)

TypeError: 'dict' object is not callable

In [2]:
print(roll_df.head())

  CARVER   DATETIME CARRY_CONTRACT PRICE_CONTRACT
0    AEX 2013-07-26         201311         201310
1    AEX 2013-10-18         201312         201311
2    AEX 2013-11-15         201401         201312
3    AEX 2013-12-18         201402         201401
4    AEX 2014-01-17         201403         201402

In [7]:
print(roll_df.loc[:, 'DATETIME'].max())

2017-10-19 00:00:00

In [10]:
rolli = roll_df[(roll_df['DATETIME'] != roll_df['DATETIME'])]
print(rolli)

Empty DataFrame
Columns: [CARVER, DATETIME, CARRY_CONTRACT, PRICE_CONTRACT]
Index: []

In [4]:
import pandas as pd
#from dbutils.panama import initialize_series
from sqlalchemy import create_engine


engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
marketdata_df = pd.read_sql_table(table_name="marketdata", con=engine)

for index,row in marketdata_df.iterrows():
    print(row['CARVER'])

AEX
AUD
BOBL
BTP
BUND
CAC
CHFUSD
COPPER
CORN
CRUDE_W
EDOLLAR
EUR
EURUSD
EUROSTX
GAS_US
GBP
GBPUSD
GOLD
JPY
KOSPI
KR10
KR3
KRWUSD
LEANHOG
LIVECOW
MXP
NASDAQ
NZD
OAT
PALLAD
PLAT
SMI
SOYBEAN
SP500
US2
US5
US10
US20
V2X
VIX
WHEAT

In [ ]:
import pandas as pd
df = pd.DataFrame([])
print(type(df))