In [22]:
import pymysql
import pandas as pd
import numpy as np
from pandas.io import sql
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
md_df = pd.read_sql_table(table_name="marketdata", con=engine)

print(md_df)

     CARVER      QUANDL      IB SECTYPE CURRENCY Q_EXCHANGE IB_EXCHANGE  \
0       AEX         FTI     EOE     FUT      EUR      LIFFE         FTA
1       AUD          AD     AUD     FUT      USD        CME      GLOBEX
2      BOBL        FGBM     GBM     FUT      EUR      EUREX         DTB
3       BTP        FBTP     BTP     FUT      EUR      EUREX         DTB
4      BUND        FGBL     GBL     FUT      EUR      EUREX         DTB
5       CAC         FCE   CAC40     FUT      EUR      LIFFE       MONEP
6    CHFUSD        None     CHF    CASH      USD       None    IDEALPRO
7    COPPER          HG      HG     FUT      USD        CME       NYMEX
8      CORN           C      ZC     FUT      USD        CME       ECBOT
9   CRUDE_W          CL      CL     FUT      USD        CME       NYMEX
10  EDOLLAR          ED      GE     FUT      USD        CME      GLOBEX
11      EUR          EC     EUR     FUT      USD        CME      GLOBEX
12   EURUSD        None     EUR    CASH      USD       None    IDEALPRO
13  EUROSTX        FESX  ESTX50     FUT      EUR      EUREX         DTB
14   GAS_US          NG      NG     FUT      USD        CME       NYMEX
15      GBP          BP     GBP     FUT      USD        CME      GLOBEX
16   GBPUSD        None     GBP    CASH      USD       None    IDEALPRO
17     GOLD          GC      GC     FUT      USD        CME       NYMEX
18      JPY          JY     JPY     FUT      USD        CME      GLOBEX
19    KOSPI  KRDRVFUK2I    K200     FUT      KRW        KRX         KSE
20     KR10  KRDRVFUBMA   FLKTB     FUT      KRW        KRX         KSE
21      KR3  KRDRVFUBM3    3KTB     FUT      KRW        KRX         KSE
22   KRWUSD        None     KRW    CASH      USD       None    IDEALPRO
23  LEANHOG          LN      HE     FUT      USD        CME      GLOBEX
24  LIVECOW          LC      LE     FUT      USD        CME      GLOBEX
25      MXP          MP     MXP     FUT      USD        CME      GLOBEX
26   NASDAQ          NQ      NQ     FUT      USD        CME      GLOBEX
27      NZD          NE     NZD     FUT      USD        CME      GLOBEX
28      OAT        FOAT     OAT     FUT      EUR      EUREX         DTB
29   PALLAD          PA      PA     FUT      USD        CME       NYMEX
30     PLAT          PL      PL     FUT      USD        CME       NYMEX
31      SMI        FSMI     SMI     FUT      CHF      EUREX      SOFFEX
32  SOYBEAN           S      ZS     FUT      USD        CME       ECBOT
33    SP500          ES      ES     FUT      USD        CME      GLOBEX
34      US2          TU      ZT     FUT      USD        CME       ECBOT
35      US5          FV      ZF     FUT      USD        CME       ECBOT
36     US10          TY      ZN     FUT      USD        CME       ECBOT
37     US20          US      ZB     FUT      USD        CME       ECBOT
38      V2X         FVS    V2TX     FUT      EUR      EUREX         DTB
39      VIX          VX     VIX     FUT      USD       CBOE         CFE
40    WHEAT           W      ZW     FUT      USD        CME       ECBOT

    MULTIPLIER
0          200
1            0
2            0
3            0
4            0
5           10
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
30           0
31           0
32           0
33           0
34           0
35           0
36           0
37           0
38           0
39           0
40           0

In [17]:
f = md_df[md_df['CARVER'] == 'AEX'].copy()

In [18]:
f

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>QUANDL</th>
      <th>IB</th>
      <th>SECTYPE</th>
      <th>CURRENCY</th>
      <th>Q_EXCHANGE</th>
      <th>IB_EXCHANGE</th>
      <th>MULTIPLIER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AEX</td>
      <td>FTI</td>
      <td>EOE</td>
      <td>FUT</td>
      <td>EUR</td>
      <td>LIFFE</td>
      <td>FTA</td>
      <td>200</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
f.loc[0]['QUANDL']

'FTI'

In [16]:
f.loc['CARVER'] = 'AEX'

In [13]:
f

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>QUANDL</th>
      <th>IB</th>
      <th>SECTYPE</th>
      <th>CURRENCY</th>
      <th>Q_EXCHANGE</th>
      <th>IB_EXCHANGE</th>
      <th>MULTIPLIER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AEX</td>
      <td>FTI</td>
      <td>EOE</td>
      <td>FUT</td>
      <td>EUR</td>
      <td>LIFFE</td>
      <td>FTA</td>
      <td>200</td>
    </tr>
    <tr>
      <th>CARVER</th>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
      <td>AEX</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
f

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>QUANDL</th>
      <th>IB</th>
      <th>SECTYPE</th>
      <th>CURRENCY</th>
      <th>Q_EXCHANGE</th>
      <th>IB_EXCHANGE</th>
      <th>MULTIPLIER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AEX</td>
      <td>FTI</td>
      <td>EOE</td>
      <td>FUT</td>
      <td>EUR</td>
      <td>LIFFE</td>
      <td>FTA</td>
      <td>200</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
md_df.set_index(['CARVER'], inplace=True)

In [28]:
for row in md_df.itertuples():
    print(row.Index)

AEX
AUD
BOBL
BTP
BUND
CAC
CHFUSD
COPPER
CORN
CRUDE_W
EDOLLAR
EUR
EURUSD
EUROSTX
GAS_US
GBP
GBPUSD
GOLD
JPY
KOSPI
KR10
KR3
KRWUSD
LEANHOG
LIVECOW
MXP
NASDAQ
NZD
OAT
PALLAD
PLAT
SMI
SOYBEAN
SP500
US2
US5
US10
US20
V2X
VIX
WHEAT

In [30]:
md_df.index.values[0]

'AEX'