In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')

In [2]:
carry_table = "edollar_carrydata"
try:
    carry_df = pd.read_sql_table(table_name=carry_table, con=engine, \
                                 index_col=['DATETIME'], \
                                 columns=['PRICE', 'CARRY', \
                                            'CARRY_CONTRACT', 'PRICE_CONTRACT'], \
                                 parse_dates=['DATETIME'])
except Exception as e:
    print(e)
    print("has _price series with no _carrydata series")

print(carry_df)

             PRICE   CARRY CARRY_CONTRACT PRICE_CONTRACT
DATETIME
1983-09-23  88.920  89.120         198409         198412
1983-09-26  89.060  89.260         198409         198412
1983-09-27  88.950  89.160         198409         198412
1983-09-28  88.900  89.110         198409         198412
1983-09-29  88.880  89.120         198409         198412
1983-09-30  88.920  89.190         198409         198412
1983-10-03  88.950  89.200         198409         198412
1983-10-04  88.950  89.180         198409         198412
1983-10-05  89.010  89.260         198409         198412
1983-10-06  89.020  89.280         198409         198412
1983-10-07  89.030  89.300         198409         198412
1983-10-10  89.030  89.200         198409         198412
1983-10-11  88.880  89.080         198409         198412
1983-10-12  88.920  89.120         198409         198412
1983-10-13  88.880  89.070         198409         198412
1983-10-14  88.940  89.150         198409         198412
1983-10-17  89.070  89.320         198409         198412
1983-10-18  89.020  89.260         198409         198412
1983-10-19  89.020  89.250         198409         198412
1983-10-20  88.980  89.210         198409         198412
1983-10-21  88.980  89.210         198409         198412
1983-10-24  88.870  89.090         198409         198412
1983-10-25  88.850  89.070         198409         198412
1983-10-26  88.850  89.080         198409         198412
1983-10-27  88.860  89.100         198409         198412
1983-10-28  88.830  89.070         198409         198412
1983-10-31  88.780  89.010         198409         198412
1983-11-01  88.760  88.990         198409         198412
1983-11-02  88.760  88.990         198409         198412
1983-11-03  88.660  88.850         198409         198412
...            ...     ...            ...            ...
2017-04-17  97.880  97.930         201912         202003
2017-04-18  97.965  98.010         201912         202003
2017-04-19  97.945  97.990         201912         202003
2017-04-20  97.880  97.925         201912         202003
2017-04-21  97.885  97.930         201912         202003
2017-04-24  97.845  97.890         201912         202003
2017-04-25  97.785  97.830         201912         202003
2017-04-26  97.810  97.855         201912         202003
2017-04-27  97.845  97.890         201912         202003
2017-04-28  97.845  97.890         201912         202003
2017-05-01  97.810  97.855         201912         202003
2017-05-02  97.845  97.890         201912         202003
2017-05-03  97.815  97.860         201912         202003
2017-05-04  97.780  97.825         201912         202003
2017-05-05  97.790  97.835         201912         202003
2017-05-08  97.770  97.815         201912         202003
2017-05-09  97.740  97.785         201912         202003
2017-05-10  97.765  97.810         201912         202003
2017-05-11  97.775  97.820         201912         202003
2017-05-12  97.860  97.910         201912         202003
2017-05-15  97.820  97.875         202003         202006
2017-05-16  97.830  97.885         202003         202006
2017-05-17  97.955  98.000         202003         202006
2017-05-18  97.930  97.975         202003         202006
2017-05-19  97.900  97.945         202003         202006
2017-05-22  97.890  97.935         202003         202006
2017-05-23  97.855  97.900         202003         202006
2017-05-24  97.880  97.925         202003         202006
2017-05-25  97.895  97.940         202003         202006
2017-05-26  97.890  97.935         202003         202006

[8468 rows x 4 columns]

In [22]:
ts = carry_df[-1:].index[0]

In [7]:
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

In [14]:
print(type(date))

In [13]:
date

Timestamp('2017-05-26 00:00:00')

In [16]:
print(date.asdatetime)

AttributeError: 'Timestamp' object has no attribute 'asdatetime'

In [20]:
datetime.utcfromtimestamp(date)

TypeError: a float is required

In [23]:
d = ts.as

TypeError: 'Timestamp' object is not callable

In [24]:
datetime.utcfromtimestamp(ts)

TypeError: a float is required

In [25]:
date

Timestamp('2017-05-26 00:00:00')

In [28]:
tomorrow = date + timedelta(days=1)

In [30]:
print(tomorrow)

2017-05-27 00:00:00

In [33]:
print(type(date))

<class 'pandas.tslib.Timestamp'>

In [34]:
print(type(tomorrow))

<class 'pandas.tslib.Timestamp'>