In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("admin/roll_history.csv")
df2 = df[df['CARVER']=='EDOLLAR'].copy()
df2.head(2)

     CARVER    DATETIME  CARRY_CONTRACT  PRICE_CONTRACT
56  EDOLLAR  1983-09-26          198409          198412
57  EDOLLAR  1983-12-12          198412          198503

In [33]:
#df2.set_index(['DATETIME'],inplace=True)
df2[0:1]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>CARRY_CONTRACT</th>
      <th>PRICE_CONTRACT</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1983-09-26</th>
      <td>EDOLLAR</td>
      <td>198409</td>
      <td>198412</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
# Check that maturities exist for price contract
import os
for row in df2.itertuples():
    raw_file = "quandl_history/EDOLLAR" + str(row.CARRY_CONTRACT) + ".csv"
    if not os.path.isfile(raw_file):
        print(raw_file, " is missing!")
        
        
    


    #print(raw_file)
    #print(type(str(row.PRICE_CONTRACT)))

In [22]:
# NOTES......
# Panama series generation happens between two pandas Dataframes and a splice date
# A Panama Price series and a Raw Price series
# The splice date must exist in both series
# The Panama series is truncated and adjusted by splice day delta at splice date
# The raw Pricce concatenates adjusted Panama series from splice date
# New Panama series

In [34]:
df2.head(4)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CARVER</th>
      <th>CARRY_CONTRACT</th>
      <th>PRICE_CONTRACT</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1983-09-26</th>
      <td>EDOLLAR</td>
      <td>198409</td>
      <td>198412</td>
    </tr>
    <tr>
      <th>1983-12-12</th>
      <td>EDOLLAR</td>
      <td>198412</td>
      <td>198503</td>
    </tr>
    <tr>
      <th>1984-01-12</th>
      <td>EDOLLAR</td>
      <td>198503</td>
      <td>198506</td>
    </tr>
    <tr>
      <th>1984-04-10</th>
      <td>EDOLLAR</td>
      <td>198506</td>
      <td>198509</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
df2[0:1]['PRICE_CONTRACT']

DATETIME
1983-09-26    198412
Name: PRICE_CONTRACT, dtype: int64

In [15]:
pan_file = 'quandl_history/EDOLLAR' + str(df2[0:1]['PRICE_CONTRACT'][0]) + '.csv'
pan_file

KeyError: 0

In [12]:
pan_df = pd.read_csv(pan_file, usecols=['Date', 'Settle'], index_col=['Date'],parse_dates=True)
pan_df.head(2)

NameError: name 'pan_file' is not defined

In [50]:
type(df2[1:2].index.values[0])

str

In [57]:
pan_df.loc['1983-09-26']

Settle    89.06
Name: 1983-09-26 00:00:00, dtype: float64

In [60]:
'1983-09-21' in pan_df.index

False

In [66]:
# First determine that base dataframe is at correct date and the two dataframes contain the splice date
base_df = pan_df.copy()
splice_maturity = df2[1:2]['PRICE_CONTRACT'][0]
splice_maturity

198503

In [67]:
splice_date = df2[1:2].index.values[0]
splice_date

'1983-12-12'

In [65]:
splice_date = df2[1:2].index.values[0]
splice_date

'1983-12-12'

In [68]:
splice_file = 'quandl_history/EDOLLAR' + str(df2[1:2]['PRICE_CONTRACT'][0]) + '.csv'
splice_df = pd.read_csv(splice_file, usecols=['Date', 'Settle'], index_col=['Date'],parse_dates=True)
splice_df.head(2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Settle</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1983-09-28</th>
      <td>88.70</td>
    </tr>
    <tr>
      <th>1983-09-29</th>
      <td>88.68</td>
    </tr>
  </tbody>
</table>
</div>

In [70]:
splice_date in pan_df.index

True

In [73]:
splice_date in splice_df.index

True

In [2]:
from dbutils.panama import *
new_pandf = pan_splice(pan_df,splice_df,splice_date)
new_pandf

NameError: name 'pan_df' is not defined

In [3]:
df2

NameError: name 'df2' is not defined